[2014-07-03 14:35] SYNchroACK opened #22 "CymruLib Problem"
[code]

[code]

[2014-07-04 19:08] SYNchroACK opened #23 "Bot ID - remove possible incompatible chars"

[2014-07-04 19:14] SYNchroACK opened #24 "RabbitMQ Connection Timeout ?"
After 1 hour (since processing_interval is 3600 seconds), it seems that RabbitMQ closed connection and bot crash. Try connect operation should solve the problem....

[code]

[2014-07-05 03:03] SYNchroACK opened #25 "Parameters Values logged"
Write a note in UserGuide regarding the debug log mode write all passwords from bots.conf configuration into log file.

[code]

[2014-07-05 03:20] SYNchroACK opened #26 "Destination Queue Created even if None"
Destination Queue Created even if None (lib/pipeline.py)

[2014-07-05 03:46] SYNchroACK opened #27 "Logcollector bot (output) - encode/decode problems"
[code]

[2014-07-05 15:08] SYNchroACK opened #28 "Add events counter funtionality in each bot"
Log number of events read per X time.
Ex:
every 1hour log the number of events read in that last hour.

[2014-07-05 15:09] SYNchroACK opened #29 "Add tools/filereceiver.py"
Inverse tool of tools/filesender.py

[2014-07-05 15:10] SYNchroACK opened #30 "Add IntelMQ path to Python Env Variable"

[2014-07-06 00:27] SYNchroACK opened #31 "MQ Configurations"
Add section in system.conf to change the default options of MQ System.

Ex:
Host
Port

[2014-07-07 22:00] #27 closed, assigned to nobody

[2014-07-10 10:51] #26 closed, assigned to nobody

[2014-07-10 12:11] #25 closed, assigned to nobody

[2014-07-10 12:39] #23 closed, assigned to nobody

[2014-07-10 16:27] SYNchroACK opened #34 "Add Allocated field from Cymru to Harmonization"

[2014-07-10 16:40] SYNchroACK opened #35 "Expert Bot - Cymru has a parsing bug"
Cymru two ASNs from one IP

[2014-07-11 12:06] SYNchroACK opened #38 "Messages counter - bot"
[code]

[2014-07-11 14:37] SYNchroACK opened #39 "Feature - Domain 2 IP"
Since some feeds just report a domain, cymru expert and others cant augment any information because the event doesnt have an IP. This feature/method should implement a domain lookup to return an IP.

**File:** lib/utils.py

[2014-07-12 00:14] #22 closed, assigned to nobody

[2014-07-12 00:17] #34 closed, assigned to nobody

[2014-07-12 01:26] #28 closed, assigned to nobody

[2014-07-12 16:04] SYNchroACK opened #41 "Remove unnecessary imports"
lib/bot.py example:

[code]

[2014-07-12 16:51] SYNchroACK opened #42 "Controller Tool"
### Commands List

**Run Bots (one by one)**

[code]

**List and Modify Pipeline**

[code]

**Run Botnet**

[code]
### Detailed Information
- Logger configuration from SYSTEM.conf must be removed because LOGGER-MODE should be an option independent for each bot.
- Pipeline.conf must be removed because Source Queue and Destination Queues must be stored in each bot configuration file located at botsc

[2014-07-12 18:24] #30 closed, assigned to nobody

[2014-07-12 18:34] SYNchroACK opened #44 "PostgreSQL Init DB"
The file 'initdb.sql' should be generate autocatically from 'docs/DataHarmonization-table.md'.

Reason: if we need to add/change/remove a specific field in Data Harmonization is it ok because the procedure will parse autocatically DataHarmonization with new field and with that, we dont need to change in all bots that depend on this.

[2014-07-12 18:56] SYNchroACK opened #45 "Input Bots (feed, parser, harmonizer) - Changing architecture"
To be easy the administration etc, may be we should merge 'parser bot' with 'harmonizer bot'.

**EDITED:** it will be reevaluated in release 2 because we need to have more input bots to see if makes sense to merge or not. May be shadowserver bot could be a good example to prove that we really need 'feed','parser' and 'harmonizer'

[2014-07-13 01:57] SYNchroACK opened #46 "Readme File improvements and Documentation Checks"
For example, need to improve [Arch image](https://camo.githubusercontent.com/152a9565a5ea1a689fc7654b2e2253b5b68fbdd2/687474703a2f2f6935382e74696e797069632e636f6d2f6e333935626f2e6a7067).

Documentation: Improve architecture images in documentation, etc

Use readthedocs.org or/and GitHub Pages for documentation.

[2014-07-14 19:24] SYNchroACK opened #47 "Observation Time"
**'observation time'** field:
- should be a mandatory field
- should be defined as soon as possible (parser bot may do this)

We need to think how can we do without add a new extra detail in all system that will create more complexity for user.

Accepting suggestions :)

[2014-07-18 00:33] SYNchroACK opened #49 "Package geoip2 - speedups not enabled"
**Steps:**

[code]

**Error:**

[code]

[2014-07-18 22:19] #41 closed, assigned to SYNchroACK

[2014-07-20 00:40] SYNchroACK opened #53 "Pipeline Layer - Improvements"
**Problem:** is important to have a system independent from the MessageQueue system. Should be possible to execute the system with zeromq and rabbitmq just changging the pipeline.py. With this in mind, the system should also support different type of messages.

**Short Example:**
[code]

[2014-07-20 00:52] SYNchroACK opened #54 "Encode Errors"
Need to improve this method: https://github.com/certtools/intelmq/blob/master/intelmq/lib/utils.py#L76

[2014-07-21 16:11] SYNchroACK opened #56 "Sanitize Error"
Sanitizer need to check if is a url or a domain..

[2014-07-21 20:55] SYNchroACK opened #57 "Log last message (event/report) when bot died"
have a possibility to know on which event a bot died

[2014-07-21 21:48] SYNchroACK opened #59 "Queue Durability / Persistente Messages"
http://www.rabbitmq.com/tutorials/amqp-concepts.html

**Section** 'Queue Durability'

[2014-07-21 21:50] SYNchroACK opened #60 "SMTP logging"
Use SMTP logging etc
http://lanyrd.com/2013/pycon/scdzbx/#link-qkct

[2014-07-21 21:55] SYNchroACK opened #61 "AbuseHelper Bot (input)"
AbuseHelper bot is not following the pattern:

[code]

**Note:** carefull with encoding

[2014-07-21 23:30] SYNchroACK opened #62 "Reported Fields"
Change field keys in input bots to 'reported_*****_' and copy them to normal fields like source_**_\* in harmonization bot

[2014-07-22 00:58] #54 closed, assigned to SYNchroACK

[2014-07-22 18:08] SYNchroACK opened #64 "Repository size"
http://dound.com/2009/04/git-forever-remove-files-or-folders-from-history/

[2014-07-24 13:33] SYNchroACK opened #66 "Source time missing"
Some input bots doesnt have source_time

[2014-07-24 13:35] SYNchroACK opened #67 "Sanitize Arch"
I think /lib/ should have a sanitize lib(utils) and each input bot should use sanitize utils to sanitize all information. It needs to be a sanitizer specific to each bot due the input data details.

[2014-07-24 13:47] SYNchroACK opened #68 "Queue Stats"
http://www.rabbitmq.com/blog/2010/08/06/management-monitoring-and-statistics/

[2014-07-25 00:04] #57 closed, assigned to SYNchroACK

[2014-07-25 15:55] SYNchroACK opened #70 "Pipeline RabbitMQ Improvements"
[code]

[2014-07-28 13:14] cokebottle opened #72 "csv / tsv parsing"
We need to create generic method for parsing csv, tsv and/or other types of unformatted data

[2014-07-31 19:07] SYNchroACK opened #73 "Output to Database by default"
All events should be stored by default into a database. Feedback received from multiple people. (MongoDB or PostgreSQL.)

[2014-07-31 19:57] SYNchroACK opened #74 "Cymru Expert Configurations"
Updated:

Sysadmin should be able to configure an expert to query just specific events which does not contain information regarding some confidential information (private & confidential feed).

[2014-08-01 17:34] SYNchroACK opened #76 "DragonResearchGroup HTTP"
http://dragonresearchgroup.org/insight/http-report.txt

[2014-08-01 18:03] SYNchroACK opened #77 "PostgreSQL Encoding Error"
[code]

[code]

**FIX**

[code]

[code]

[2014-08-02 18:13] SYNchroACK opened #78 "Encoding Errors"
Some data sources has some encoding problems like DragonResearchGroup SSH Feed (http://dragonresearchgroup.org/insight/sshpwauth.txt)

Check last line (incompleted encode):

[code]

I need some feedback from you guys.
I'm thinking add a new parameter in decode util to force the decoding in utf-8 and ignore this problems:

Code:

[code]

[2014-08-03 02:17] SYNchroACK opened #82 "Advanced Dedup Expert"
Evaluate how to create an dedup expert for every data source because each data source has a different way to remove deduplicates.

[2014-08-03 03:49] #67 closed, assigned to SYNchroACK

[2014-08-03 03:49] #66 closed, assigned to SYNchroACK

[2014-08-03 03:49] #62 closed, assigned to nobody

[2014-08-03 03:51] #47 closed, assigned to nobody

[2014-08-03 03:52] #78 closed, assigned to SYNchroACK

[2014-08-03 03:55] SYNchroACK opened #84 "intelmqhelper"
Tool that will help sysadmin to run bots and configure them. This tool will use INFO file from bots folder.

[2014-08-03 15:03] SYNchroACK opened #85 "Log all fetch url"
Always log when download and check if something went wrong and raise an exception

[2014-08-06 11:27] SYNchroACK opened #87 "Defaults config"
[code]

[2014-08-06 16:33] SYNchroACK opened #90 "National CERT Expert"
https://contacts.cert.at/cgi-bin/abuse-nationalcert.pl

[2014-08-08 13:21] aaronkaplan opened #92 "proposal: rename processing_interval to "rate_limit" in /etc/intelmq/bots.conf"
see subject

[2014-08-11 16:26] SYNchroACK opened #93 "Bots - Create / Improve"
...

[2014-08-11 16:54] SYNchroACK opened #94 "How to update intelmq already installed"

[2014-08-11 16:59] #76 closed, assigned to nobody

[2014-08-12 23:51] #84 closed, assigned to SYNchroACK

[2014-08-12 23:53] #87 closed, assigned to SYNchroACK

[2014-08-12 23:57] #45 closed, assigned to SYNchroACK

[2014-08-12 23:59] SYNchroACK opened #96 "Remove try:except from Postgresql bot"

[2014-08-13 14:38] SYNchroACK opened #97 "ShadowServer bot improvements"
Shadowswerver mails with no attachment (only a download link
for the report) are not yet handled at this moment.

[2014-08-13 20:39] SYNchroACK opened #100 "Mail Collector Bot"
TODO: subject needs to be regex
TODO: attachments needs to be regex

[2014-08-13 20:57] #96 closed, assigned to SYNchroACK

[2014-08-15 18:09] SYNchroACK opened #103 "Shadowserver SandboxAPI"
http://www.shadowserver.org/wiki/pmwiki.php/Services/Sandboxapi

[2014-08-16 00:30] #100 closed, assigned to SYNchroACK

[2014-08-16 00:30] #97 closed, assigned to SYNchroACK

[2014-08-16 02:09] SYNchroACK opened #104 "Bot - DebugData"
Create a bot for develop purposes. This bot should have a list of chars and strings that usually are found in bad sanitized input.

[2014-08-16 14:25] SYNchroACK opened #105 "Bots - CybOX Input and CybOX Output"

[2014-08-16 22:13] SYNchroACK opened #106 "Observation Time is not being applied"

[2014-08-17 14:02] #85 closed, assigned to SYNchroACK

[2014-08-17 15:40] SYNchroACK opened #107 "Rename 'source_time' and 'observation_time'"
**Reason:** since we have the following names for keys, doest make sense have 'source_time' because it will be misunderstood.

* 'source_*' names for keys related to source of connection
* 'destination_*' names for keys related to destination of connection

**Suggestion:**
* 'source_time' -> 'timestamp'
* 'observation_time' -> 'system_timestamp'

[2014-08-17 15:49] SYNchroACK opened #108 "Remove lib.sanitize ASAP"

[2014-08-17 16:42] SYNchroACK opened #109 "Detect hxxp and replace"

[2014-08-17 18:35] #109 closed, assigned to SYNchroACK

[2014-08-17 18:35] #108 closed, assigned to SYNchroACK

[2014-08-17 18:36] #106 closed, assigned to SYNchroACK

[2014-08-17 18:38] #56 closed, assigned to SYNchroACK

[2014-08-17 18:42] #39 closed, assigned to BrunoMCBraga

[2014-08-17 18:43] SYNchroACK opened #111 "Improve IP lookup"
python adns library: https://pypi.python.org/pypi/adns-python/1.2.1

[2014-08-18 01:24] SYNchroACK opened #112 "Split OpenBL feed into multiple feeds correspondents to blacklist service"

[2014-08-18 04:07] SYNchroACK opened #113 "Improve Data Harmonization"

[2014-08-18 16:18] SYNchroACK opened #114 "PhishTank encoding problems"
[code]

[2014-08-18 16:54] #24 closed, assigned to nobody

[2014-08-19 10:14] SYNchroACK opened #115 "Add timeout socket in sanitize"

[2014-08-19 14:46] SYNchroACK opened #116 "Source Time Problems"
Append to source_time string " UTC"

Bots with problems:
- MalwareDomainList
- DragonResearchGroup
- OpenBL

[2014-08-19 15:59] #116 closed, assigned to SYNchroACK

[2014-08-20 13:10] SYNchroACK opened #117 "JSON message"

[2014-08-20 13:23] SYNchroACK opened #118 "MalwarePatrol"
Add more sources from MalwarePatrol

[2014-08-22 00:51] SYNchroACK opened #119 "RabbitMQ is too slow"
Check the algorithm

[2014-08-22 00:55] SYNchroACK opened #120 "Expert - Cymru - Cache check by BGP or specific network mask"
https://github.com/certtools/intelmq/blob/master/intelmq/bots/experts/cymru/cymru.py#L7

is not right to do with /24, we need to use the BGP_prefix

[2014-08-22 01:49] SYNchroACK opened #121 "Configuration Files"
If we keep with all configuration files, we should rename to:

[code]

If we try to merge files:

[code]

Merge completly:

[code]

[2014-08-22 01:51] SYNchroACK opened #122 "PostgreSQL Update"
Update all keys

[2014-08-23 18:57] #42 closed, assigned to ics

[2014-08-23 19:31] #77 closed, assigned to aaronkaplan

[2014-08-24 00:35] #122 closed, assigned to nobody

[2014-08-24 00:36] #113 closed, assigned to nobody

[2014-08-24 00:37] #44 closed, assigned to aaronkaplan

[2014-08-24 05:39] SYNchroACK opened #123 "API"
Suggestions for API:
- Tornado

[code]

Any other suggestions?

[2014-08-24 19:14] #38 closed, assigned to nobody

[2014-08-24 19:21] #94 closed, assigned to SYNchroACK

[2014-08-26 01:35] SYNchroACK opened #124 "/var/run/ gone..."
# mkdir /var/run/intelmq

[2014-08-27 18:17] #124 closed, assigned to SYNchroACK

[2014-08-27 18:18] SYNchroACK opened #125 "Use messages tags: report, abuse-event, pastebin, tweet"

[2014-08-27 18:20] SYNchroACK opened #126 "Stop bot when it crashed"
When bots crashed they stop at retry function to wait 30s... but if you stop the bot normally using intelmqctl you will crash completely due the lack of try:catch

[2014-08-27 18:21] SYNchroACK opened #127 "Output Bot - BlackListGenerator"
Formats:
- csv
- json
- snort
- suricata

[2014-08-27 18:22] SYNchroACK opened #128 "Retry_delay should be a system.conf parameter"

[2014-08-27 18:40] SYNchroACK opened #129 "Easy Approach to create bots"
By default, intelmq must create a folder in the root of installation (..python2.7/dist.../intelmq/bots/customs/) and create a link in some easy place (/opt/intelmq/) to that folder.

The reason is to give the possibility to new users to create a bot with the template already installed and also the auxiliary and empty BOTS file:

[code]

All this stuff must be automatiically loaded by intelmq.

[2014-08-29 17:31] #115 closed, assigned to SYNchroACK

[2014-08-30 17:03] #119 closed, assigned to SYNchroACK

[2014-08-30 17:06] #129 closed, assigned to SYNchroACK

[2014-08-30 17:08] #72 closed, assigned to cokebottle

[2014-08-30 17:09] #114 closed, assigned to SYNchroACK

[2014-08-30 19:06] #126 closed, assigned to SYNchroACK

[2014-08-30 19:10] SYNchroACK opened #130 "intelmqctl --list-queues"
Pipeline.py lib MUST always implement a method to list queues event if is supported on Redis, RabbitMQ or other.... because intelmqctl needs to have access to the current number of events in each queue.

[2014-08-30 19:11] #117 closed, assigned to SYNchroACK

[2014-08-31 16:41] adulau opened #131 "License and making the project public"
Hi All,

It seems that the project has a free sofware license and the developement is quite active. It would be a good opportunity to make the project public. It will show the committement of the team and maybe attract other potential users and developer to the platform.

Cheers.

[2014-09-02 14:23] #130 closed, assigned to SYNchroACK

[2014-09-04 16:07] mauroasilva opened #132 "system.conf log parameters"
Make bots log to the folder specified in the log_path parameter of system.conf and change the name of logging_level to log_level

[2014-09-11 11:26] cokebottle opened #133 "Typo in intelmq / docs / UserGuide.md"
There is a typo:
cp /etc/intelmq/system.py /etc/intelmq/system.py.bk
cp /etc/intelmq/startup.py /etc/intelmq/startup.py.bk
cp /etc/intelmq/runtime.py /etc/intelmq/runtime.py.bk
cp /etc/intelmq/pipeline.py /etc/intelmq/pipeline.py.bk

It should be *.conf to all files
cp /etc/intelmq/system.conf /etc/intelmq/system.conf.bk
cp /etc/intelmq/startup.conf /etc/intelmq/startup.conf.bk
cp /etc/intelmq/run

[2014-09-15 16:48] #131 closed, assigned to nobody

[2014-09-17 16:47] SYNchroACK opened #135 "log path"
bot.py should load the log_path parameter from system.conf.

[2014-09-19 07:45] cokebottle opened #136 "Remove rabbitmq from UserGuide.md"
Remove rabbitmq references from UserGuide.md

[2014-09-19 09:05] #136 closed, assigned to SYNchroACK

[2014-09-19 16:27] mauroasilva opened #137 "Create intelmq user/group"
Create intelmq group and associate all folders/files from intelmq to that group to allow easier interaction with the manager

[2014-09-23 09:47] #137 closed, assigned to nobody

[2014-09-23 09:47] #133 closed, assigned to nobody

[2014-09-23 09:49] SYNchroACK opened #138 "Improve Redis lib"

[2014-09-23 09:50] SYNchroACK opened #139 "Improve Mail Collector bot - N6 Feed"

[2014-09-24 17:38] SYNchroACK opened #140 "Change lib/event.py to lib/message.py"

[2014-09-24 17:44] #138 closed, assigned to nobody

[2014-10-01 12:24] cokebottle opened #142 "Uninstall feature"
Currently Intelmq provides no removal/uninstall feature.
I think it would be useful to have also this feature.

[2014-10-01 13:14] #142 closed, assigned to SYNchroACK

[2014-10-01 15:08] #135 closed, assigned to nobody

[2014-10-01 15:08] #132 closed, assigned to nobody

[2014-10-01 15:27] #121 closed, assigned to SYNchroACK

[2014-10-01 15:49] mauroasilva opened #147 "Create a Message class and make Event a subclass of it"
To allow for new message types we should create a generic "Message" class which is (mostly) the current Event class and make the Event class a subclass of it.

[2014-10-01 15:49] #140 closed, assigned to SYNchroACK

[2014-10-06 16:06] #147 closed, assigned to nobody

[2014-11-16 01:01] SYNchroACK opened #151 "Permissions issue"
chmod -R 750 /usr/local/bin/intelmqctl

[2014-11-16 02:06] SYNchroACK opened #152 "After reboot /var/run/intelmq"
After reboot, if the manager throught intelmqctl try to execute any command, it will not work because /var/run/intelmq doest not exist and www-data doesnt have perms to create it.

[2014-11-17 11:13] SYNchroACK opened #153 "Message lib accepts values different from strings"
Message values must be always strings.

[2014-11-17 15:25] #139 closed, assigned to SYNchroACK

[2014-11-24 11:28] SYNchroACK opened #154 "Pipeline Bug"
Replace 'rpush' to 'lpush':
[code]
[code]

[2015-01-06 16:33] aaronkaplan opened #155 "Core - Hashing - SHA1 is deprecated"
This is a minor thing for now, however, in the long run we should switch to SHA2 since SHA1 has problems when it comes to possible collisions.

From file:
lib/utils.py:

def hashgen(data, func=hashlib.sha1):

--> switch to SHA2

[2015-01-06 16:35] aaronkaplan opened #156 "Lacking a national CSIRT filter"
National CERTs need to filter events by country code. I.e.: is this event relevant for my country?

Solution: create a filter bot (expert) which accepts in its config a country code (ISO 2 letter country code) and will filter out all events which do not match that particular country code.

[2015-01-07 00:35] aaronkaplan commented on #156
Fixed with push 4447f888906e797d41b6019b972f5c5adb47f3e8

[2015-01-07 00:35] #156 closed

[2015-01-13 15:53] azet commented on #155
btw. if you want to use a good crypto api, there's now a new python crypto authority (hashlib kinda sucks):  http://cryptography.io/ (compatible with python2 and python3

[2015-02-23 09:29] aaronkaplan opened #157 "Output - PostgreSQL - Handling insertion errors"
If the data arriving at the postgresql bot can not be inserted into the postgresql DB, it should not stop processing but rather log an error an continue.

[2015-03-02 09:40] aaronkaplan opened #159 "Extra - Automatic unit testing"
intelmq so far completely lacks unit testing features. It would be very important to have unit testing in place - especially since the project is growing.

There are a couple of mechanisms in Python to do unit testing - for example: https://docs.python.org/2/library/unittest.html

For unit-testing individual  bots, I propose having a special "testing" mode where a well defined pipeline data comes

[2015-03-04 23:45] chorsley commented on #159
Having just worked through a project using unit / integration testing, I've found the following very useful:

* For enhanced test discovery / utility functions: http://nose.readthedocs.org/en/latest/index.html
* For mocking return values and exceptions: http://www.voidspace.org.uk/python/mock/mock.html
* For date manipulation: https://github.com/spulec/freezegun

Tox also seems to be getting a lot

[2015-03-06 09:36] aaronkaplan opened #160 "dshield bot has an issue"
6434	2015-03-06 10:32:23,533	dshield-parser	ERROR	Pipeline connection failed (UnboundLocalError("local variable 'ip' referenced before assignment",))

Stack trace in the dshield bot:

Check the following exception:
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/intelmq-0.0.9-py2.7.egg/intelmq/lib/bot.py", line 60, in start
    self.process()
  File "/usr/local/li

[2015-03-06 10:11] aaronkaplan opened #161 "the upgrade procedure overwrites /etc/intelmq/* configs."
```pip install --upgrade git+https://$username@github.com/certtools/intelmq.git ```  overwrites the /etc/intelmq/* configs.
That can be unexpected behaviour (even if documented) for users.
We should improve the user experience here.

[2015-03-06 10:13] aaronkaplan commented on #160
Fixed with commit 662df80521254856c4c504575449e857cc02cd3e

[2015-03-06 10:13] #160 closed

[2015-03-06 10:21] aaronkaplan opened #162 "if /etc/intelmq is not writeable (permissions) then intelmq-manager does not show it to the user"
If the unix ownership of /etc/intelmq/* is not set to intelmq:intelmq (with proper perms 0644), then intelmq-manager will say "yes, I 'll save your config" when the user presses "save" . However, it has not feedback if the save operation succeeded. In the case of wrong ownership/perms, it did not succeed.

Need to fix the user experience here.

[2015-03-11 09:28] aaronkaplan commented on #154
Is this fixed?

[2015-03-11 09:28] aaronkaplan commented on #153
Fixed?

[2015-03-11 09:31] aaronkaplan opened #163 "Parser - N6 - finalize"
re-testing and upload it to the repo

[2015-03-11 09:33] aaronkaplan commented on #159
Thanks Chris! Will take a look

[2015-03-11 09:36] aaronkaplan commented on #93
I believe these are still missing?

[2015-03-11 10:26] aaronkaplan opened #164 "Core - Redis - speedups with pipelining of commands"
There is plenty of room for Redis speed improvements by using pipelining as described for example [here](https://github.com/andymccurdy/redis-py#pipelines)
# no pipelining (1000 bytes requests, 1 million requests)

[code]
# with pipelining (pipeline depth 10000, 1 million requests, each 1000 bytes )

[code]

[2015-03-16 10:13] aaronkaplan opened #165 "Collector - URL - Add user-agent"
Some feeds seem to block the default urllib2 user-agent:

Example:

[code]

--> blocked

[code]

--> works!

So, it might be a good thing to add a user-agent parameter to the url fetcher bot.
(credits for discovering this go to @chorsley )

[2015-03-17 22:26] SYNchroACK opened #166 "Parser Bot - Dshield - IPv6 not supported"
[code]

[2015-03-20 02:05] SYNchroACK commented on #154
Fixed. 23a99ad3c59a0cf214735a2deb3794d99a20cc1b

[2015-03-20 02:05] #154 closed

[2015-03-20 02:07] SYNchroACK commented on #152
Fixed

[2015-03-20 02:07] #152 closed

[2015-03-20 02:08] SYNchroACK commented on #151
Fixed

[2015-03-20 02:08] #151 closed

[2015-03-20 11:29] SYNchroACK commented on #162
Moved to intelmq-manager issues section

[2015-03-20 11:29] #162 closed

[2015-03-20 12:10] SYNchroACK commented on #161
Fixed.

0913cbb92f6efa3fa30b0868f521466dcc4347b7
f3d50d973aeac58c410a0f44fa4d87ad3df8d5ff

[2015-03-20 12:10] #161 closed

[2015-03-20 12:21] SYNchroACK commented on #92
done.

22582d0b9ac4a766d7036267ffd5ef8cc914ebeb

[2015-03-20 12:21] #92 closed

[2015-03-20 12:23] SYNchroACK commented on #73
I think its better to keep simple the default installation without extra specific databases. If the user wants to send to a database its just a matter of use intelmq-manager to add a new type of output.

[2015-03-20 12:23] #73 closed

[2015-03-20 12:24] #68 closed

[2015-03-20 12:26] #59 closed

[2015-03-20 12:27] SYNchroACK opened #167 "Expert - Cymru - Invalid values"
Another bug founded:
[code]

[2015-03-20 21:05] SYNchroACK commented on #128
Done. 97b28ca670dc7655a6b487efa7cefb4ae4dc3dbb

[2015-03-20 21:05] #128 closed

[2015-03-20 21:26] #70 closed

[2015-03-20 21:58] aaronkaplan commented on #111
why is this closed without any discussion?

[2015-03-20 21:59] aaronkaplan commented on #70
closed because it refers to rabbitmq?

[2015-03-20 23:19] SYNchroACK commented on #111
The current solution is the better, just need thread support.

[2015-03-21 01:54] aaronkaplan commented on #111
I am not sure if I agree.

[2015-03-22 00:45] SYNchroACK commented on #165
I suggest:
1. Create (if is not already created) the malc0de bots (IPs feed and Domains feed)
2. Verify that error persist
3. Add user-agent parameter to IntelMQ

[2015-03-22 01:59] SYNchroACK opened #168 "Core - Error cases - log to a different file the last message"
When something happens and bot need to log the message that was under processing, the bot MUST have a specific location to create a error.log where the sysadmin can see the raw message and the error:

[code]

[2015-03-22 04:29] aaronkaplan commented on #165
Agreed makes sense

---
Mobile

[2015-03-28 16:23] SYNchroACK opened #169 "Core - Startup checks"
Add some checks in intelmqctl to check:
- bot id is valid
- queues name are valid
- queues are already in use
- intelmqctl 'alreay message'

[2015-04-30 15:08] aaronkaplan opened #174 "regression: intelmq-manager does not properly write to new /opt/intelmq/etc/* files"
How to repeat:

try editing something in intelmq-manager (-> Configuration), press "Save".
The file ```/opt/intelmq/etc/pipeline.conf ``` will get written to properly, however, ```runtime.conf``` and ```startup.conf``` will not be written to (even though the permissions are the same)!

This will prevent the whole system from (re-)starting properly as intended.

[2015-04-30 15:09] aaronkaplan commented on #174
I am not sure yet, where the problem resides: in intelmqctl or intelmq-manager.

[2015-04-30 17:18] SYNchroACK commented on #174
@aaronkaplan which browser did you use?

[2015-04-30 18:21] aaronkaplan commented on #174
On Apr 30, 2015, at 7:18 PM, Tomás Lima <notifications@github.com> wrote:

Chrome on OS X

[2015-04-30 18:38] ufoczek commented on #174
That's correct. I will upload update soon.

[2015-05-04 15:16] Phantasus opened #175 "setup.py breaks with python3"
Installation of intelmq breaks with python version 3.

it works with python2.7 but not python3, as
python3 has print as a function and not a command.

Error:
  File "setup.py", line 8
    print "IntelMQ seems to be already installed due the existence of /opt/intelmq directory. If you continue the directory will be overwritten."

[2015-05-04 19:37] Phantasus opened #176 "Installation process - Python2 vs Python3"
Intelmq is optimized for python2 but as some users as I do have a multi
python env installed it would be a good idea to be able to select or to
write code so that it can run on both python2 and python3.

A fix for that is to run intelmqctl or other scripts directly with your current
python2 interpreter. like
[code]

[2015-05-04 20:13] aaronkaplan commented on #175
Pull requests are more than welcome :)

On May 4, 2015, at 5:16 PM, Josef P. Bernhart <notifications@github.com> wrote:

[2015-05-05 03:49] Phantasus commented on #175
Working on it :)

[2015-05-05 20:04] Phantasus commented on #175
Ok, I'm a bit embarassed but I would have a "work in progress suggestion":
https://github.com/Phantasus/intelmq/tree/python3

I'm interested into your opinion. Does it behave as excpected?
What should I fix? I could incoporate those then and open a pull request.

[2015-05-19 06:51] SYNchroACK commented on #159
https://github.com/certtools/intelmq-unit-test

Any feedback?

[2015-05-24 13:36] Rafiot opened #181 "Increase flexibility of the installer"
This is not really a bug, just me looking at the installer and taking some notes.. :)

- [x] I like being able to install projects in my home directory, I'm not sure how the project will like it, so I stick to the /opt/ way for now, and will look at it later (seems that the only hard coded paths are the config files, which makes total sense). Same as running an install script as root, me not likin

[2015-05-24 22:10] Th4nat0s commented on #93
ok for abuse by https://github.com/certtools/intelmq/pull/180

[2015-05-26 05:28] SYNchroACK commented on #181
Hi @Rafiot , if you have time, check the new version that is under developments.

https://github.com/certtools/intelmq-beta

[2015-05-26 06:23] Rafiot commented on #181
Hi @SYNchroACK, thank you, I will.
Just a practical question: why not just using a dev branch on the main project for the future release? it would be much easier to follow the differences.

[2015-05-26 08:42] aaronkaplan commented on #181
On May 26, 2015, at 8:23 AM, Raphaël Vinot <notifications@github.com> wrote:

Yeah, I asked the same. Seems the -beta repo will be deleted after successful merging into the main master tree.

[2015-05-26 09:26] Rafiot commented on #181
Well, that's why branches are there :)

[2015-05-26 09:30] aaronkaplan commented on #181
On May 26, 2015, at 11:26 AM, Raphaël Vinot <notifications@github.com> wrote:

I agree..

[2015-05-26 23:28] SYNchroACK commented on #181
@Rafiot , beta version has zmq support .... lib/pipeline.py
intelmqctl etc need some improvements to support it...

[2015-05-27 07:22] Rafiot commented on #181
Ok. I'm not sure it is interesting for you, but his is the way I implemented the redis & ZMQ support for AIL: https://github.com/CIRCL/AIL-framework/blob/master/bin/Helper.py

[2015-05-27 12:09] SYNchroACK commented on #181
Thanks

[2015-05-28 10:58] Phantasus opened #185 "DataHarmonization Document improvements"
Hi,

the DataHarmonization document needs some improvements:

1. When looking at it in a browser the table is too big to be actually displayed in a browser window.
2. The document itself isn't so clearly understandable. e.g When to prefix a key with reported? When not? How is someone supposed to add a new field? Like http method? Should that then be reported_http_method?

[2015-05-28 11:03] aaronkaplan commented on #185
Thx nice catch. What you saw was an intermediate version/commit on github. Will update it.

---
Mobile

[2015-05-28 13:27] SYNchroACK commented on #185
True. Regarding reported keys, IMHO, its something to remove because in the new version (https://github.com/certtools/intelmq-beta) we have raw field where we will specify the raw event.

I think its easy to agree with this one.

Feedback?

[2015-05-28 13:52] adulau opened #186 "Multiprocessing per queue is not supported"
Multiprocessing per queue is not supported. If you have to process a huge dataset and only a single process is handling a queue, you are time bound with DNS resolution or alike. It would be nice to ensure that you can handle multiple processes for handling a single queue.

[2015-05-28 13:55] Rafiot commented on #186
FYI, it is supported on AIL by this module: https://github.com/CIRCL/AIL-framework/blob/master/bin/Helper.py

I will see if it is possible to implement it.

[2015-05-28 14:14] aaronkaplan commented on #186
On May 28, 2015, at 3:52 PM, Alexandre Dulaunoy <notifications@github.com> wrote:

So concerning DNS in particular, we had a discussion on this already.
Tomas tried to implement threading here, but it turned out to be a bit awkward and ugly (a.k.a. complex).

So, we decided against this and reverted to processes and/or asynchronous DNS.
In fact, I'd like to see something like adns-tools for DNS lo

[2015-05-28 14:35] Rafiot commented on #186
Protip: never use threading in python. Been here, done that, bad idea.

My approach on AIL is to run processes poping values from a set and pushing the output on the next one.

I will dig into the code of intelmq to see if I can use the same library as in AIL.

[2015-05-28 14:35] SYNchroACK commented on #186
The new version that is under testing (https://github.com/certtools/intelmq-beta) is possible to enable 'load_balance' which is in the reality a splitte.

https://github.com/certtools/intelmq-beta/blob/master/intelmq/lib/pipeline.py#L82

What do you think about the idea? Is not multi-thread, is "muti-process".

[2015-05-28 14:47] aaronkaplan commented on #186
On May 28, 2015, at 4:35 PM, Raphaël Vinot <notifications@github.com> wrote:

ACK :)

okay. Cool! Thx a lot.

[2015-05-28 14:51] SYNchroACK commented on #186
Visualization of idea:

![pic](https://cloud.githubusercontent.com/assets/4184292/7862951/3aca861e-0551-11e5-8b4c-2f7fb45a3e89.png)

Parsers will have the load_balance option equal True, so they will send one event to cymru-1 and second one to cymru-2, and so on...

[2015-05-28 15:11] aaronkaplan commented on #186
I strongly dislike that we create loops in the graph.

[2015-05-28 15:17] adulau commented on #186
The best is to simplify such approach. In AIL for example, multiple processes can read from the same queue or publisher. That's it. So depending of the resource of the machine you can start one or more processes per queue/publisher.

[2015-05-28 15:27] SYNchroACK commented on #186
@aaronkaplan check the code and propose. Its a little bit hard to get a simple solution like the current one.

[2015-05-28 15:38] aaronkaplan commented on #186
On May 28, 2015, at 5:17 PM, Alexandre Dulaunoy <notifications@github.com> wrote:

Agreed.
That makes sense.

[2015-05-28 15:39] Rafiot commented on #186
Here is my model for one queue in AIL
![module](https://cloud.githubusercontent.com/assets/248875/7864114/7562c462-0560-11e5-97b3-c62c6c693ec7.jpg)

[2015-05-28 15:53] aaronkaplan commented on #186
+1 pub / sub seems a good way . Are pushes and pops atomic in redis?

[2015-05-28 15:54] adulau commented on #186
Yes.

[2015-05-28 16:44] aaronkaplan commented on #186
Let me maybe elaborate why I think the solution by @Rafiot seems better for me: because you can't make loops. Loops can bite us a lot if we are not careful to mark all the data which has already been processed. So what I do not yet understand in @Rafiot 's picture: if the data goes into the Set , is the pop atomic as well even for a whole message/event (seems like yes, because a list is a certain

[2015-05-28 20:27] Rafiot commented on #186
With my solution, you can make loops, which is a feature and not a bug because I fetch onions and process them again :)
Obviously, it only work if you use redis, and not ZMQ because you can't have multiple publisher on one one context.

In AIL, the 'message' is the path to the paste on the disk. In intelmq, it should be the json representation of one event (serialized).

tl;dr: QueueIn and QueueOu

[2015-05-29 10:53] SYNchroACK commented on #186
@aaronkaplan I think we miss something in the picture. Look carefully to arrows and you will see:
collector -> parser -> experts -> output

To be clear, new image:
![newpic](https://cloud.githubusercontent.com/assets/4184292/7881280/5b0a5dca-05f9-11e5-8dbe-0a30e41f2fb9.png)

[2015-05-29 12:12] aaronkaplan commented on #186
yes, I saw that. :) The DAG (https://en.wikipedia.org/wiki/Directed_acyclic_graph) is a DAG :) Well, acyclical. But the underlying undirected graph has cycles. It hurts my eyes. But I know right now it does not harm the processing :)

[2015-05-29 13:24] aaronkaplan commented on #174
any news on this?

[2015-05-29 13:26] aaronkaplan opened #187 "docu: link the DevGuide in the README"
title says it all

[2015-05-29 13:26] aaronkaplan commented on #187
Same for the user guide

[2015-05-29 13:58] Phantasus opened #188 "Core - Simplify bot utilities"
Hi,

utility functions need more extra arguments than is necessary, for example:

utils.generate_source_time(event, "source_time")
utils.generate_observation_time(event, "observation_time")

Why do we overspecify source_time and observation_time in an utility function which already
has those names in them? How about just:

utils.generate_source_time(event)
utils.generate_observation_time(event)

A

[2015-05-29 14:03] Phantasus opened #189 "Doc - Improve DataHarmonization.md"
Hi,

DataHarmonization.md reads clumsy and not that well formulated. As this is a very important
document it must be clear to understand. After reading it I still felt not to get "it".

I will add the relevant sections, which in my opinion need better explanation.

[2015-05-29 14:09] Phantasus opened #190 "Doc - Add configuration document and harmonize config files"
Hi,

when I read into IntelMQ I had difficulties to actually find out what should be written to
each config file (startup.conf, runtime.conf, BOTS, pipeline.conf, system.conf).

When *only* reading the DevGuide it seems like that the BOTS file is just for documentation
purpose there, but it is actually used for the IntelMQ Manager and so it should be explained,
that it is needed for that.

Also th

[2015-05-29 14:36] Rafiot commented on #186
The schema I did yesterday is for one queue.

in my terminology, Alienvault-collector is one queue, alienvault-parser is one queue, cymru-to-asn is one queue.

it doesn't make any sense to have multiple alienvault parser so we would not have multiple processes but the parser could be started multiple times, on multiple files and obviously cymru-to-asn will be started multiple times

[2015-05-29 14:51] SYNchroACK commented on #187
Please check it and tell me if is ok.

[2015-05-29 14:52] aaronkaplan commented on #187
thx, yes!

[2015-05-29 14:52] #187 closed

[2015-05-29 14:52] SYNchroACK commented on #188
Already solved in intelmq-beta.

Example: https://github.com/certtools/intelmq-beta/blob/master/intelmq/bots/parsers/alienvault/parser.py#L67

[2015-05-29 18:30] Phantasus commented on #185
@SYNchroACK, still not read. Trying to focus on that one :(

[2015-05-29 18:42] Phantasus commented on #107
I want to add another argument against renaming source_time:

When we rename it, it's not compatible to AbuseHelper (https://bitbucket.org/clarifiednetworks/abusehelper/wiki/Data%20Harmonization%20Ontology)

Someone could then add that compatibilty in every circumstances is a stupid idea as that could lead to complexity (e.g X86, Windows ...) but in our case compatibility is simple and what do we

[2015-05-29 18:47] Phantasus commented on #176
I have a better more practical idea: change all those shebang lines to python2. I converted in my initial stupidity all code to python3, which is actually ok, as we actually want to support that (python3 is cleaner => cleaner is less WTF => less WTF helps in acquiring people to help in project => more people mean more support and more usage => more usage means more work => more work means that eac

[2015-05-31 00:50] SYNchroACK commented on #190
@Phantasus make proposals.

[code]
A: may be a Config.md document where for each bot and for each config we can have a section where we describe the parameters, etc...

[code]
A: maye be we can rename the file to TEMPLATES

[code]
A: propose a new approach, i agree with you, its something to improve ;)

[code]
A: dont know... :(

[2015-05-31 00:52] SYNchroACK commented on #189
@Phantasus agree with you! Send the proposal, it will be really helpful for community.

[2015-05-31 00:52] #188 closed

[2015-06-01 07:34] Phantasus commented on #190
@SYNchroACK, I know I know it sucks when I just "point out stuff". But I'm working on a proposal(tm).
I open issues for IntelMQ so that they are recorded. And I just can make a solution which hopefully closes then the issue.

It's just more practical.

[2015-06-01 09:43] aaronkaplan opened #193 "portugese comments in pipeline.py (beta branch)"
Let's translate the portugese comments to english.

[2015-06-01 10:47] SYNchroACK commented on #193
fixed https://github.com/certtools/intelmq/commit/150e4e0291421994c17655437e57bbaa0cfd815c#diff-469e0830e543dd0b6c9a7ed0a1402fac

[2015-06-01 10:47] #193 closed

[2015-06-01 13:11] SYNchroACK commented on #190
ok @Phantasus . Really cool to have you on board with these kind of good procedures. Thank you for your help.

[2015-06-01 16:44] aaronkaplan opened #198 "wiki link broken in beta branch's README.md"

[2015-06-01 16:46] aaronkaplan opened #199 "README.md should have some text. Not only a link to the Wiki"
master branch (as well as beta branch):
It would be better to have a short description of the project, what it does and how it can help people on the main README.md file (as it was before!) Not only a link to the wiki.
Why? Because README.md is the de-facto landing page of the project.

[2015-06-01 21:53] SYNchroACK commented on #199
fixed 193d49193c8ed2572e2b82634a4beeb4026f42b3

[2015-06-01 21:53] #199 closed

[2015-06-01 21:53] SYNchroACK commented on #198
fixed

[2015-06-01 21:53] #198 closed

[2015-06-01 23:24] Rafiot commented on #186
Here is the very initial version of the queuing code I'm porting to a standalone module from AIL: https://github.com/Rafiot/MultiProcQueue

It is quite far from being ready, but most of the logic in there.

[2015-06-02 09:49] SYNchroACK opened #200 "Update CHANGELOG file"
* Default configurations paths in __init__.py file

[2015-06-02 22:39] Th4nat0s opened #203 "Can't launch beta version."
I had setuped, installed and set the right as user of the beta version.
I can't start anything and didn't have logs.. someone have an idea of where to look for something ?

[code]

[2015-06-02 23:17] SYNchroACK commented on #203
Few tests to try to solve:

* python req
[code]

* run directly
[code]

Feedback?

[2015-06-03 09:14] aaronkaplan opened #205 "docs/ files dissapeared"
Hi,

It's non intuitive to extra check out the github wiki repo for the project and then get the INSTALL file from there (or any other documentation file). Hence, I believe the markdown docs should be moved back to the docs/ folder because this is what you will see when you check out the project.
We can link these documents from the wiki page with some additional comments. OK?

Will send a PR for

[2015-06-03 09:22] SYNchroACK commented on #205
[code]

No. If it goes to docs folder we remove from wiki. We cant maintain both

[2015-06-03 09:26] aaronkaplan commented on #205
On Jun 3, 2015, at 11:22 AM, Tomás Lima <notifications@github.com> wrote:

Well, the Wiki can be just pointers to how to read the docs/* files, no?

[2015-06-03 09:39] aaronkaplan opened #206 "beta-branch - install instructions dont' work"
Following the install instructions...
then starting intelmq:

[code]

and:

[code]

[2015-06-03 10:04] SYNchroACK commented on #205
For me doest make sense to have both since you said is non intuitive. Less problems.

[2015-06-03 10:05] SYNchroACK commented on #206
[code]

[2015-06-03 10:08] aaronkaplan commented on #205
On Jun 3, 2015, at 12:04 PM, Tomás Lima <notifications@github.com> wrote:

Okay, well then I vote for keeping the docs/* files as they are.
Because you can see them when you check out the repo.

[2015-06-03 10:10] aaronkaplan commented on #206
fixed already in the last commit.
For Debian based systems, I  prefer to use apt-get install wherever possible.
Also sysadmins/devops prefer this approach because it allows them to keep packages updated continuously.
with pip install they usually have no direct control over what gets installed and updated when.

[2015-06-03 10:10] #206 closed

[2015-06-03 10:11] SYNchroACK commented on #205
I disagree but its not a core topic. Its ok for me.

[2015-06-03 10:15] aaronkaplan commented on #205
okay, we moved it back. closing this now.

[2015-06-03 10:15] #205 closed

[2015-06-03 10:57] pedrosa-t opened #207 "Installing pyzmq gives warning"
When installing pyzmq, using pip, gives a warning about disabling acceleration.
To solve that just install libzmq3-dev before installing pyzmq.

[2015-06-03 10:57] #207 closed

[2015-06-03 12:45] aaronkaplan opened #208 "MalwareDomainList Feed - add new feeds"
Hi, Just as a reminder in order to not forget: there seems to be way more data than we currently process in the malwaredomainslist collector. See : http://www.malwaredomainlist.com/forums/index.php?topic=3270.0 for a list of available data.

Not high prio... just noticing it and writing it down in order to not forget later.

[2015-06-03 12:46] aaronkaplan commented on #203
works for me, it was exactly the permission problem.
Though I followed the instructions in docs/UserGuide.md one to one, I still had the perms problem. I guess the chown was missing. Can be closed from my side.

[2015-06-03 13:00] aaronkaplan opened #209 "beta-branch - feature request"
Hi,
## Problem description

Since the format of events / messages changed in the beta branch, we have a slight problem when comparing the events.txt output between the "old" master branch and the beta branch.

While in the master branch an event in events.txt looks like this:

[code]

in the new beta branch in events.txt the same data looks like this:

[code]
## So how can we compare this?

Sugges

[2015-06-03 14:06] SYNchroACK commented on #209
sugestion:
had a temporary feature to beta-branch which will convert the output in the old one to compare directly.

[2015-06-03 14:14] aaronkaplan opened #210 "Passwords in plain text in the log files"
## problem description

When adding passwords to the bots configurations (runtime.conf), these get parsed as parameters and printed again in the log files in plain text.
That's not particularly pretty. Especially if you want the log files to be world readable.

I know this is not a serious issue right now, but I'd rather document it before we forget.

Example:
self.parameters.azure_account_key

--

[2015-06-03 16:29] Th4nat0s commented on #203
Missing plug for me... sorry about it.

[2015-06-03 16:29] #203 closed

[2015-06-03 22:58] SYNchroACK commented on #210
Change in system.log the log_level to INFO. Debug is debug. hehehe

[2015-06-04 14:11] Th4nat0s opened #212 "Output Bot - MongoDB export crash."
With v1 beta version, i got the following error with the output plugin mongo.
I use default feed of the beta

'''
2015-06-04 16:07:45,648 - MongoDB-output - ERROR - 'str' object does not support item assignment
Traceback (most recent call last):
  File "build/bdist.linux-x86_64/egg/intelmq/lib/bot.py", line 103, in start
    self.process()
  File "build/bdist.linux-x86_64/egg/intelmq/bots/outputs/

[2015-06-04 17:53] SYNchroACK commented on #212
True. I didnt test it but it will be fixed. If you want, propose a fix.

Thank you @Th4nat0s

[2015-06-04 17:54] Th4nat0s commented on #212
Didn't understand where is the issue in the record !! :)

[2015-06-05 07:51] ghost opened #214 "Bot command line parameters for manual interaction"
I propose to add to the bot class some command line handling
with the following characteristics:
1. Add a --debug flag which starts a bot in a debug mode, which:
   a. loads pdb (python debugger)
   b. sets breakpoint for process method for bot
   c. waits there for user input (pdb actually does that)
2. Add a --help directive to display a help message, which is generated by reading BOTS file.
3.

[2015-06-05 08:59] aaronkaplan commented on #214
My 2 cents: right now, I would not like to focus on this. Before that I want to see better unit tests for all bots. As mentioned, that's my 2 cents.
I like suggestion 3. However, again ... feature creep , later.. let's focus on the core issues first.

[2015-06-06 09:52] SYNchroACK commented on #210
feedback?

[2015-06-06 12:41] SYNchroACK commented on #214
The idea is interesting but as @aaronkaplan said, is not a priority.

[2015-06-06 12:45] SYNchroACK commented on #153
Fixed. lib/harmonization.py handles all datatypes configured in conf/harmonization.conf

[2015-06-06 12:45] #153 closed

[2015-06-06 12:52] SYNchroACK commented on #157
Fixed.
* in the v1.0-beta branch, values trully respect the harmonization since the datatype need to be defined.
* in the v1.0-beta branch, each bot can configure the following parameters like you need:
[code]

[2015-06-06 12:52] #157 closed

[2015-06-06 12:55] SYNchroACK commented on #163
Send a pull req. ;)

[2015-06-06 12:55] #163 closed

[2015-06-06 12:57] SYNchroACK commented on #167
v1.0-beta branch already handles these cases

[2015-06-06 12:57] #167 closed

[2015-06-06 13:04] SYNchroACK commented on #168
Fixed v1.0-beta branch. User just need to configure the bot with the following configuration parameter:
[code]

[2015-06-06 13:04] #168 closed

[2015-06-06 13:05] SYNchroACK commented on #174
@ufoczek , do you have the fix?

[2015-06-06 13:15] SYNchroACK commented on #181
[code]

In the new version, v1.0-beta branch, the __init__.py file in intelmq root is the only place where the PATHs are defined. In your custom installation you need to change it there and also the setup.py. If you see an opportunity to improve it, please, send a pull req. :)

[code]
Thanks for the feedback.

[code]
v1.0-beta branch it has REQUIREMENTS file since you suggest the idea ;)

[code]
:

[2015-06-06 13:32] #112 closed

[2015-06-06 13:35] SYNchroACK commented on #107
I will close this issue because its a harmonization discussion and we have some issues regarding this topic. Please comment there any harmonization ideas, etc...

[2015-06-06 13:35] #107 closed

[2015-06-06 13:37] SYNchroACK commented on #107
Check: https://github.com/certtools/intelmq/issues/185

[2015-06-06 13:50] SYNchroACK commented on #53
Done. v1.0-beta branch.

[2015-06-06 13:50] #53 closed

[2015-06-06 13:52] SYNchroACK commented on #46
@aaronkaplan can you give your feedback regarding this issue and how is the idea of readthedocs...
comment with the status...

[2015-06-06 13:53] SYNchroACK commented on #31
Done.

[2015-06-06 13:53] #31 closed

[2015-06-06 13:59] SYNchroACK commented on #125
v1.0-beta branch already solve it

[2015-06-06 13:59] #125 closed

[2015-06-06 14:07] SYNchroACK commented on #208
Moved to https://github.com/certtools/intelmq/issues/93

[2015-06-06 14:07] #208 closed

[2015-06-06 17:19] Th4nat0s opened #217 "Fresh install of beta, some bots dead..."
After a fresh reinstall of the beta, some parser don't work for me anymore...

[code]

And, indeed the utils is in lib
/dist-packages/intelmq-1.0.0-py2.7.egg/intelmq/lib

so it should be
  from intelmq.lib import utils

Isn't it ??  something was mixed with master before.

[2015-06-06 18:36] SYNchroACK commented on #217
I still need to test the experts and outputs. But yes, you re right about the solution.
Fixed 36ef20aada1a6d82a3de2eb223659e6035b59bfb

[2015-06-06 18:36] #217 closed

[2015-06-06 18:41] Th4nat0s commented on #217
I got the issue in beta 1 ! :)

[2015-06-06 19:25] aaronkaplan commented on #112
Hi @SYNchroACK : I know you opened this issue yourself and closed it yourself. But just out of interest - could you explain why you think this is not relevant anymore?
Thanks!

[2015-06-07 07:56] Th4nat0s opened #218 "Issue with the Bot file output"
I got a really strange issue with the last beta 1. I had linked the parser to the deduplicator then to file output

The bot don't start...
[code]

It didn't generate any logs.. BUT ...Manually... seems Ok.. no error, and no output
[code]
The logs then start... but it do "nothing"...
[code]

More fun, the queue seems all emptys.
[code]

But they do have events... (my custom parser sees them and had

[2015-06-07 08:40] Th4nat0s commented on #190
@SYNchroACK could you tell me which README.md template I could follow to document a bot ?

This one seem too light  https://github.com/certtools/intelmq/blob/master/intelmq/bots/experts/asnlookup/README.md

I miss the explanation of what the bot do ?  Isn't it ?

[2015-06-07 18:52] SYNchroACK commented on #190
@Th4nat0s you're completly right. Since Im dealing with a lot of code issues to release the new version, I would like to receive a proposal from you, do what you think make sense and I will give for sure feedback to improve it and in the end we will have a good template. Lets try to do it together.

First approach could be merge the ideas between the codes that has the README.md file and get the c

[2015-06-07 19:01] SYNchroACK commented on #112
Is here: https://github.com/certtools/intelmq/issues/93

[2015-06-07 19:19] SYNchroACK commented on #218
Well..more things to check:

1. remember that deduplicator can be removing duplicated events
2. when you run a bot manually as a root sometimes log files etc are created as root and then when you use the usual way to start, the bot will fail....

feedback?

[2015-06-07 21:17] Th4nat0s opened #219 "import broke cymru plugin"
https://github.com/certtools/intelmq/blob/v1.0-beta/intelmq/bots/experts/cymru_whois/expert.py

  from intelmq.bots.experts.cymru.lib import Cymru

Now it's
  from intelmq.bots.experts.cymru_whois.lib import Cymru

[2015-06-07 21:28] Th4nat0s commented on #218
Well, I'ts my dev machine, I flush reddis before test ; 
[code]
So deduplicator is "fresh".. then I also, at every install, launch a
[code]

I have the same issue with the cymru plugin (with import fixed). and abusix expert...
[code]

I could not start "alone"... but start with python... Still can't understand what append

[2015-06-07 23:01] SYNchroACK commented on #218
I found the problem. BOTS file which is being use by manager hás bugs... Reason, when i renamed the files like experts, i forgot to update BOTS file. I send a commit to fix it. Sorry

[2015-06-08 10:50] SYNchroACK commented on #219
Fixed. 8723a14a5776bc65e1cb0e3388167ab274148204

[2015-06-08 10:50] #219 closed

[2015-06-08 11:06] SYNchroACK commented on #218
I hope this commit will solve the issue: 4cf85c42454ff3b401aefb3899c3de37e9e4baf5

Feedback?

[2015-06-08 20:35] Th4nat0s commented on #218
Yes it was that... I think it miss a logfile for the stuff around the bots :)...
Anyway, it fix a lot thanks.

May we close ?

[2015-06-08 21:18] Th4nat0s opened #221 "cymru_whois is broken in beta version"
Hello (again)..

[code]

And indeed it miss a "export socket" in lib/harmonization.py

Then....

[code]

[2015-06-08 23:05] Th4nat0s commented on #221
After a check of IP... Well... it run.... but doesnt seems to work yet.... :)

[2015-06-09 05:08] Th4nat0s opened #222 "taxonomy expert is broken in the beta version"
Hello ...

[code]

Need at least :

[code]

in /intelmq/intelmq/conf/harmonization.conf

Here the quick fix... with json beautify https://github.com/certtools/intelmq/pull/223

[2015-06-09 07:40] SYNchroACK commented on #222
Thanks @Th4nat0s

[2015-06-09 07:40] #222 closed

[2015-06-09 07:41] SYNchroACK commented on #218
can you explain "I think it miss a logfile for the stuff around the bots" ? May be we can improve it...

[2015-06-09 10:43] SYNchroACK commented on #221
I think now is ok: ef928394f42f4e815508af646339090fadb4b647
Check and give feedback please.

[2015-06-09 16:10] Rafiot commented on #186
The code is almost ready, I use the same concepts as IntelMQ to make it an (easy enough) drop-in replacement. I will create a branch in IntelMQ for testing ASAP.

In theory the following should be enough:
- Use the Pipeline class from MultiProcQueue instead of the one of IntelMQ in Bot
- Launch launch_queues.py and launch_modules.py

We will see in practice... :)

[2015-06-09 17:15] Th4nat0s commented on #218
Well in this scenario where startup.conf is broken they're is no log telling it "try to start xxxx" etc.

[2015-06-09 17:34] SYNchroACK opened #225 "File Output Bot - possible encoding problems"
[code]

[2015-06-09 17:45] SYNchroACK commented on #218
hum... i think it will be difficult to have a good solution without too much complexity... but please, send a proposal, i think it will be really useful. ;)

[2015-06-09 18:00] Th4nat0s commented on #221
Work fine now ! nice.

[2015-06-09 18:12] SYNchroACK opened #226 "Bots to improve"
* sanitizer
* postgresql
* hpfeeds

remove the following bots because they will be included in a specific pull req with a lot of bots:
* cert-eu
* shadowserver

[2015-06-09 18:46] Th4nat0s commented on #226
filterbot should also understand AS and cidr (everybody is not a country cert :).
I could handle it since I need it :) ..

I think about a property "match" which could be a csv list with 2 letter country, ASxxxx, Ipv4 or Ipv6 cidr. and a property "usage" which could be "drop" or "keep" to invert selection.

So With the same filter on may remove "things" or "select things".

Is it ok ?

[2015-06-10 21:55] SYNchroACK commented on #221
Cool

[2015-06-10 21:55] #221 closed

[2015-06-11 07:20] Brandl opened #228 "Universal collector and expert based on odo"
Hello,

there is a brilliant python project called [odo](https://github.com/ContinuumIO/odo), basically the idea is to leverage a network of python data migration methods to get data from any shape into another.
It is also quite efficient and fault tolerant, because it uses shortest path from format A to B and takes a different path if one fails.

Basis Syntax:

Examples:

It tries to understand t

[2015-06-11 10:37] aaronkaplan commented on #228
Coool!

Thanks for this!

On Jun 11, 2015, at 9:20 AM, Brandl <notifications@github.com> wrote:

[2015-06-11 19:47] Th4nat0s commented on #228
Sounds nice since the mongodb is still broken .)

[2015-06-11 21:20] SYNchroACK commented on #228
@Th4nat0s mongodb output bot? Try again please

[2015-06-11 21:21] SYNchroACK commented on #226
@Th4nat0s check filter expert bot please.

[2015-06-11 21:22] SYNchroACK commented on #225
bug does not exists

[2015-06-11 21:22] #225 closed

[2015-06-11 21:25] Th4nat0s commented on #228
Did you fix https://github.com/certtools/intelmq/issues/212 ?

[2015-06-11 21:28] Th4nat0s commented on #226
Sorry i didn't understand what you mean, I see no filter beside the country code one in the branch v1 in the expert folder.

[2015-06-11 21:35] SYNchroACK commented on #226
https://github.com/certtools/intelmq/tree/v1.0-beta/intelmq/bots/experts/filter

[2015-06-11 21:35] SYNchroACK commented on #228
https://github.com/certtools/intelmq/commit/8f94772c159aabe9cf1574e0ba90e7c0ec3579ad

I think so

[2015-06-11 21:36] SYNchroACK commented on #212
Fixed https://github.com/certtools/intelmq/commit/8f94772c159aabe9cf1574e0ba90e7c0ec3579ad

[2015-06-15 14:40] Brandl opened #230 "Pip hangs, because of input() in setup.py"
Hey,

I'm currently trying to automate the creation of a Vagrant-development-box
(https://github.com/Brandl/intelmq-vagrant).

Unfortunately, I had some issues with pip freezing, when trying to install intelmq from source.
The problem seems to be the raw_input(), which requires user interaction:
https://github.com/certtools/intelmq/blob/master/setup.py#L9

[2015-06-15 14:43] SYNchroACK commented on #230
Hi @Brandl
Did you already check https://github.com/certtools/intelmq/tree/v1.0-beta/scrips/vagrant ?

Thank you,
Best regards

[2015-06-15 18:28] Brandl commented on #230
Well, I started working on it independently, before @aaronkaplan told me that there are major changes happening on the beta-branch and of course noticed that someone already played with vagrant.

The major difference is, that mine is built upon an ansible playbook:
https://github.com/ezeteze/intelmq-elk
Which I think is more robust and easier to maintain. Also a major difference is, that mine also

[2015-06-15 18:36] SYNchroACK commented on #230
I prefer this one 'I could refactor and merge my version into the beta-branch'. Thank you @Brandl

[2015-06-16 14:15] pedrosa-t commented on #230
I was stating the ELK installation with kibana 4 continuing the bootstrap script. But as @Brandl as it done in a ansible cookbook maybe we could change the provision of vagrant to ansible. What do you think?
Should provision be made in shell script or in an ansible cookbook?
Should we provide both options or even choose a different CMF ?

[2015-06-16 14:35] SYNchroACK commented on #230
To be honest, Im not familiar with any solution. I would support any solution that you and @Brandl can arrange together. Please, use this issue to discuss and decide ;) Thank you both of you

[2015-06-16 14:47] Brandl opened #231 "Provisioning solution for IntelMQ"
Hello,

basically, vagrant is not a provisioning framework, but a very handy too to automate the creation of virtual machines with support for different hypervisors. It comes with a simple config file called Vagrantfile and allows to execute bash scripts or full fledged provisioning after VM creation.

There is some prior art done by @pedrosa-t to setup intelmq with a simple, yet easy to understan

[2015-06-16 14:49] Brandl commented on #230
I made a separate issue(#231), because I still need a solution for my problem with pip freezing, because there is raw_input() within the setup.py script:
https://github.com/certtools/intelmq/blob/master/setup.py#L9

[2015-06-16 17:14] pedrosa-t commented on #231
Hi,
My idea was to automate the testing of the project on a virtual machine. So I used vagrant to execute a simple bash script that could deploy the beta branch of the project.

Follow my contribute to the discussion  :

1 - If the idea is only testing on a VM, maybe it will be overkill to use a CMF. If we want to enable users to automate the deploy intelmq services on their systems, we should evo

[2015-06-17 15:14] pedrosa-t opened #233 "v1.0-beta branch collecters are not starting"
After a clean install using the vagrant scripts the collectors are not starting.

intelmq@vagrant-ubuntu-trusty-64:~$ ./bin/intelmqctl --botnet status
arbor-collector is stopped.
arbor-parser is stopped.
file-output is stopped.
malware-domain-list-collector is stopped.
malware-domain-list-parser is stopped.
intelmq@vagrant-ubuntu-trusty-64:~$ ./bin/intelmqctl --botnet start
Starting Botnet...
Star

[2015-06-17 15:19] CNCS-PT commented on #233
@pedrosa-t Thank you.
Its fixed in v1.0 branch and also in v1.0-beta branch.

Please, use the v1.0 branch now... it will be merged in few days with master.

[2015-06-17 15:20] #233 closed

[2015-06-17 15:47] aaronkaplan commented on #233
On Jun 17, 2015, at 5:19 PM, National CyberSecurity Center <notifications@github.com> wrote:

I do not believe that merging with the master branch *without tests* from multiple partners in the project is a good idea. It might ruin stability.

My 2 cents,
a.

[2015-06-17 16:34] CNCS-PT commented on #233
Well, who wants to do the test?

[2015-06-17 17:05] pedrosa-t commented on #233
I've just clone the v1.0-final branch changed the bootscript.sh on vagrant to use this branch.
After the creation of the clean vm and deploy of intelmq, I've the following error.

vagrant@vagrant-ubuntu-trusty-64:~$ sudo su - intelmq
intelmq@vagrant-ubuntu-trusty-64:~$ ./bin/intelmqctl --botnet start
/usr/lib/python2.7/dist-packages/pkg_resources.py:1031: UserWarning: /opt/intelmq/.python-eggs is

[2015-06-17 21:13] aaronkaplan commented on #233
On Jun 17, 2015, at 6:34 PM, National CyberSecurity Center <notifications@github.com> wrote:

As discussed, I will do integration tests and compare against the output of the old format after my travels.

[2015-06-18 18:20] Phantasus commented on #120
Hi :-)

what is the state of this issue? Can it be closed? I mean it's open since a year
and supposed to be in release 1. Shouldn't all release 1 issues be closed by now,
as the devteam is bringing up a release 3 at the moment?

If not, I could try to help closing those issues as they have at the moment
reached an amount which is really confusing.

[2015-06-18 19:06] #226 closed

[2015-06-18 19:09] SYNchroACK commented on #226
moved to https://github.com/certtools/intelmq/issues/93

[2015-06-18 19:10] SYNchroACK commented on #210
@aaronkaplan , Can I close it?

[2015-06-18 20:20] Phantasus commented on #169
@SYNchroACK What do you think if, whoever does this issue, also fixes the bug of displaying "already started",
when a bot is freshly started? Atleast this is in the master branch, don't know if you fixed that already in
your beta branch.

[2015-06-18 20:26] Phantasus commented on #210
@SYNchroACK sure would be a solution. Don't know if that would be the best solution (= my 2 cents).

[2015-06-18 20:50] Phantasus commented on #159
I add here the links to my testing proposals: #236 (better TestCase) and #229, so that everything is linked together. My proposal uses python stdlib unittest, which has the following advantages:

1. No custom test-runner must be implemented (the general advantage of using a framework or library)
2. It ships with python (as also doctest does)
3. It uses a unittesting concept which is widely support

[2015-06-19 09:46] CNCS-PT commented on #210
Suggestion?

[2015-06-19 09:47] CNCS-PT commented on #169
accept

[2015-06-19 09:56] SYNchroACK commented on #210
@Phantasus , suggestions?

[2015-06-19 09:57] SYNchroACK commented on #169
@Phantasus , accepted

[2015-06-19 09:59] aaronkaplan commented on #210
On Jun 19, 2015, at 11:46 AM, National Cyber Security Center - Portugal <notifications@github.com> wrote:

sorry guys I can only answer all these github issues after my travels. Sorry for the delay.
200% busy here.

[2015-06-19 10:01] Phantasus commented on #210
@SYNchroACK no suggestions, I'm just unsure. You could also masquerade those outputs with "PROTECTED" in the logfile, but would make that sense? One ex-colleague did that once, wasn't IMHO an improvement.

[2015-06-19 10:24] SYNchroACK commented on #210
I think is not necessary...debug is debug... in production system its not usual to use debug mode...

[2015-06-19 11:00] Phantasus commented on #210
@SYNchroACK ehmmm.... no... I have seen production systems which use debug mode, as admins don't get enough information for troubleshooting out of the normal loglevels. It depends on the software if they do that or not. Also I doubt, that IntelMQ will be better configured than any other software package out there, we ship at the moment with a default loglevel of DEBUG in conf/system.conf.

So, the

[2015-06-19 11:07] Phantasus commented on #210
And here we have a PR for this issue. You can add it or whatever you wish with it.

[2015-06-20 05:51] Phantasus commented on #210
Can we now close the issue?

[2015-06-21 00:39] #210 closed

[2015-06-23 14:06] Phantasus commented on #29
How urgent is this? I mean it should be in release2 and we are filling up release3. If not important,
then it would be a good idea to close this issue.

I'm sorry for pestering people regarding number of open issues, but I think it would be b
etter if we come down with the list of open issues.

[2015-06-23 15:02] Phantasus commented on #111
To summarize from what I think to understand: This issue was opened because of slow DNS resolving. Then we had the threading experiment, which hasn't taken off and which was done by @SYNchroACK.

@aaronkaplan wasn't sure if we could include that or should have a discussion about that.

Why am I writing this? Because I think I summarize that for everybody watching this project who wants to add his

[2015-06-25 17:13] SYNchroACK opened #239 "Harmonization improvements - new is_valid method"
[code]

[2015-06-29 10:33] SYNchroACK opened #241 "source.fqdn -> Domain"

[2015-06-29 15:02] SYNchroACK opened #242 "deduplicator"
add raw field... or import from configuration

[2015-07-01 08:51] Brandl opened #244 "Clear a queue"
Hello,

maybe I'm have overlooked something, but I've not found a convenient way, to clear a queue.

Possible usecases:
- unintentionally fetch garbage, which then keeps stuck somewhere in the pipe
- debugging, when the original collector format or the parser changes and old data is still in the queue
- aborting processing, when it would clearly take too long

Therefore I would suggest to have a c

[2015-07-01 19:59] robcza commented on #241
Does this mean the you are going to change "source.fqdn" to "source.domain"?
ping @kozeltom @karm

[2015-07-01 22:04] SYNchroACK commented on #241
no... it means that i will change the name of the class in harmonization.py from 'Domain' to 'FQDN'

[2015-07-02 20:32] SYNchroACK commented on #241
Fixed e7bbcd6c8c8996167309af57217a81ae35604900

[2015-07-02 20:32] #241 closed

[2015-07-02 20:33] SYNchroACK commented on #212
@Th4nat0s any news?

[2015-07-03 16:25] SYNchroACK commented on #242
Fixed 05b17261fea448a9862ea48d3996198a74a5568d

[2015-07-03 16:25] #242 closed

[2015-07-03 16:26] SYNchroACK commented on #239
Fixed d82e6dca74bd255bd6125929e2daff093f265c75

[2015-07-03 16:26] #239 closed

[2015-07-07 10:02] SYNchroACK opened #246 "Look for 'FIXME'"

[2015-07-07 10:03] SYNchroACK opened #247 "Number of Retries"
Nº of retries is wrong

[2015-07-07 10:05] SYNchroACK opened #248 "Generic stop method"
* stop method should be generic to fit the kill method from @helderfernandes1279

[2015-07-07 10:05] SYNchroACK opened #249 "Reinjection tool"
Method to re-insert messages into pipeline

[2015-07-07 10:08] SYNchroACK opened #250 "Improve DataHarmonization document"
Some improvements:
- clean up DataHarmonization document
- include a default intelmq Event message in JSON format

[2015-07-07 10:10] SYNchroACK opened #251 "Improve DevGuide"
* write in dev guide the rules for keus names ('.' , no list and hierarchy)

[2015-07-07 10:10] SYNchroACK opened #252 "Harmonization: confidence, TLP, URL/URI, regex checks"
- [x] add `confidence_level` key to Event object (Harmonization)
- [x] add 'TLP' key to Event object (Harmonization)
- [ ] rename `source.url` to `source.uri` (https://danielmiessler.com/study/url_vs_uri/)
- [x] Add regex (harmonization.conf parameters) check in harmonization.py

[2015-07-07 10:11] SYNchroACK opened #253 "Improve ZMQ pipeline"

[2015-07-07 10:12] SYNchroACK opened #254 "Harmonization - message.add method improvements"
Method message.add should have a parameter 'force=True/False' - this flag possibility to define which keys will force the bot to fail or continue without raise any error.
_Example:_
- If 'source.ip' has some problem, the event should follow the normal
  procedure of error handling
- If 'source.asn' has some problem, since its not an important key, the
  event can ignore the value and continue the

[2015-07-07 10:12] SYNchroACK opened #255 "bot __init__ improvements"
Any exception in init() method should be fatal. It means that init
need to catch every exception and log a messsage like "im stopping" and
raise something....

Other situation:
check_bot_id should raise an exception like mentioned before

[2015-07-07 10:13] SYNchroACK opened #256 "Video Tutorial"
Create a Video Tutorial

[2015-07-07 10:15] SYNchroACK opened #257 "intelmqctl improvements"
- load parameters from all configurations
- bot.py must has static methods to load configurations and then intelmqctl will be able to use them

use the following code: https://github.com/certtools/intelmq/blob/v1.0-final/tests/intelmqctl/intelmqctl.py

[2015-07-07 10:16] SYNchroACK opened #258 "Guess value type utility (source.ip', 'source.fqdn', 'source.url')"
Some keys like 'source.ip', 'source.fqdn', 'source.url' are really crucial for the event context.
When parse fail becasue the ip collumn from the source has an URL, its hard to have good code to handle this and put back the URL from IP collumn to source.url key in event. For this reason, we should create a util that try to guess what type is the value, but must follow an order:
- IPAddress check
-

[2015-07-07 13:03] aaronkaplan commented on #250
+1

[2015-07-07 13:23] SYNchroACK opened #259 "Output Bot - PostgreSQL message support (event, report)"

[2015-07-07 13:26] SYNchroACK opened #260 "Output Bot - Blacklister"

[2015-07-07 13:36] SYNchroACK opened #261 "Apply PEP8"

[2015-07-08 09:52] SYNchroACK opened #264 "Transversal bug - check if contains raw"
The following line which is present in all bots doesnt make sense. Remove the check.
https://github.com/certtools/intelmq/blob/v1.0-final/intelmq/bots/parsers/arbor/parser.py#L13

[2015-07-08 14:49] robcza commented on #165
Could this be done like this? user-agent defaults to Chrome, worked good for me. It is configurable per collector if needed.
https://github.com/robcza/intelmq/commit/6351643c0d365a57b87112b6a156f9d38ed02a8b

[2015-07-08 15:08] SYNchroACK commented on #165
Looks great @robcza ! For me is completely ok. ;)

[2015-07-08 16:44] mauroasilva commented on #165
I would suggest that instead of:

`if user_agent == None:`
`    user_agent = "Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36"`

You can put it into the definition of the function like this:

`def fetch_url(url, timeout=60.0, chunk_size=16384, http_proxy = None, https_proxy = None, user_agent = "Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (K

[2015-07-08 16:54] robcza commented on #165
Thanks @mauroasilva, you are right. My construct is kinda confusing and it is a result several different approaches I've tried.

[2015-07-08 19:58] mauroasilva commented on #165
Hmm... I see... you are right. From that perspective I think your solution might be the best because it is better to have greater complexity on the lib than on the bots. Thanks for the contribution ;)

[2015-07-08 21:32] SYNchroACK commented on #165
Thank you @robcza . Great work!

[2015-07-08 21:32] #165 closed

[2015-07-09 09:49] mauroasilva opened #266 "Should we force to have both proxies?"
In the lib of the http collector we have:

[code]

Should we force to have both proxies or does it make sense to test one of them, like this:

[code]

[2015-07-10 07:03] robcza commented on #165
Ok guys, I've destroyed everything, let's fix it (collectors are not working with my adjustments without user_agent defined in system.conf). My proposals are:
1) Define default user_agent in system.conf, for example the chrome one, add the user_agent header only if "if user_agent != None:"
2) Leave everything as it is and just define "user_agent" = null in the system.conf

Let me please know, what

[2015-07-10 08:32] mauroasilva commented on #165
To be honest I don't like having the User Agent in the system.conf, for every bot that doesn't need it, the existence of this feature should be transparent.

[2015-07-10 08:39] mauroasilva commented on #165
Let me make a suggestion, not sure if everyone will agree with it... what if in the collector we put:

[code]

Instead of the current:

[code]

[2015-07-10 10:12] SYNchroACK opened #267 "Configurations - Hierarchy configurations"
- generic
- bot type
- bots

[2015-07-10 14:06] robcza commented on #165
thank you @mauroasilva, just switched the parameters for hasattr, otherwise I've included your code as proposed
https://github.com/certtools/intelmq/pull/269

[2015-07-10 15:01] SYNchroACK commented on #165
Check the comment here: https://github.com/certtools/intelmq/pull/269

[2015-07-17 04:46] e3rd opened #272 "Bot development flow."
Hi, I am just developing output bot that divides the messages by abuse mail to the lists and once a day sends them.

1) Where should I place the template text for mail. In /opt/intelmq/var/lib/bots/_output-bot_/ , or /opt/intelmq/etc/_output-bot_/ ?

2) Then, I'd like to ask if I am doing the development in the right way, if I am not breaking the project coding standards.
I did it like this:
Mail

[2015-07-17 10:35] SYNchroACK commented on #272
Hi @e3rd , thank you very much to raise these questions. As far I can see, the feature that you propose is interesting and I support it although https://github.com/certtools/intelmq-mailer will be updated to fit your needs.

Regarding your questions:
1) /opt/intelmq/var/lib/bots/output-bot/

2) Yap, it breaks the concept. I would suggest something like http://stackoverflow.com/questions/16325039/p

[2015-07-17 12:25] e3rd commented on #272
2) You mean there should be a thread with a infinite loop that once a day calls the function to send the e-mails? It might be more effective to use system cron.

3) If it's not good to access self.cache.redis to store lists, I'd have to map the lists to standard key value pairs by myself (which is non-efective and we waste the power of redis). Or we may not use redis at all and store the lists in

[2015-07-17 13:20] SYNchroACK commented on #272
2) Agree. Cron is also a possible solution ;)

3) "Intelmq-mailer project should serve as my Mail Send bot (so that Mail Gather would directly give the data to Intelmq-mailer)?" Well, if you want to use intelmq-mailer you just need to use mongodb output bot....

I think we will have a new solution in near future to fit your needs... inmeanwhile, you can have that solution but keep in mind that bre

[2015-07-31 10:50] Rafiot commented on #186
Short update: I'm going to update my code to use disque[1] instead of my custom queuing system: it seems much more reliable, is properly supported, and will much more easily give the possibility to use multiprocessing.

[1] https://github.com/antirez/disque

[2015-07-31 13:11] adulau commented on #186
From the disque repo:

[code]

What do you think? Which one is more reliable?

[2015-07-31 14:25] Rafiot commented on #186
mine is, I think, more reliable for now. But also not used in production either so I cannot really tell.
I really want to give a try to disque, because it would take care of the whole subscriber to set and set to publisher code, which is something I would rather enjoy.

[2015-08-02 10:10] Rafiot commented on #186
Here is the testing code I wrote: https://github.com/Rafiot/MultiProcQueue/tree/master/example_disque

+:
* very, very short
* all the logic goes to Disque
* reduce drastically the code to maintain

-:
* not possible to choose the type of output queue (it would add a lot of complexity in the code)

[2015-08-04 08:09] sebix commented on #261
I think the conversion should be done after the various PRs are closed. Applying autopep8 now will break them all.

[2015-08-04 08:12] sebix commented on #246
egrep -i 'todo|fixme|implemented' * -R

[2015-08-04 14:27] sebix opened #276 "DCU Parser linked in tests, but does not exist"
First line of `intelmq/tests/bots/parsers/dcu/lib.py`:

[code]

But there's no dcu directory in `intelmq/bots/parsers`.

[2015-08-04 23:35] SYNchroACK commented on #261
agreed!

[2015-08-05 13:10] sebix commented on #169
fixed by 3a25cdbd68608d59dff233563bed9b4ff58a7037

There's no functionality to give queue names.

What is the difference between empty queues and queues not in use?

fixed by 9cd3205759f17182371919cf9a591e35eabc3f16

[2015-08-05 13:17] sebix commented on #257
The methods used by `Bot` class use `utils.load_configuration` to load it and then filter out the interesting section. Using the utility function is easier here and has less overhead.

Currently, `RUNTIME_CONF_FILE` is not used, thus there's no functionality needing it.

[2015-08-05 15:08] sebix commented on #257
I think this should be fixed in my fork

[2015-08-05 15:09] sebix commented on #244
2a6fea48ee0f8587d158cf2e72fc6f5e4da46c3c implements the functionality for `intelmqctl` with `--clear queue`.

[2015-08-05 15:13] sebix commented on #218
`intelmqctl` now logs it's activities in the referenced commits.

Exception handling and logging by the Bot class is still missing.

[2015-08-05 17:34] SYNchroACK commented on #244
@sebix looks really awsome. Create a pull req and I will accept it!

[2015-08-05 17:46] SYNchroACK commented on #169
awesome!

The idea is to add that functionality and then check the queue names.

Didnt understand the question.

awesome!

[2015-08-05 18:41] sebix commented on #169
Which functionality do you mean in particular? I implemented the `--clear` function, which needs the queue name, the check is implemented. Do you mean that?

Ok, what do you mean with *queues are already in use* in intelmqctl-context?

[2015-08-06 07:55] sebix commented on #244
Can be closed when PR is merged, which implements the intelmqctl part. For the part in intelmq-manager, I created an issue there: certtools/intelmq-manager#54

[2015-08-06 11:29] SYNchroACK commented on #169
Well, to be honest i dont remember precisely what I mean but the generic idea is to add the possibility to change through intelmq-manager or manually the queues names in configuration but to be sure, we need to check the name of queues are valid.

Regarding the 'queues not in use' i dont remember as well... forget it...may be in future I will remember :P

[2015-08-06 13:30] sebix commented on #169
Currently the intelmq-manager directly accesses/writes the files and intelmqctl has no functionality at all writing any kind of configuration.
So you want a feature to renames queues in configuration?

[2015-08-06 14:31] SYNchroACK commented on #169
yes @sebix  ;)

[2015-08-07 10:57] SYNchroACK commented on #257
@sebix is everything mentioned in this issue fixed by your pull req?

[2015-08-07 11:03] sebix commented on #257
Default, System, pipeline, runtime and startup are read

I commented above that I don't see the sense here. The functions in utils are used now.

[2015-08-07 11:04] sebix commented on #244
This can be closed now.

[2015-08-07 11:08] SYNchroACK commented on #244
@sebix thanks

[2015-08-07 11:08] #244 closed

[2015-08-07 11:45] alnc opened #278 "Multiple bugs in Parsers"
**hphosts-parser**
[code]

**phishtank-parser-queue**
[code]

**urlvir-hosts-parser**
[code]

**vxvault-parser**
[code]

[2015-08-07 11:55] SYNchroACK commented on #174
@ufoczek news?
the problem persist?

[2015-08-07 12:00] SYNchroACK commented on #64
@sebix do you know any good solution to solve this problem?

[2015-08-07 12:12] sebix commented on #64
Have there been any big files in the past?

To keep the number of commits small, please don't push to master directly. When looking through master I often see small commits and following commits correcting some minor bug, typo. Please use 1) branches and optionally 2) push them to your fork and review the PR another day, and 3) use `git rebase` and `git commit --amend` to stash commits. Have a loo

[2015-08-07 12:25] sebix commented on #228
Is this fixed now?

[2015-08-07 14:34] SYNchroACK commented on #228
yes

[2015-08-07 14:34] #228 closed

[2015-08-07 14:35] SYNchroACK commented on #257
ok cool.

[2015-08-07 14:35] #257 closed

[2015-08-07 14:37] SYNchroACK commented on #64
yes, thats why I ask. Do you know how to remove that old file that was committed by mistake?

Ok, thank you for the explanation. Always learning heheh

[2015-08-07 15:26] SYNchroACK commented on #264
In the situation mentioned before, the message will be acknowledge but the process will continuing... which doesn't make any sense. @sebix , make sense for you what I'm saying?

[2015-08-07 15:28] SYNchroACK commented on #246
@sebix the idea is to fix the code where we found [FIXME]

[2015-08-07 15:31] SYNchroACK commented on #253
ZMQ pipeline should reproduce the same behavior as Redis with completly transparency for the user, except the configuration option to select which type of pipeline is should be used.

The reason to have ZMQ pipeline is because in some scenarios, we need to process huge amounts of information in real-time. ZMQ is a good solution for that.

[2015-08-10 07:20] sebix commented on #64
You can use the [https://rtyley.github.io/bfg-repo-cleaner/](BFG Repo cleaner), remove the file `src/bots/experts/geoip/GeoLite2-City.mmdb` or do `bfg --strip-blobs-bigger-than 10M  my-repo.git`. You need to force the push (`-f`) as remote has more commits than local and would be rejected otherwise.

This will reduce the size of the repo from 19MB to 2MB.

[2015-08-10 07:23] sebix commented on #246
I know. Just extended the list of keywords.

[2015-08-10 07:39] sebix commented on #264
This line has first been introduced by you on Sun Jun 29 2014 in commit 6988fe2.
View the diff:

    git diff 6988fe2cc1a2fb6d71273bea30a73c910b74f84e~ 6988fe2cc1a2fb6d71273bea30a73c910b74f84e

Commit found with with `git log --all --source --reverse -S 'self.acknowledge_message()'`.

In the diff you can see, that `self.pipeline.acknowledge()` has been replaced by `self.acknowledge_message()` whic

[2015-08-10 07:43] sebix commented on #253
That should be the docstring of ZMQ :)

However, what improvements do you address with this issue?

[2015-08-10 07:58] elhoim opened #279 "MISP Parser Bot"
[MISP](https://github.com/MISP/MISP/) is a tool that it becoming quite popular to share threat intel or receive feeds from partners.

Could you add a parser for it? I suppose the URL collector is sufficient to be able to download data from multiple instances.

[2015-08-10 08:05] elhoim opened #280 "Data Harmonization - MISP_id"
Just wanted to let you know that MISP ID are not a good way to uniquely identify an event, since those IDs are generated sequentially per MISP instance. Which if you re-install and re-import data from other instances, you may (and most probably will) end up with IDs in a different order.
That's why MISP uses, mostly internally, UUIDs to identify and syncrhonize events.

[2015-08-10 08:53] adulau commented on #280
+1 UUIDs are the ones to use.

[2015-08-10 12:55] sebix commented on #230
This is what the installation routine of zmq does:

May this be an option for us?

[2015-08-10 13:54] sebix opened #281 "Pipeline: give unicode or Ascii?"
The Pipeline brokers redis and zeromq (sockets) are using bytes internally (python2 strings), but the input could be unicode (python3 strings).

There are two possibilities:
 * Do the conversion in the Pipeline classes. Would reduce the code in the bots.
 * Collectors and Parsers have to decide on it's own what encoding they want to use in their queues. More flexibility for bots and less overhead.

[2015-08-10 14:03] sebix commented on #278
The bug in `phishtank-parser-queue` is related to #281 (Unicode/ASCII handling)

[2015-08-10 14:06] sebix commented on #281
Additionally, it should be clearly defined how Unicode/ASCII input is handled in all steps. #278 shows a bug in Harmonization.

[2015-08-10 15:00] SYNchroACK commented on #253
process huge amounts of information in real-time

[2015-08-10 17:21] aaronkaplan commented on #253
But the current bottleneck is not the pipeline mechanism. It is the DNS lookup to Cymru.

---
Mobile

[2015-08-10 18:33] Rafiot commented on #253
You may want to give a try to my multiproc queue module :)

[2015-08-10 18:40] aaronkaplan commented on #253
On Aug 10, 2015, at 8:33 PM, Raphaël Vinot <notifications@github.com> wrote:

*hint hint* ;-)
Yes!
Sure. Hint accepted :)

Just FYI: at the moment we  are rather focussing on integrating intelmq with our internal workflow and then we'll revise performance issues. They are not relevant for us *right now*.
(but will come later).

Best,
a.

[2015-08-10 18:42] aaronkaplan commented on #279
On Aug 10, 2015, at 9:58 AM, David André <notifications@github.com> wrote:

Hi David,

sure. We could. However, let me ask you: what and how much do you want to download from MISP and put into intelmq and where should it end up ?

Because downloading full events and even binary attachments and putting them into intelmq might be currently overkill... Just wondering.
Can you give me a use-case (for

[2015-08-10 18:43] aaronkaplan commented on #280
On Aug 10, 2015, at 10:53 AM, Alexandre Dulaunoy <notifications@github.com> wrote:

got it.

[2015-08-10 18:43] aaronkaplan commented on #64
On Aug 10, 2015, at 9:20 AM, Sebastian <notifications@github.com> wrote:

@SynchroAck: okay? Do you want to do this or should I?

[2015-08-10 19:01] SYNchroACK commented on #253
That is true if you havê that kind of experts enabled. :)
No dia 10/08/2015 18:21, "AaronK" <notifications@github.com> escreveu:

[2015-08-10 19:34] Rafiot commented on #253
As long as perf is not a problem, we are good :) I will work on it in a branch soon-ish

[2015-08-10 20:38] elhoim commented on #279
I was thinking mostly IP, domain, hostname, URLs attribute types; just as most blacklists implemented in intelMQ

[2015-08-10 22:21] aaronkaplan commented on #279
On Aug 10, 2015, at 10:38 PM, David André <notifications@github.com> wrote:

I see. Yes, makes sense.

[2015-08-11 01:13] SYNchroACK commented on #279
How do you want to download from MISP?

[2015-08-11 06:21] aaronkaplan commented on #279
I Would say via the pymisp API or the rest interface directly?

---
Mobile

[2015-08-11 08:15] elhoim commented on #279
If you do the REST interface directly and your normal URL collector then you have one less dependency.
And then you can use whatever global export format that suits you best: CSV, XML, or individual text files per data type.

[2015-08-11 14:18] sebix commented on #248
Currently the `stop()` method kills the bot with `exit(-1)`. I would like to split the functionality into `stop` and `terminate`. While `stop` does not exit the bot, `terminate` will exit, but also disconnects all pipelines, so it can be used in exception handling. Stop can then be extended, like it is done in #197

[2015-08-11 16:44] SYNchroACK commented on #248
Ok, make sense. Send a pull request to discuss minimal details with you. ;)
Thank you @sebix

[2015-08-11 17:26] SYNchroACK commented on #281
I think 'Do the conversion in the Pipeline classes. Would reduce the code in the bots.' is the best option.  Lets do it?

[2015-08-12 06:55] sebix commented on #281
I think it's best and easiest to use unicode in the bots. They should always send unicode to the pipeline an receive unicode from it.

There are already functions to do this conversion in utils. I would put the conversion in the Message class in (un)serialize functions:

    return json.dumps(self) # FIXME: dont know if json take care of encoding issues

`json.dumps` gives string both in Python2 a

[2015-08-12 13:45] sebix commented on #64
The file is still there:

https://github.com/certtools/intelmq/blob/ef24878a400d857c3dbf237f31df419b5ff8ef46/src/bots/experts/geoip/GeoLite2-City.mmdb

I'm just trying to get my fork right. Updating master and v0.9 branches are quite easy, but I'm struggling with the feature branch. Here's what I have yet to get the history fuck up right:

First, check if you have the upstream repository configure

[2015-08-12 13:55] sebix commented on #64
If you have a feature branch with unmerged commits, first make a full backup or write your changes to patch files.

    git checkout feature
    git format-patch master
Then we can use rebasing. Find the last common commit:

    git merge-base feature v1.0-final
Then do interactive rebasing starting with this commit:

    git rebase -i [commit-id from above]
Alternatively, it can be useful to use:

[2015-08-12 16:29] SYNchroACK commented on #64
[code]

@sebix do you know how to solve it?

[2015-08-12 20:01] SYNchroACK opened #283 "CleanMX Parser"
CleanMX Feed change from CSV to XML. Bot need to be rewritten to support the new format.

[2015-08-13 06:52] sebix commented on #64
Yes:

local and would be rejected otherwise.

     git push -f origin master

This will break the git history once again, but that's unavoidable.
Don't forget to make the backup.

[2015-08-13 10:17] SYNchroACK commented on #64
@sebix that command doesnt work.

[code]

[2015-08-13 10:23] SYNchroACK commented on #278
All fixed except the PhishTank encoding issue.

[2015-08-13 10:27] SYNchroACK opened #284 "ProjectHoneyPot Bot"
Needs to be developed:

Bot: Project Honeypot Harvester Spam Yield
URL: http://www.projecthoneypot.org/list_of_ips.php?by=10&rss=1

Bot: Project Honeypot Spam (E-mail)
URL: http://www.projecthoneypot.org/list_of_ips.php?by=13&rss=1

Bot: Project Honeypot Dictionary Attack (E-mail)
URL: http://www.projecthoneypot.org/list_of_ips.php?by=16&rss=1

Bot: Project Honeypot Comment Spam (Blog/Web)
URL: ht

[2015-08-13 10:28] SYNchroACK opened #285 "Abuse.ch Bot"

[2015-08-13 10:29] SYNchroACK opened #286 "OpenBL Bot - Read multiple reports"
https://www.openbl.org/lists.html

[2015-08-13 10:30] SYNchroACK opened #287 "MalwareDomainList Bot - Read multiple reports"
http://www.malwaredomainlist.com/forums/index.php?topic=3270.0

[2015-08-13 10:32] SYNchroACK commented on #93
Issues created: #287 #286 #285 #284 #283
Tag: bots

[2015-08-13 10:32] #93 closed

[2015-08-13 10:41] sebix commented on #64
Then leave out the refspec `master`.

[2015-08-13 11:28] SYNchroACK commented on #64
[code]

same result :S

[2015-08-13 11:36] sebix commented on #64
But you have just deleted your last commits from remote. The last commit in github repo was 2 days ago.

[2015-08-14 06:29] sebix opened #288 "Travis-CI - use automatic builds + test and code coverage"
Use github services to use continuous integration systems like [Travis-CI](https://travis-ci.com) for automated builds and check tests.

Optionally use a tool like [Coverity](https://scan.coverity.com/travis_ci), [Coveralls](https://coveralls.io/) or [CodeClimate](http://docs.travis-ci.com/user/code-climate/) to check coverage (Tracking code lines that are covered by checks).

See a travis-ci exam

[2015-08-14 09:00] sebix commented on #64
When doing a normal clone of the repo now, it only has 2MB, or 5.4MB with extracted data. Doing a mirror clone, it results in 17MB. It seems we cannot change this, as there are read-only refs, see [this comment in BFG](https://github.com/rtyley/bfg-repo-cleaner/issues/16#issuecomment-26151329):

[2015-08-14 21:06] SYNchroACK commented on #64
@sebix I think we can live with the current scenario. Do you agree?

[2015-08-15 16:05] SYNchroACK commented on #278
@alnc can you confirm my last comment here?

[2015-08-17 06:54] sebix commented on #64
On 08/14/2015 11:06 PM, Tomás Lima wrote:

Yes. The only other possibility is to delete the repo and create a new
one. This is not a viable option.

[2015-08-17 08:21] sebix opened #289 "Documentation - Bot error behavior undefined."
Documentation lacks information how Bots behave with different settings in error handling:
* `error_procedure`
* `error_max_retries`
* `error_dump_message`
* `error_retry_delay` and others.

Unclear behavior:
* When does the bot stop, and when does the bot retry?
* What is counted as error?
* What does happen to the messages in process? (acknowledge, dump)
* What happens with open pipelines?

[2015-08-17 10:51] sebix commented on #248
9a82ce8 splits the functionality in stop() and terminate(). Stop currently closes the pipelines and can be extended by derived classes (using super) to close other connections. If `exit_on_error` is true (default), terminate will be called which exits, this is disabled for tests.

[2015-08-17 13:24] SYNchroACK commented on #64
yap. agreed.

[2015-08-17 13:24] #64 closed

[2015-08-18 08:04] sebix opened #290 "DateTime timezone handling in harmonization"
The current implementation fails if the given time string has no timezone information. The code:

    value = dateutil.parser.parse(value)
    value = value.astimezone(pytz.utc)
    value = value.isoformat()

The second line will fail if value is e.g. of format `20150101` with:

    ValueError: astimezone() cannot be applied to a naive datetime

Recommended way to convert timezones is:

    value

[2015-08-18 08:55] aaronkaplan commented on #290
---
Mobile

In log files we need time zone info! Log files without knowledge of the tz are useless and can be thrown away.

No!

Then the parser needs to be adapted so that it adds the tz info. (Based on external knowledge).

Assume data within intelmq always has a tz. Without, it's an error.

[2015-08-18 10:50] SYNchroACK commented on #290
100% agree with @aaronkaplan

[2015-08-18 12:16] sebix commented on #290
So it is a bug in the Malware Domains Parser, it does not add TZ information.

[2015-08-18 14:25] aaronkaplan commented on #290
On Aug 18, 2015, at 2:16 PM, Sebastian <notifications@github.com> wrote:

That's correct!
And I think you also found a bug in the documentation. We need to have this in the developer guide as info. For a CERT, timestamp information without a time zone essentially makes the whole log line useless since we can not communicate properly about the event then anymore.

That's the background :)

[2015-08-18 15:18] aaronkaplan commented on #266
Yes, we should have both please. Otherwise you have the behaviour that you for some download need httpS:// but you only tested for http://. And then it does not work.

[2015-08-18 15:26] aaronkaplan opened #291 "UnitTests - reminder to not forget adding this later"
#159 and #282 deal with unit tests.

However, we still need tests for pipeline (Redis - is the connection up and running, can we send and receive data, etc) and other core parts. These tests should be done similarly to #282 (for example the test for utils/). However, the core tests can be done a bit later.

This issue is simply here to remind us that this still needs to be done and should not be f

[2015-08-19 07:36] sebix commented on #291
- [ ] Pipelines need to have a defined behavior for bytes/unicode input.
 - [ ] Harmonization needs clear definitions of valid and invalid formats, which both have to be tested.
 - [ ] The bot class has some tests, covering only very basic functionality

[2015-08-19 08:55] sebix commented on #291
- [] Add more input lines to process for parsers, currently only one line of data is used.

[2015-08-19 09:11] sebix commented on #291
- [ ] Test if the Bots correctly call `self.acknowledge_message()`.

[2015-08-19 12:15] robcza commented on #111
Just encountered a situation where I would like to resolve IPs for collected domains/URLs. Is this the right thread to discuss? There is an expert bot for reverse DNS lookup, should there be one for forward lookup as well?

[2015-08-19 17:17] aaronkaplan commented on #111
Yes Rob, I believe this here is a good point to discuss IP address lookup (forward, reverse).

Yes, it is a bottleneck. I have been looking at the adns library (there is even a python lib for that): [adns](http://www.chiark.greenend.org.uk/~ian/adns/) sends out many DNS requests asynchronously and will collect the answers. However, it seems a bit tricky to integrate.

What do you think?

[2015-08-20 02:19] chorsley commented on #111
I've used this Python adns code in the past and it's worked quite well for me: http://www.catonmat.net/blog/asynchronous-dns-resolution/

[2015-08-20 06:51] robcza commented on #111
@aaronkaplan tricky part you mean how to actually implement the async part? Do you think it is a smart way to do it in batches? To pop n events from the queue, let adns resolve them all and repeat?

It kinda feels it breaks the concepts of IntelMQ and I like the multithreaded solution @SYNchroACK mentioned. However I don't think that will be ready in the near future, seems quite complex.

[2015-08-20 08:22] sebix commented on #189
Duplicate of #185

[2015-08-20 08:49] sebix commented on #185
I need your help @aaronkaplan and @SYNchroACK: When working with the postgres (see [my branch](https://github.com/sebix/intelmq/tree/postgres)) I saw that the Data-Harmonization document uses underscore to subclass values. But the code uses dots. Replacing all underscores with docs does not make sense in all senses, e.g. with `source.reverse_domain_name`.

Additionally, some fields have other name

[2015-08-20 09:42] sebix commented on #251
Coding-Rules/Indentation, Coding-Rules/Variable Names and Coding-Rules/Coding Style can be removed as PEP8 is linked.

Clarify that the variable name is meant.

I suggest `ExampleBot(Bot):`, this is currently used, also in the last section of the document.

-  Check taxonomy expert bot
-  Check arbor parser bot

Links are broken

[2015-08-20 10:26] robcza opened #292 "ZeuS, Palevo and Feodo trackers RSS"
This is a followup to this pull request https://github.com/certtools/intelmq/pull/274
@SYNchroACK I have investigated the RSS feeds (direct links below) and I can see a problem there as all of these feeds include only 20 recently identified hosts and IntelMQ will miss the whole picture.

I think the best way is to prepare both parsers - for the complete lists and for the rss feeds as well. What do

[2015-08-20 10:40] aaronkaplan commented on #292
I'd say let's go for the complete feed and make the RSS collector as soon a it's needed (for some other feed maybe?).

My 2 cents.

---
Mobile

[2015-08-20 10:44] aaronkaplan commented on #185
---
Mobile

Got it. Well the underscores come from abusehelper compatibility.  I don't think we still need that anymore since we'll need a mapping anyway by now. So I would also be fine with camelCase or some other renaming. BUT! Let's be very careful about this! It means we will have to refactor everything and every bot

@synchroack: what do you say?

That seems like a bug then.

[2015-08-20 10:54] robcza commented on #292
I have the complete feed ready. I will just retest and could go for pull request.

[2015-08-20 13:59] sebix commented on #185
On 08/20/2015 12:44 PM, AaronK wrote:

If we don't want to break too much, we just redefine the names in the
docs to dot-style. I can do that if you are fine with it.

I have a list of undocumented field names in my post above.

[2015-08-20 15:33] sebix commented on #259
The postgresql output support should support reports?

[2015-08-20 15:34] sebix commented on #159
Fixed by #282 when merged.

[2015-08-20 15:34] sebix commented on #255
Fixed by #282 when merged.

[2015-08-20 16:16] aaronkaplan commented on #259
On Aug 20, 2015, at 5:33 PM, Sebastian <notifications@github.com> wrote:

As far as I can see right now ... report == message class (at the moment), right?

[2015-08-20 17:01] sebix commented on #259
Yes, but I can't really figure out, how the Reports should be inserted into the DB, as there's only `feed` and `raw`.

[2015-08-20 17:03] aaronkaplan commented on #259
On Aug 20, 2015, at 7:01 PM, Sebastian <notifications@github.com> wrote:

hm, I don;t quite understand.
Maybe let's talk about that tomorrow morning?

Best,
a.

[2015-08-20 17:25] aaronkaplan commented on #292
Thanks Robcza!

[2015-08-20 17:30] Phantasus commented on #159
Interesting what is going on there? Does anybody still know what is current?

[2015-08-20 19:09] sebix commented on #259
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

On 08/20/2015 07:03 PM, AaronK wrote:

inserted into the DB, as there's only feed and raw.

While there is technically no real difference between an Event and an
Report, it is used in another way. Reports are the output of collectors
and the input of Parsers. Reports contain raw data from a source with
many data sets. An event itself has only one in

[2015-08-21 10:03] sebix commented on #290
All handlers do invent timestamps when there's only a date in the sources, as the data is otherwise invalid.

Currently, the observation time is added by parsers, not be collectors.

[2015-08-23 11:16] SYNchroACK opened #294 "Bot improvements"
1)
Add the following line to all bots:
[code]

2)
All bot should handle None message, no one can do that.

3)
Remove the sys import from bot and add the 'import sys'

[2015-08-23 11:28] SYNchroACK commented on #292
@robcza the following link has all the RSS feed for Zeus:
https://zeustracker.abuse.ch/feeds.php

If the problem is the RSS feed jjust show the last 20 events, well, we just need to configure the collector to get the report every 30 min..... make sense @robcza ?

[2015-08-23 15:39] SYNchroACK commented on #111
@robcza , yap, multi-thread solution was drop. ADNS will not solve the problem since the bottleneck is the pipeline but we can create a bot that using adns and if we use the zmq as pipeline we can take advantage of that bot.

[2015-08-23 15:45] SYNchroACK commented on #185
The current fields are:
https://raw.githubusercontent.com/certtools/intelmq/master/intelmq/conf/harmonization.conf

time.source is correct. The idea is to have levels:

..etc...

[2015-08-23 15:46] aaronkaplan commented on #111
On Aug 23, 2015, at 5:39 PM, Tomás Lima <notifications@github.com> wrote:

I do not believe that the bottleneck is the pipeline at all.
I did some tests with redis and achieved between 500k-800k basic operations (LPUSH etc) per second.
That should be enough IMHO.

[2015-08-23 15:46] aaronkaplan commented on #185
On Aug 23, 2015, at 5:45 PM, Tomás Lima <notifications@github.com> wrote:

Tomas, did you see my other mail concerning the document?

[2015-08-23 15:48] SYNchroACK commented on #185
which email? subject and timestamp?

[2015-08-23 15:53] SYNchroACK commented on #111
@aaronkaplan we already had this conversation. The tests that you did are different from the intelmq solution.
Remember, IntelMQ do:
* pop | process message | push | lindex | llen

So... its not a batch operation that you are mentioning...

[2015-08-23 22:03] SYNchroACK commented on #290
@sebix , in the future the time.observation should be added by collectors.

[2015-08-23 22:07] SYNchroACK commented on #259
@sebix , this is a requirement that from long time ago @aaronkaplan make clear that should be added.

The idea is to have a possibility to store in a database the report collected.
If for some reason this is no more needed, for me its ok to forget since every event has the raw field,

@aaronkaplan , whats your input?

[2015-08-23 23:18] SYNchroACK commented on #251
On Thu, Aug 20, 2015 at 10:43 AM, Sebastian <notifications@github.com>
wrote:

I know but it to underline the people that never read pep8.

Didnt understand...

Fixed.

Fixed

--
 Tomás Lima* ,    * »-«* SYNchroACK *»-«

[2015-08-24 07:04] sebix commented on #251
On 08/24/2015 01:18 AM, Tomás Lima wrote:

Repetition and duplicate content bloats the document. That irrelevant
information for the project itself. To enforce PEP8 it is not relevant
that these rules are repeated in the project's own dev Guide. It's more
important that the code base itself obeys PEP8 and that all PR have to
be PEP8 conform (If they are not, point it out to the contributors by
com

[2015-08-24 07:10] sebix commented on #185
On 08/23/2015 05:45 PM, Tomás Lima wrote:

Yes, that's my idea. @aaronkaplan and me discussed this issue on Friday
trying to harmonize and define the Harmonziation fields. I will upload
more fixes today to my postgres branch.

[2015-08-24 07:12] sebix commented on #290
On 08/24/2015 12:03 AM, Tomás Lima wrote:

@aaronkaplan what do you think here?

Either the definition of `time.observation` changes or the bots who add it.

[2015-08-24 07:36] sebix commented on #294
All parsers can now handle None with e1f39977d9ba483a8b95be2dbe1c1bac695ba545

[2015-08-24 07:38] sebix commented on #159
@Phantasus master is now the current dev branch, if you mean that. But there are many upcoming features and fixes in my fork.

[2015-08-24 09:28] sebix commented on #185
Another issue that just came up: In geolocation sections we have `cymru_cc` and `geoip_cc`. But how to deal with oher sources? Grepping for '\.cc' revealts that AlienVault and CleanMX both have geolocation information. Currently it is written to `cc`. Should we have `cc`, `cymru_cc` and `geoip_cc`?

BTW: I would like to rename `geopip_cc` to `maxmind_cc`, as geoip is a very generic term

[2015-08-24 09:51] SYNchroACK commented on #251
On Mon, Aug 24, 2015 at 8:04 AM, Sebastian <notifications@github.com> wrote:

@aaron can you give your feedback?

https://github.com/certtools/intelmq/commit/dec3e680b70beca42dea317e71cddc5ba3f94122#diff-f337315a2462f5b7d3237f21321b412d

uppercase was wrong, is lowercase.
We are saying that is mandatory to use file and folder names in lowercase.
Its our approach... the idea is to have everything i

[2015-08-24 10:08] SYNchroACK commented on #185
@sebix , cymru_cc or geoip_cc doesnt exist. All current fields are here:
https://github.com/certtools/intelmq/blob/master/intelmq/conf/harmonization.conf

I dont see the need to have multiple fields for that... in the pipeline we can put the bots cymru and maxmind in the way we want...

cymru -> maxmind  = means, if maxmind has a value, will overwrite cymru
maxmind -> cymru  = means, if cymru has

[2015-08-24 10:57] sebix commented on #185
On 08/24/2015 12:08 PM, Tomás Lima wrote:

These are the implemented fields, the theoretically standardized fields
are here: https://github.com/certtools/intelmq/wiki/Data-Harmonization
Yes, they are not congruent, therefore we have this discussion trying to
unify them and re-standardize the fields again.

AFAIK the idea was/is to use more than one data source for geolocation
as they do not give i

[2015-08-24 11:48] SYNchroACK commented on #185
On Mon, Aug 24, 2015 at 11:57 AM, Sebastian <notifications@github.com>
wrote:

Some fields are deprecated, other just were updated...well... like I
mentioned, I think we need to get the description of most of the fields and
put them in harmonization.conf. Then, we can create a quick script for
convert the harmonization.conf into a harmonization.md that we can put on
docs folder. Yes, discuss and p

[2015-08-24 11:55] #159 closed

[2015-08-24 13:16] SYNchroACK commented on #248
merged

[2015-08-24 13:16] #248 closed

[2015-08-24 13:17] SYNchroACK commented on #255
merged

[2015-08-24 13:17] #255 closed

[2015-08-24 14:08] SYNchroACK opened #295 "Clean up repository"
remove docs/*.mm
remove tests/

[2015-08-24 15:22] aaronkaplan commented on #185
It's a tough decision.

I'd say we keep geoip/maxmind_cc and cymru_cc. Why ?

Because these have different values for many IPs. Cymru_cc essentially is the RIR data and ip to country code mapping. Maxmind is more geographic while the RIRs capture re organization owning the netblock an which country it is in.
So we need both - on different contexts.
Maxmind is better for geographic mapping (world m

[2015-08-24 15:23] aaronkaplan commented on #185
Sebix and me did that on FR. Please contact him for details.

---
Mobile

[2015-08-24 15:40] #261 closed

[2015-08-24 15:40] #295 closed

[2015-08-24 15:47] SYNchroACK commented on #294
all fixed with #296

[2015-08-24 15:48] sebix commented on #294
No, not fully. The expert and output bots can't handle None yet.

[2015-08-25 08:04] sebix commented on #218
Exceptions on startup (`__init__`) are now logged if possible, otherwise printed to stdout. I think the issue can be closed now.

[2015-08-25 10:42] SYNchroACK commented on #218
;)

[2015-08-25 10:42] #218 closed

[2015-08-25 11:10] SYNchroACK commented on #259
The current bot already supports the report output. Its ok to close.

[2015-08-25 12:07] sebix commented on #185
Current proposal is to have only one `abuse_contact`. The abusix-expert adds contacts for both source and destination currently. So the abusix bot has to decide which side is to blame based on the classification. This has to be defined before making this proposal final.

Current proposal of fields is here: https://github.com/sebix/intelmq/blob/postgres/docs/Harmonization-fields.md
generated from c

[2015-08-25 13:12] SYNchroACK commented on #185
@sebix form my point of view, I think its not a Abusix bot resposability to decide which "side".... the procedure that will send the emails should have the intelligence to understand the event and choose... so... its not a problem... and source.abuse_contact and destination.abuse_contact should continue....

Do you agree @sebix ?

[2015-08-25 13:15] sebix commented on #185
The idea by @aaronkaplan was to have only one abuse_contact, as never both are relevant. Based on the classification, source or destination contact can be chosen.

Aaron, your comment please.

[2015-08-25 13:40] aaronkaplan commented on #185
On Aug 25, 2015, at 3:15 PM, Sebastian <notifications@github.com> wrote:

ACK

100% ACK.
you want to send mails to essentially one *list* of email addresses . And that should be in the abuse_contact.
Otherwise you might end up with complexity again and no decision what to use.

Best,
a.

[2015-08-25 13:58] robcza opened #297 "IP harmonization issues"
@sebix is it possible that there is something broken in the harmonization.py script? Having problems with IP addresses, had to change something, anyway I'm not sure whether it is not an issue on my side; details here:
https://github.com/certtools/intelmq/commit/7a9aa2d5fa468a7353b8056256f86a12379b0116#commitcomment-12880190
https://github.com/certtools/intelmq/commit/7a9aa2d5fa468a7353b8056256f86a

[2015-08-25 14:12] sebix commented on #297
Confirmed, already have the fixes locally.

Currently working on tests for harmonization and the tests for parser bots :)

[2015-08-25 14:17] robcza commented on #297
ok, will wait for you pull request to fix it, thank you for the info
:heart:

[2015-08-25 14:21] aaronkaplan commented on #259
Actually @sebix is working on one...

---
Mobile

[2015-08-25 14:22] sebix commented on #259
Current postgres bot can handle reports without problem. Just create a table with fields 'raw', 'feed.name' and 'feed.url'.

[2015-08-25 14:32] SYNchroACK commented on #259
I open again the issue because we are not align with same concepts of a report message, event message and incident report means. So... I will keep the issue open and lets see from your ( @sebix and @aaronkaplan  ) harmonization proposal and some extra documentation that will clarify the concepts. ;)

[2015-08-25 14:40] SYNchroACK commented on #185
again, that intelligence should not be implemented in abusix and Im 100% this is the correct approach. Why? Imagine, tomorrow you will have a AbuseContactDB bot and a RIPE AbuseContactDB Bot, etc... and you will repeat in every bot the same intelligence. The bots should fill that keys (source.abuse_contact and destination.abuse_contact) with the abuse_contacts associated to the correspondent IPs.

[2015-08-26 09:31] #297 closed

[2015-08-26 09:32] SYNchroACK commented on #297
done.

[2015-08-26 10:38] sebix commented on #185
To document what @SYNchroACK and me just discussed, this issue was brought up by #298.

`additional_information` should be used by parser if there's no existing field in harmonization. Instead of a silent discard, the parsers should save this data.
Thomas was not fine with the name. Our proposal is to rename it to `additional` or `extra`, as it means 'additional/extra fields'.

For the content my

[2015-08-26 11:02] SYNchroACK commented on #185
@sebix agreed. 'extra' field should be add to harmonization.conf

so, if some feed has the 'zzz' and 'yyy' fields, the intelmq should suppor the following harmonization:
[code]

[2015-08-26 11:27] sebix commented on #185
I meant that `extra` should be of type String and holding a JSON object. This does not require any adaption of the message class and the output bots.

[2015-08-26 11:34] sebix commented on #185
Another open question affects `abuse_contact`, irrespective of the source-destination discussion:

For one IP or Host there are always multiple abuse contacts possible: domain (probably more then one), whois, AS. But abuse_contact is currently only defined for one email address. Should it be instead a list of addresses? Should they be grouped by responsiblity (e.g. domain, AS)? I think of some sce

[2015-08-26 11:39] sebix commented on #185
And next question: we have `os.name`, `os.version`, `user_agent` and `account`. I thought of grouping them together. What about `victim`?

[2015-08-26 13:41] sebix commented on #267
Could you please expand the description of this issue? It is totally unclear what is meant here.

[2015-08-26 13:42] sebix commented on #247
I'm not sure if this is still true.

[2015-08-26 13:43] SYNchroACK commented on #185
1) Contacts for domains, IPs / ASNs:
Proposal:
[code]

2) Type of values of the abuse_contact field - string vs string list
Well, at the moment harmonization doest not suport list values. Reason: CSV compatibility
@sebix , whats your perspective regarding the legacy formats compatibility issue?

3) 'source-destination discussion'
As I already mentioned, source and destination should be automatical

[2015-08-26 13:51] SYNchroACK commented on #267
The idea is remove the defaults.conf file and have the runtime.conf in the following format:

**Current config:**
[code]

**Proposal:**
[code]

[2015-08-26 13:56] sebix commented on #267
Sounds reasonable for me. +1

[2015-08-26 14:37] SYNchroACK commented on #267
A little more context information...

Explanation:
- Generic parameters values will be overwritten by the specific parameters.

Example:
- If a bot starts and load he parameter 'rate_limit: 0' in the '__default__' global section, but that bot is the 'malware-domain-list-collector', the 'rate_limit: 0' will be overwritten by 'rate_limit: 3600'.

[2015-08-26 19:24] aaronkaplan commented on #185
On Aug 26, 2015, at 1:34 PM, Sebastian <notifications@github.com> wrote:

Sure there is no reason why it can't be a comma separated list.
You can give a mail program a comma separated list of recipients, no problem!

Nah... mail gets delivered :) The mail server decides the order any way.

This is the decision of the bots processing the data...
It depends on the case (free, type, ...) so the abuse

[2015-08-26 19:26] aaronkaplan commented on #185
On Aug 25, 2015, at 4:40 PM, Tomás Lima <notifications@github.com> wrote:

Tomas I am not sure if I agree with source.abuse_contact and destination.abuse_contact.

I went through all the cases manually with @sebix and it only makes sense to have "abuse_contact".
Whatever is source and destination *depends on the feed, type etc* . It really depends and if you add source.abuse_contact as well as des

[2015-08-26 21:07] SYNchroACK commented on #185
well, I think that to follow your approach you need to give some solutions for the following problems:

1) Who will have the responsability to implement the algorithm in each AbuseContact<something>Expert Bot to know which IP (source or destination) should be choose?

2) Who will maintain all code in all AbuseContact<something>Expert Bots? If we want to change something, who will change in all bot

[2015-08-26 21:28] aaronkaplan commented on #185
On Aug 26, 2015, at 11:07 PM, Tomás Lima <notifications@github.com> wrote:

It is up to the individual implementor to chose the abuse contact lookup strategy.
We can provide a sample.

It is up to the individual implementor to chose the abuse contact lookup strategy.
We can provide a sample.
Why "all AubseContactExpert bots"? As said - one sample. Should a local installation want a different solut

[2015-08-27 09:32] sebix commented on #185
I try to summarize the current discussions on the harmonization by grouping, citations and explanations from my side. Citations are not literally, I adapted most of them.

 - [ ] `source.abuse_contact` and `destination.abuse_contact`, or one `abuse_contact`?
   - One `abuse_contact`:
     Aarons proposal to have only one field is based on the observation that for every classification type, only on

[2015-08-28 08:13] sebix opened #301 "CERT-EU Malicious URLs Parser and Collector Missing"
BOTS file includes:

        "CERT-EU Malicious URLs": {
            "description": "CERT-EU Malicious URLs Parser is the bot responsible to parse the report and sanitize the information.",
            "module": "intelmq.bots.parsers.certeu.parser_malicious_urls",
            "parameters": {
            }

There's neither such a module and nor a matching collector.

[2015-08-28 08:33] sebix opened #302 "HPFeeds collector missing"
BOTS file includes in parser section:

        "HPFeeds": {
            "description": "HPFeeds Parser is the bot responsible to parse the report and sanitize the information.",
            "module": "intelmq.bots.parsers.hpfeeds.parser",
            "parameters": {
            }
        },

But there is no corresponding Collector.

[2015-08-28 09:34] SYNchroACK commented on #302
True. The code was not converted to the current version and needed a huge review. Its available in v0.9 version and in future if someone need it, we will convert it...

[2015-08-28 09:35] #190 closed

[2015-08-28 09:35] #251 closed

[2015-08-28 09:40] SYNchroACK commented on #301
Since its a private feed, we decided to remove it from the public repo. We are evaluating how to proceed

[2015-08-28 09:40] SYNchroACK commented on #301
Of course, we should remove from BOTS too

[2015-08-28 09:41] SYNchroACK commented on #302
and yes, we should remove from BOTS

[2015-08-28 09:54] sebix opened #303 "Missing ShadowServer Collectors"
2 Parsers exist in BOTS file, however, there's no collector.

        "ShadowServer Chargen": {
            "description": "ShadowServer Chargen Parser is the bot responsible to parse the report and sanitize the information.",
            "module": "intelmq.bots.parsers.shadowserver.parser_chargen",
            "parameters": {
            }
        },
        "ShadowServer Drone": {
            "d

[2015-08-28 10:38] SYNchroACK commented on #303
fixed

[2015-08-28 10:38] #303 closed

[2015-08-28 10:38] SYNchroACK commented on #302
fixed

[2015-08-28 10:38] #302 closed

[2015-08-28 10:38] SYNchroACK commented on #301
fixed

[2015-08-28 10:38] #301 closed

[2015-08-29 14:11] sebix commented on #291
- [ ] All Message class methods needs to be tested with all types available in harmonization.py. See also bug fix in #305

[2015-08-31 06:57] sebix opened #306 "IPv6 handling"
Currently, many bots do not support IPv6 addresses and are either failing or silently ignoring IPv6 values.

What is the projects policy for IPv6?

If it's not supported yet, there are two possible approaches:
- IPv6 can be ignored if not supported by bots.
- Bots may fail with IPv6 data.

[2015-08-31 09:29] SYNchroACK commented on #306
Approach proposed:
* identify which bots will crash with IPv6
* evaluate the complexity of the changes
* if we choose to go through IPv6, apply the changes to support IPv6

[2015-08-31 09:42] sebix commented on #306
Not all sources contacted by experts do support IPv6. What to do in these cases?

Ignore and raise a warning? (warning = unexpected, but handled behavior, see https://github.com/certtools/intelmq/blob/master/docs/Developers-Guide.md#log-levels)

[2015-08-31 10:04] aaronkaplan commented on #306
---
Mobile

I believe a reasonable approach is:
* Check Which experts are essential (ip2asn for example) and make them ipv6 aware
* all other bots: ignore v6 for the moment but raise a warning.
* later fix this after the release

[2015-08-31 10:06] SYNchroACK commented on #306
@aaronkaplan agreed!

[2015-09-01 12:11] pedromreis opened #307 "unicode decode error in cymru-expert and others"
cymru-whois-expert log:

[code]

[2015-09-01 12:41] sebix commented on #307
I'm currently revising all the encoding/decoding calls. This is a vast mine field. But it looks good currently, I think I can finish this task today.

[2015-09-01 13:06] sebix commented on #61
The AbuseHelperBot has been removed in master, it's only in v0.9 branch? Has support for this bot been dropped? Is this issue still valid?

[2015-09-01 13:07] sebix commented on #90
fixed in ce168b194ad967d322f83320555460271df90bb3

[2015-09-01 13:48] pedromreis opened #308 "Cymru expert error in data type / harmonization.conf file"
Recent changes on the harmonization.conf file, changing "source.allocated" type from String to DateTime breaks cymru-expert.
Also, harmonization.conf file lacks "source.cc" and "source.bgp_prefix" needed by this bot.

[2015-09-01 14:00] sebix commented on #308
Will have a look, thanks for reporting. Fix will hopefully come today.

[2015-09-01 14:29] sebix commented on #308
Looking at the current master, it seems your assumptions are not correct: https://github.com/certtools/intelmq/blob/master/intelmq/bots/experts/cymru_whois/lib.py

There's no `source.cc`, it's `source.geolocation.cc`, which does exist. The same with `source.bgp_prefix`, it's `source.network` in the bot.

For the allocation time: Can you please provide the dumped message, which causes an error? May

[2015-09-01 15:04] SYNchroACK commented on #61
We need to re-write it.

[2015-09-01 15:07] SYNchroACK commented on #90
nice

[2015-09-01 15:08] pedromreis commented on #308
humm, errors began this morning after installing the current version.
Let me check if I can replicate... maybe some error on my side :)

[2015-09-01 15:34] sebix commented on #307
Oh, this is not an encoding problem in the core, but in the Cymru lib:

    {u'geolocation.cc': u'BR', u'registry': u'lacnic', u'allocated': u'2011-08-30T00:00:00+00:00', u'as_name': u'NET Servi\xe7os de Comunica\xe7\xe3o S.A.,BR', u'asn': u'28573', u'network': u'177.81.0.0/16'}

Look at the characters in the as_name :)

[2015-09-01 15:41] pedromreis commented on #308
Here is the error I got, messages from alienvault processed by cymru, just now:
'''
Bot has found a problem.
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/intelmq-1.0.0-py2.7.egg/intelmq/lib/bot.py", line 117, in start
    self.process()
  File "/usr/local/lib/python2.7/dist-packages/intelmq-1.0.0-py2.7.egg/intelmq/bots/experts/cymru_whois/expert.py", line 71, i

[2015-09-01 15:43] sebix commented on #308
Reinstalled? Probably delete `/usr/local/lib/python2.7/dist-packages/intelmq-1.0.0-py2.7.egg/intelmq/lib/message.py` and `.pyc` manually before reinstall.

[2015-09-01 15:46] pedromreis commented on #308
Ok, will try that.

[2015-09-01 15:49] pedromreis commented on #308
That files are current:
[code]

[2015-09-01 15:53] #278 closed

[2015-09-01 15:53] #281 closed

[2015-09-01 15:55] pedromreis commented on #307
Same problem happens on other bots.
I have a quick fix on them:
[code]
That seems to work on my setup, i.é, no more encoding errors.

[2015-09-01 18:13] pedromreis commented on #307
Another example, in the phishtank parser:
[code]

[2015-09-01 18:34] sebix commented on #307
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

On 09/01/2015 08:13 PM, pedromreis wrote:

That one should actually be resolved with my todays work. If not, please
provide the dumped message which caused the exception. Also don't forget
to flush all queues, there may be message wrongly encoded in the
pipeline:
https://github.com/certtools/intelmq/blob/master/docs/User-Guide.md#reset-pipeline-and-

[2015-09-01 18:49] sebix commented on #307
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

On 09/01/2015 05:55 PM, pedromreis wrote:

We differentiate between unicode string and byte strings, because
unicode can't be used at all places. The Redis pipeline. the incomplete
zeromq or the tcp output can only handle bytes. base64 en/decode caused
some very weird errors. The collectors have to properly encode according
to input data and surce.

[2015-09-01 19:48] SYNchroACK commented on #308
https://github.com/certtools/intelmq/blob/master/docs/User-Guide.md#upgrade

[2015-09-01 23:55] #90 closed

[2015-09-02 08:32] sebix commented on #185
Two discussions are resolved so far:
- source.abuse_contact and destination.abuse_contact, or one abuse_contact?
  resolved, two fields
- Should time.observation be added by collectors or by parsers?
  fixed, collectors

We have no further comments on:
- Should abuse_contact be a single value, python/JSON-list, comma separated or a key-value store (dictionary)? contact or abuse_contact?
- addition

[2015-09-02 09:56] pedromreis commented on #307
No test runned, just upgraded the previous (about 15d ago) version.
I'll make a fresh install.

[2015-09-02 10:04] sebix commented on #307
reload(sys)
        sys.setdefaultencoding("utf-8")

Also have a look here: [SO: Dangers of sys.setdefaultencoding('utf-8')](http://stackoverflow.com/q/28657010/2851664).

[2015-09-02 10:35] sebix commented on #264
Is this issue resolved? Now bots do not further processing (return), when there's no raw field.

[2015-09-02 10:39] SYNchroACK commented on #185
My proposal:
1) comma separated ; contact.ip / contact.domain / contact.asn
2) extra (string field)
3) json object
4) yes
5) one

[2015-09-02 10:40] pedromreis commented on #307
@sebix the "quick fix" is intended only to be a workaround before the real problem(s) is found :)

[2015-09-02 10:40] SYNchroACK commented on #264
yes. ty

[2015-09-02 10:40] #264 closed

[2015-09-02 10:43] SYNchroACK commented on #307
@pedromreis any news regarding fresh installation?

[2015-09-02 10:49] pedromreis commented on #307
@SYNchroACK Yesterday I had a problem, run out of space on the fs and lost all configuration... :( I m rebuilding all bot/pipline/etc confs now ... Also I need to change some of our expert bots. I think late in the afternoon I'll have a fresh pull/install :).

[2015-09-02 10:53] SYNchroACK commented on #307
great! ;)

[2015-09-02 13:08] SYNchroACK commented on #290
solved?

[2015-09-02 13:14] sebix commented on #290
I at least corrected the timezone for one feed/parser, it may be necessary to do it for others also. Most use UTC, but not all.

[2015-09-02 13:31] SYNchroACK commented on #289
## error_log_message

**Description:** [FIXME]
**Values:** [FIXME]

## error_log_exception

**Description:** [FIXME]
**Values:** [FIXME]

## error_procedure

**Description:** in case of an error, this option defines the procedure that bot will adopt.
**Values:** retry, pass

* 'retry' - retry X times, defined in 'error_max_retries' option with a delay between retries defined at 'error_retry_delay'

[2015-09-02 15:11] aaronkaplan commented on #290
On Aug 24, 2015, at 12:03 AM, Tomás Lima <notifications@github.com> wrote:

But a collector did not split up the data yet and it's not the internal (JSON) format yet at that point.
Only after the parse. Therefore, only the parser can add time.observation IMHO.

It would be more accurate to have it at the collector, but he can't add that info (yet) at this stage IMHO.

Did I miss anything?

a.

[2015-09-02 15:12] aaronkaplan commented on #290
On Aug 24, 2015, at 9:12 AM, Sebastian <notifications@github.com> wrote:

IMHO the parser can add it. And we can change the definition to say the parser adds it.

[2015-09-02 15:21] sebix commented on #290
I do not understand your arguments. The retrieval date is a crucial information. Actually all citations must have a 'retrieved at ..' information, otherwise the citation is not valid.

Imagine the collector fetches data in the morning and the parser crashes. Parser is fixed two days later and you have the data of three days with the same `time.observation` date.

We can have a `time.parsed` field,

[2015-09-02 15:36] aaronkaplan commented on #290
On Sep 2, 2015, at 5:21 PM, Sebastian <notifications@github.com> wrote:

Ah!!! in the current version this seems to work because you have reports as well as events.
And a report is a container for events, now.

okay, I was still thinking in the old style of parsers/collectors. Back then the parser was the only one who could split up the data. There was no "report" container around the fetched data

[2015-09-02 17:25] pedromreis commented on #307
Ok, not yet with a full re-install but with all queues cleaned:
[code]
Bot has found a problem.
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/intelmq-1.0.0-py2.7.egg/intelmq/lib/bot.py", line 117, in start
    self.process()
  File "/usr/local/lib/python2.7/dist-packages/intelmq-1.0.0-py2.7.egg/intelmq/bots/parsers/dragonresearchgroup/parser_vnc.py", line 24, in

[2015-09-02 17:29] pedromreis opened #310 "Spamhaus-parser error"
Here it goes:

[code]

[2015-09-02 17:38] pedromreis opened #311 "Clean-MX and Phishtank encoding issues"
Here it goes:

On clean-mx-virus-parser.dump
[code]

and on clean-mx-phishing.parser.dump

[code]

[2015-09-02 19:27] aaronkaplan commented on #185
On Sep 2, 2015, at 12:39 PM, Tomás Lima <notifications@github.com> wrote:

why three? I don't like three fields here. The abuse contact expert should look at the whole event.
Based on an analysis of it (that's it's job!) it needs to find one contact where this info needs to be delivered to.
By "one contact" I mean that this can be also a CC: list (comma separated string). But it should be only one

[2015-09-03 00:16] SYNchroACK commented on #311
check #283

[2015-09-03 07:28] sebix commented on #311
The parsers using csv are all kind of broken, because the csv package can't deal with unicode. This also affects malwaredomainlist, turris and phishtank

[2015-09-03 07:35] sebix commented on #290
No.
There is the Message class which has a features to hold values specified in harmonization.conf and also validates and sanitizes them.
Then the two classes Event and Report derived from Message. Event has two additional functions, hash and to_dict. The valid field names and types for each class are specified in the configuration.

The pipeline can handle Event and Report and everything derived

[2015-09-03 09:37] SYNchroACK commented on #185
My new proposal:
1) 'contact' field ; json object
2) extra (string field)
3) json object
4) yes
5) two - keep the cymru and maxmind

[2015-09-03 10:00] SYNchroACK commented on #311
true.

[2015-09-03 11:01] pedromreis commented on #307
Good morning all.

Fresh install. Cleaned redis queues, etc.
Errors bellow

[code]

[code]

[code]

[code]
[code]

[code]
[code]

[2015-09-03 11:49] sebix commented on #307
Thanks for your bugreports, these are all failing here too and I know it. I need some time to adjust the code and work around various difficulties. I hope I can fix these issues today, along with the base64 encoding issues.

I appreciate that other folks have interest in intelmq and eager to test the bleeding edge version, pushing intelmq forward. However I also need to get other tools forward, in

[2015-09-03 12:40] pedromreis commented on #307
@sebix tks :)
I have nearly all collectors configured, i'm going to try some other experts now.

[2015-09-03 15:30] sebix commented on #308
can this issue be closed now?

[2015-09-03 15:33] sebix commented on #307
I won't touch phishtank, malwaredomainlist, cleanmx and turris for now, they all need to be fixed with csv. Probably Python 3 solves these problems anyway.

For your bug in cleanmx pishing parser:

Could be invalid input data -> log warning and resume, or parsing error. Have a look at the dumped message.

The other bugs should be fixed in my branch.

[2015-09-03 16:27] #308 closed

[2015-09-03 20:31] #175 closed

[2015-09-03 20:31] #294 closed

[2015-09-03 20:31] #307 closed

[2015-09-04 07:44] sebix commented on #278
Phishtank should work, at least for me.

[2015-09-04 14:54] sebix commented on #310
Are you sure? It's fixed in master.

[2015-09-04 14:56] SYNchroACK commented on #310
sorry. I forgot that I merged your pull req. Thank you @sebix

[2015-09-04 14:56] #310 closed

[2015-09-04 14:59] sebix commented on #310
Here is the fix: https://github.com/certtools/intelmq/commit/807f3bbcb07f068d057ccc711ab1e898a7892a5b#diff-2c3e5d0ecae281e058771e46309ad364

[2015-09-07 08:49] pedromreis opened #313 "ASN_lookup expert bot error with IPv6"
Hi all

Got this during the weekend:

[code]

[2015-09-07 08:53] sebix commented on #313
IPv6 is not supported by pyasn currently, see this issue upstream: hadiasghari/pyasn#14

[2015-09-07 08:56] pedromreis commented on #313
ok, tks

[2015-09-07 12:41] aaronkaplan commented on #313
On Sep 7, 2015, at 10:53 AM, Sebastian <notifications@github.com> wrote:

We could probably add a module for ip2asn local lookups iff you have a full BBGP table feed somwhere.
The idea is that this can be grabbed via vtysh (quagga) and get a list of netblocks -> ASN (but note that these are the currently announced netblocks/ASNs as opposed to the ones which are registered).

We wrote that code alr

[2015-09-07 12:49] sebix commented on #313
@aaronkaplan why yet another module for ip-asn-lookup in python? It is far easier to fix pyasn than to write your own module. And we don't have the resources anyway.
The bug is known and the maintainer announced to fix it. No need to make a fuss about it.

[2015-09-07 12:51] aaronkaplan commented on #313
On Sep 7, 2015, at 2:49 PM, Sebastian <notifications@github.com> wrote:

sure sure... I was speaking theoretically - this comes later of course.

I think my idea was based on something else. Doesn't matter.. .I'll explain in person.

a.

[2015-09-07 17:44] aaronkaplan commented on #290
On Sep 3, 2015, at 9:35 AM, Sebastian <notifications@github.com> wrote:

I was probably looking at my old version of the repo. Damn.
But thx for the update.

[2015-09-08 06:55] sebix commented on #313
To clarify what we discussed: The pyasn module is also based on BGP table dumps and uses the same algorithms as proposed by Aaron. Nothing will change, we stick to pyasn.

[2015-09-08 13:14] aaronkaplan commented on #313
Yes convinced.

---
Mobile

[2015-09-09 12:22] sebix commented on #259
I still don't understand what the issue is about. @aaronkaplan please clarify what you mean, or close it.

[2015-09-10 13:13] robcza opened #316 "Bot terminated on redis connection issues"
I have an issue with deduplicator bot (actually in my it happens mostly on deduplicator, however as it is on the bot level, it could happen to any bot). As the bot intercepts an issue with redis connection (the first timeout) it tries to reconnect once and dies.

Redis server restarts meanwhile, however the bot is stopped already and breaks the pipeline. According to the configuration below, I wou

[2015-09-11 12:11] sebix commented on #288
Continuous integration is implemented now, what do you think of coverage reports?

[2015-09-11 12:28] aaronkaplan commented on #288
Great idea!

However, IMHO time is running very quickly an we need still the cert.at CLI tool. I think we should not forget the coverage tests but do them after re CLI tool.
But maybe you have a different/ better idea and let's discuss.

A.

---
Mobile

[2015-09-11 13:19] SYNchroACK commented on #290
@sebix can we close it?

[2015-09-11 13:20] SYNchroACK commented on #289
@sebix in your next pull req that change anything in documentation, it could be useful to add the above information. ;)

[2015-09-11 13:22] sebix commented on #289
When I push it, I will replace the todos with actual text.

[2015-09-11 13:24] #285 closed

[2015-09-11 13:32] SYNchroACK commented on #280
https://github.com/certtools/intelmq/blob/master/intelmq/conf/harmonization.conf#L165

[2015-09-11 13:33] SYNchroACK commented on #276
it was removed

[2015-09-11 13:35] SYNchroACK commented on #266
@mauroasilva any news regarding this issue?

[2015-09-11 13:35] SYNchroACK commented on #259
@aaronkaplan , what is the status of this issue?

[2015-09-11 13:47] SYNchroACK commented on #247
fixed

[2015-09-11 13:47] #247 closed

[2015-09-11 13:47] sebix commented on #254
I think - without any experience on real world setups - that bots should fail if they behave wrongly.

[2015-09-11 13:49] SYNchroACK commented on #231
@Brandl and @pedrosa-t any news about this issue?

[2015-09-11 13:51] SYNchroACK commented on #212
@Th4nat0s  ?

[2015-09-11 13:51] SYNchroACK commented on #209
@aaronkaplan any news about this issue?

[2015-09-11 13:52] #200 closed

[2015-09-11 13:53] #189 closed

[2015-09-11 14:04] SYNchroACK commented on #181
.

v1.0-beta branch was merged with master branch. :)

.

v1.0-beta branch was merged with master branch. :)

Until now, any news about it. :(

Master branch has now the correct approach. (I hope :P)

[2015-09-11 14:06] SYNchroACK commented on #176
@sebix do you know whats the current status regarding this python versions compatibility?

[2015-09-11 14:08] #260 closed

[2015-09-11 14:08] sebix commented on #176
Only incompatibilities I know of currently are the csv issues. The setup process runs on both, so this issue can be closed.

[2015-09-11 14:23] SYNchroACK commented on #164
@aaronkaplan can we close it?

[2015-09-11 14:26] #104 closed

[2015-09-11 14:33] #29 closed

[2015-09-11 15:36] #176 closed

[2015-09-11 18:03] Th4nat0s commented on #212
I'm deeply sorry guys, even at night I have no free time.. time should come back on october...

[2015-09-12 08:24] robcza opened #320 "Timefilter bot"
Lots of feeds provide historical IoCs and there could be several reasons not to process them. You may want to exclude such obsolete events from the output and it could actually improve the performance a little if it would be possible to exclude those events before passing them to the pipeline of experts, hence the ideal positioning of the bot would be right after the parsers, even before deduplica

[2015-09-12 11:40] elhoim commented on #280
UUIDs are not integers, they are bigger than that.
In the DB they are represented as varchar(40), and here is an example of a value taken from an event:
**4f97a63e-e1b0-482a-9526-c059ff32448e**

[2015-09-13 02:44] SYNchroACK commented on #320
@robcza I think it should be an extension for the existing filter bot. :)

[2015-09-13 06:28] sebix commented on #280
Oops! Will fix that this week :)

[2015-09-13 16:34] aaronkaplan commented on #320
On Sep 13, 2015, at 4:44 AM, Tomás Lima <notifications@github.com> wrote:

IMHO: either way - if it is an extension or its own bot, I think it's an excellent idea.

[2015-09-13 16:50] robcza commented on #320
Thank you for the comments, will focus on extending the recent filter bot.

[2015-09-13 19:25] sebix commented on #320
I would implement it with relative times, i.e. timedeltas (module [datetime.timedelta](https://docs.python.org/3/library/datetime.html#datetime.timedelta)). So e.g.:

no before: 1 month
not after: None (deactivating check, same as empty)

[2015-09-13 19:27] aaronkaplan commented on #320
On Sep 13, 2015, at 9:25 PM, Sebastian <notifications@github.com> wrote:

makes sense to me, good idea!

[2015-09-13 19:28] SYNchroACK commented on #320
+1

[2015-09-13 21:42] robcza commented on #320
I like it @sebix will do

[2015-09-14 12:34] SYNchroACK opened #321 "Blocklist.de - Certificate validation"
[code]

[2015-09-14 12:52] SYNchroACK commented on #321
**Workaround:** add to /opt/intelmq/etc/default.conf the following parameter:
[code]

[2015-09-14 13:10] SYNchroACK opened #322 "intelmqctl - stop bot is not working"
[code]

Last log messages:
[code]

Manual stop:
[code]

EDITED: it happened in a CentOS 7 system

[2015-09-14 13:20] SYNchroACK commented on #321
https://docs.python.org/dev/library/ssl.html#ssl.HAS_SNI
https://bugzilla.redhat.com/show_bug.cgi?id=836834
https://bugs.launchpad.net/ubuntu/+source/python-requests/+bug/1299075

[2015-09-14 13:30] sebix commented on #321
This workaround will be implemented: https://github.com/kennethreitz/requests/blob/master/requests/packages/urllib3/contrib/pyopenssl.py#L16

[2015-09-14 13:45] sebix commented on #267
Will be postponed as this needs also changes in intelmq-manager and @mauroasilva is not available currently.

[2015-09-14 13:55] SYNchroACK opened #323 "Spamhaus Drop Collector Bot - HTTP response status code was 403"
[code]

[2015-09-14 14:01] sebix commented on #323
Call https://www.spamhaus.org/drop/drop.lasso with the same IP address and see if you get a 403. It yes, you have been temporarily blocked because of too many requests.

[2015-09-15 11:01] #280 closed

[2015-09-15 11:01] #321 closed

[2015-09-15 11:31] SYNchroACK opened #325 "Taichung encoding issues"
[code]

[2015-09-15 11:34] SYNchroACK commented on #311
**Phishtank:**
[code]

[2015-09-15 11:36] SYNchroACK opened #326 "ENH: Error Handling"
[code]

[2015-09-15 11:44] sebix commented on #311
Which Python version?

[2015-09-15 11:44] sebix commented on #326
Obviously, `'-ads.avast.dwnldfr.com'` is not a valid FQDN. Could be a parser issue or bad input data.

[2015-09-15 11:54] sebix commented on #325
These are not encoding issues.

    InvalidValue: invalid value u'DNS \u653b\u64ca' (<type 'unicode'>) for key u'event_description.text'did not match printable ASCII characters.

Unicode chars are not allowed with current `harmonization.conf` for `event_description.text` (ascii only). This seems too strict, so I removed that restriction.

[2015-09-15 11:55] sebix commented on #323
This is due to the lack of SNI on your plattform. Please follow the docs on the installation to enable a workaround: https://github.com/certtools/intelmq/blob/master/docs/User-Guide.md#install-dependencies

[2015-09-15 12:09] SYNchroACK commented on #311
2

[2015-09-15 15:07] SYNchroACK opened #327 "File Output Bot - TypeError: must be str, not bytes"
[code]

[2015-09-17 10:18] #249 closed

[2015-09-18 09:57] robcza opened #331 "IntelMQ Docker"
Hi, I've been toying with IntelMQ in docker for some time now, I think it is really useful to have such a container, however, there are some obstacles I would like to discuss.
https://github.com/robcza/intelmq-dockerhub

1) There is no single IntelMQ process running on the foreground. Docker has no way to realize, whether IntelMQ is still running properly. And to be honest, it is not an easy task

[2015-09-18 10:07] sebix commented on #331
[code]

The logger can be extended to log to even more destinations. Currently, it's one file and stderr. It's possible to add syslog here (depending on config)

[2015-09-18 10:25] #325 closed

[2015-09-18 10:25] #327 closed

[2015-09-18 10:37] robcza commented on #331
1) ```pgrep -f 'python -m intelmq.bots'``` actually did not answer the question "Is IntelMQ healthy and running or should the whole botnet be redeployed?"
Simple attitude would be - redeploy on any crashed bot.

2) For dockerization purposes syslog is not needed, as this could be done on the docker level. I would suggest adding a system.conf attribute ```"combined_logging" : <true/false>```
```fal

[2015-09-18 11:28] sebix commented on #331
I can give you an answer on how to determine if any bot is running. I have no idea what the usage of docker is and what it does, so I can't give you more hints.

2) Seems reasonable for me, @SYNchroACK what do you think?

[2015-09-18 12:54] dumar opened #332 "collector_http_stream problem"
I have problem with  collector_http_stream it works, but then stops and i cant find the problem:

[code]

[2015-09-18 14:13] aaronkaplan opened #333 "install: bug with setup.py or documentation"
Environment: Debian wheezy.
Should we require jessie? If so, this needs to be documented IMHO

[code]

[2015-09-18 14:29] aaronkaplan commented on #333
Further info: after upgrading to jessie, I now get

[code]

[2015-09-18 14:38] SYNchroACK commented on #331
me 2

agreed

[2015-09-18 14:44] SYNchroACK commented on #333
It seems that you are using python2.7, not the default one, python 3.4

[code]

[2015-09-18 18:04] aaronkaplan commented on #333
okay, got it. Sure, did not read the line below in UserGuide.md however,... even with python 2 and REQUIREMENTS2 I get:

[code]

[2015-09-18 19:36] aaronkaplan commented on #333
these error messsages seem like something went terribly wrong with the python installation of a VM.
Closing this issue and re-opening a new one for further error messages with python2.7

[2015-09-18 19:36] #333 closed

[2015-09-18 19:39] aaronkaplan opened #334 "install: bug with requirements installation and documentation"
Environment: Debian wheezy.

It seems that the version of mock (>= 1.1.1) as written in REQUIREMENTS2 is not working for Debian Wheezy.
Possible fix: require only 0.8.0

Second documentation bug: the UserGuide does not mention that postgresql-9.x as well as postgresql-server-dev-9.x is required.

[2015-09-18 19:50] aaronkaplan opened #335 "install: postgresql initdb script gen missing (docu bug?)"
From the postgresql/README.md file:

[code]

However, the link to psql_initdb_generator.py leads to a 404 page.

[2015-09-18 19:50] SYNchroACK commented on #334
Regarding 1st issue, its done 1183c2799e4efdec45e19e9dbfd4f8ccc58ed705

Regarding 2nd, well, we need to improve the specific documentation for each bot. Maybe, centralize everything in /docs/

[2015-09-18 19:55] SYNchroACK commented on #335
Fixed 79cee1b2fe1044075e604f59f612426751e50f52

[2015-09-18 19:55] #335 closed

[2015-09-18 19:57] aaronkaplan commented on #231
On Jun 16, 2015, at 7:14 PM, Tiago Pedrosa <notifications@github.com> wrote:

I believe, the testing is now implemented via Travis-CI.
Is that sufficient for you Tiago?

[2015-09-18 22:23] SYNchroACK commented on #332
@dumar can you share which feed are you using?

[2015-09-19 00:30] SYNchroACK opened #336 "Taichung Parser Bot - python3 incompatibility"
[code]

[2015-09-19 00:32] SYNchroACK opened #337 "Malware Domains Parser Bot - 'xrange' is not defined - python3 compatibility"
[code]

[2015-09-19 00:36] SYNchroACK opened #338 "CleanMX Phishing Parser Bot - wrong keys"
[code]

[2015-09-19 07:57] sebix commented on #338
What was the fix of this issue? Why did it even occur?

[2015-09-19 08:01] sebix commented on #334
What has that commit to do with mock?!
And @aaronkaplan you only need mock if you want to run the tests, so you can just ignore this.

Only when you want to use postgres output bot.

[2015-09-19 18:20] #337 closed

[2015-09-19 18:36] #336 closed

[2015-09-19 18:44] SYNchroACK commented on #311
Phishtank is ok now. I will open a new issue regarding the new format of feed

[2015-09-19 18:44] #311 closed

[2015-09-19 18:45] SYNchroACK commented on #338
I think the problem was mentioned in #311 ...but ok, now this is the issue with the format problem.

[2015-09-19 19:03] SYNchroACK commented on #326
@sebix lol, now I found the reason you said that hehee:

check this -> https://github.com/certtools/intelmq/blob/master/intelmq/lib/bot.py#L148

check this 'unofficial' documentation: https://github.com/certtools/intelmq/issues/289

In my perspective, the difference between retry and pass is if bot will retry X times or not but never stops...

so, whats your opinion about this?  (im not sure if my

[2015-09-19 21:13] SYNchroACK commented on #323
you are right ;) ty

[2015-09-19 21:13] #323 closed

[2015-09-20 18:00] pedrosa-t commented on #231
Yes.

[2015-09-21 08:58] sebix commented on #326
What does the InvalidValue Error have to do with the Error handling of the bot? Please provide the message, the error occured with. Otherwise, it's hard to find the trigger for this error.

Please write full sentences with a proper english syntax/sentence construction. It is hard to read and interpret your comments.

If the error procedure is retry, the message is processed again until the `error_

[2015-09-21 09:16] SYNchroACK commented on #326
The message is the whole hp-hosts report. The problem here is not the exception, is the error handling. As I mentioned #289 is explaining the behavior for each parameter and in this case, the implementation is not the same as described in that documentation.

Conclusion: from what I see in code, the bot is behaving correctly but from in my opinion, bot should retry X times and in the end, dump the

[2015-09-21 09:42] sebix commented on #338
This error occurs, when a value appears in a column without a header, e.g.:

    id,foo,bar
    1,"some","value","error"

Will provide a fix, which gives a warning in these cases, so we can have a more detailed look. The current file from cleanmx does not have these values.

[2015-09-22 14:29] #338 closed

[2015-09-22 14:29] #334 closed

[2015-09-22 19:04] SYNchroACK commented on #326
@sebix and @aaronkaplan @mauroasilva
Do you agree?

[2015-09-22 19:05] SYNchroACK commented on #322
it was a permission problem that I didnt detect, so, invalid issue.

[2015-09-22 19:05] #322 closed

[2015-09-23 17:03] mauroasilva opened #343 "Custom python environment"
When you install IntelMQ assuming you'll use python 3, there is no way to tell intelmq it should run with the python 3 environment (except for changing the default of the whole system).

I think one of the more flexible approaches would be to have a environment variable like INTELMQ_PYTHON which would define the executable used to run intelmq, so... if there was no environment variable the default

[2015-09-23 17:25] mauroasilva commented on #326
Agreed... the bot should retry to process the same message X number of times, if it still fails the message should be logged (if the error_dump_message parameter is true), discarded from the queue and the bot should process the next message in the queue.

[2015-09-23 20:51] SYNchroACK commented on #326
@mauroasilva yap but I forgot to mention the `exit_on_stop` parameter. I think this parameter was added to allows intelmq admin to choose if bot should stop in case of an error (after retries) or keep processing the next messages. @mauroasilva Make sense, right?

[2015-09-23 22:52] aaronkaplan commented on #343
On Sep 23, 2015, at 7:03 PM, mauroasilva <notifications@github.com> wrote:

I believe having the shebangs set to #!/usr/bin/python
is the right thing to do. If someone wants to run with python3, he/she can simply set the alternatives
to point to the right version.

My 2 cents,
a.

[2015-09-23 22:55] mauroasilva commented on #326
To be honest I don't really see a use case for it, but I'm always in favor of giving the admins more flexibility so I don't mind the ```exit_on_stop``` parameter.

But, just out of curiosity, is there a good reason why the bot should stop after a fail instead of continuing to process new messages and allowing the admin to insert the message after it is reviewed?

[2015-09-23 22:57] SYNchroACK commented on #326
https://github.com/SYNchroACK/intelmq/blob/master/intelmq/lib/bot.py#L49
https://github.com/SYNchroACK/intelmq/blob/master/intelmq/lib/bot.py#L159
https://github.com/SYNchroACK/intelmq/blob/master/intelmq/lib/bot.py#L210
https://github.com/SYNchroACK/intelmq/blob/master/intelmq/lib/bot.py#L329

[2015-09-23 23:05] mauroasilva commented on #343
I would normally agree with you... but, won't setting the alternatives to python3 break a few things in CentOS? Someone gave me feedback that it would break a few things...

If, after some tests, we are comfortable with recommending people to change the python version for the whole system, and we are certain it won't break stuff, then I'm totally in favor your idea. If it is not possible, and we r

[2015-09-23 23:07] mauroasilva commented on #326
Use your words... lol

But now really... I didn't get that post

[2015-09-23 23:13] SYNchroACK commented on #326
looooooooooool, crazy stuff. lets use code xD "code is code, no space for interpretation, unless you were a compiler"

https://github.com/certtools/intelmq/compare/master...SYNchroACK:error_handling

[2015-09-23 23:36] aaronkaplan commented on #343
On Sep 24, 2015, at 1:05 AM, mauroasilva <notifications@github.com> wrote:

Well, the other alternative is of course virtualenv... if you can not change your system default python version.
In both cases, I am for changing the stuff to #!/usr/bin/env python  or so.

I believe the idea is independent of changing the whole system setup or not , see above.

see above.

No, I don't like that . Eventual

[2015-09-24 08:11] sebix commented on #326
Actually the issue is a duplicate of #289

[2015-09-24 08:19] sebix commented on #343
Yep, quite easily possible. The bots are started in `intelmqctl`, see `__bot_start` [on line 307](https://github.com/certtools/intelmq/blob/master/intelmq/bin/intelmqctl#L307), read the environment variable with `os.environ['INTELMQ_PYTHON']` and use it there.

I have doubts, we hardcoded `/opt/intelmq` :)

There are no shebangs requiring a specific version. Only the files in bin/ have shebangs (`

[2015-09-24 08:26] aaronkaplan commented on #343
---
Mobile

Oh damn.

[2015-09-24 09:52] mauroasilva commented on #343
Yes, I know it is possible since I was one of its developers =P The only reason I made an issue was so we could discuss the best approach.

Agreed, the environment "dependencies" are both at the intelmqctl itself and at the command string that is run from within the ctl.
Although the first can easily be overcome by doing ```python3 /opt/intelmq/bin/intelmqctl``` instead of ```/opt/intelmq/bin/inte

[2015-09-24 23:37] SYNchroACK opened #346 "BUG: DRG SSH Parser"
https://github.com/certtools/intelmq/blob/master/intelmq/bots/parsers/dragonresearchgroup/parser_ssh.py#L47

[2015-09-25 15:25] SYNchroACK opened #347 "BUG: lib/bot.py"
[code]
sel.dump_message() - doest have access to exception variable

[2015-09-25 19:22] #347 closed

[2015-09-28 11:32] dumar commented on #332
Sorry for long reply. I would like not to at this time, but I was writing my own parser and tryed to use existing stream collector and this problem happened.

[2015-09-28 16:14] sebix commented on #332
Does anyone know pages with http streams which we can use for tests? Content does not matter.
I never used and tested that module.

[2015-09-29 12:33] sebix commented on #248
Keep this issue in mind for #345

[2015-10-05 14:16] aaronkaplan opened #350 "BUG: postgresql output bot encoding"
when running intelmq with the postgresql output bot there seems to be an encoding issue. Shouldn't all be UTF-8?

Note that the problem exists in the field \"source.geolocation.city\": \"\\u00dcr\\u00fcmqi\"

[code]

[2015-10-05 14:21] aaronkaplan opened #351 "BUG: postgresql output bot should not stop on error"
See issue #350 : when such an error occurs, the postgresql bot stops processing data.
It should continue processing the other data and not stop entirely.

From the log file:

[code]

[2015-10-05 14:58] aaronkaplan opened #352 "filter bot - add example"
I am missing an example config snippet in the filter bot.

[2015-10-05 16:50] aaronkaplan opened #353 "performance: cert.at contact lookup bot is too slow"
The contacts.cert.at service accepts a whole large list of IP addresses to process at once.
Maybe it makes sense to send the bot's input queue data in bulk via HTTP POST and get the results back in bulk. This will speed up the processing of this bot massively.

[2015-10-05 16:50] aaronkaplan commented on #353
note: this is currenently low priority

[2015-10-06 06:56] sebix commented on #353
Possible duplicate of #186.

It's not possible for any bot to fetch multiple messages from the input queue. Many other bots could be improved too using this technique (thinking of lookup and output bots).

[2015-10-06 06:59] sebix commented on #351
This is a configuration issue in the first place. Change the error-procedure to pass. The pass procedure will be default with #345.

[2015-10-06 07:20] otmarlendl commented on #353
I recently had the following idea to speed up DNS queries (yes, this does not apply to this issue, but it has been discussed in #186):

If we need to do bulk DNS lookups, e.g. PTR lookups for a large stream of events, the current setup is to loop over "fetch one event, make a synchronous DNS lookup, modify event, pass on".

What about prefixing that (unmodified) bot with a second bot, that simply

[2015-10-06 08:36] aaronkaplan opened #354 "RTIR Collector bot"
We need a bot which can connect to RT / RTIR via its RESTful API and
  * select all tickets which are not owned, match a specific user and queue ("incident-reports" by default) and match a specific subject
  * remember these ticket ids (for adding them later to the events)
  * assign these tickets to a user ("intelmq" by default)
  * fetch the attachments of the ticket, check if their filename mat

[2015-10-06 08:38] aaronkaplan opened #355 "fix docs/Bots.md file"
I see a lot of FIXMEs in the docs/Bots.md . We should fix this.

[2015-10-06 08:41] aaronkaplan opened #356 "modify bot: add a sane set of default matching rules"
The modify bot needs to have a list of sane and tested (!) default rules (if-then matching rules) for all provided bots/feeds.

[2015-10-06 08:42] aaronkaplan commented on #351
okay, thanks . I thus close this issue.

[2015-10-06 08:42] #351 closed

[2015-10-06 08:43] aaronkaplan commented on #350
fixed by a) documenting in the code as well as in the documentation that we need a UTF-8 postgres database b) changing the database to utf-8 ;-)
Can close this issue.

[2015-10-06 08:43] #350 closed

[2015-10-06 08:46] sebix commented on #259
In the UI this is not possible, as the manager gives this error message when connecting a colelctor to an output bot:

[2015-10-06 08:53] aaronkaplan commented on #353
On Oct 6, 2015, at 9:20 AM, otmarlendl <notifications@github.com> wrote:

I like the idea! As discussed in person already - yes, let's keep that in mind and do it once we do more performance enhancements.
Great idea.

a.

[2015-10-06 08:59] aaronkaplan commented on #259
I am utterly confused by this issue lol.

[2015-10-06 09:06] aaronkaplan commented on #259
Clarified with @sebix now. I think we are all set and we can close this.

[2015-10-06 09:06] #259 closed

[2015-10-06 09:25] aaronkaplan opened #357 "create an example *.conf setup which works out of the box"
We need an example config setup which works just straight out of the box.
I'll add it to an example/ subdirectory.

[2015-10-06 14:58] SYNchroACK commented on #352
@aaronkaplan currently, intelmq has some configs which automatically are installed in /opt/intelmq/etc

https://github.com/certtools/intelmq/tree/master/intelmq/conf

Do you want a full configuration for all bots? Some bots needs specific parameters like API keys, etc..

Whats is the best approach in your opinion?

[2015-10-06 15:43] aaronkaplan commented on #352
yes, I am working on an example/ directory which has sane default values for all bots.
If some bot needs an API key, so be it, let's have it there with <INSERT-YOUR-API-KEY> as a text and have the bot crash .
Note: these are all **examples* in an example/ subdirectory.
People will be smart enough to copy & paste & modify from the example/ directory.

That\s my opinion.

[2015-10-06 16:00] SYNchroACK commented on #352
Yes, I agree.

[2015-10-06 17:00] #346 closed

[2015-10-06 17:16] aaronkaplan opened #359 "BUG: dgarchive bot returns 401 even though the user/pass is correct"
[code]

[2015-10-06 17:25] aaronkaplan commented on #359
problem identified: the paramters must be http_username and http_password...

[2015-10-06 17:27] #359 closed

[2015-10-06 17:40] sebix commented on #359
Yes, this has been changed in #344 by @SYNchroACK

[2015-10-06 17:43] aaronkaplan commented on #359
On Oct 6, 2015, at 7:40 PM, Sebastian <notifications@github.com> wrote:

okay. Anyway, I fixed it now. See the latest commit.

[2015-10-07 09:07] aaronkaplan opened #361 "ENH: idea - keep event rate (events/sec) in bot and show in intelmq-manager"
While observing intelmq-manager and monitoring the throughput of different bots, I noticed that you can only get a snapshot in time of the queue length. However, the snapshot really depends on the processing speed of the bot and when the snapshot is done. This does not tell you very well, how fast a bot is processing data.
Therefore, I'd like to propose that each bot keeps an internal counter for

[2015-10-07 09:52] aaronkaplan opened #362 "ENH: feodotracker / abuse.ch bots - need to set malware.name in parser"
The malware.name field does not seem to get set in the Abuse.ch bots.

[2015-10-07 11:49] aaronkaplan opened #363 "intelmqcli: request - please implement filter for specific feeds"
At work a feature request appeared: can you please implement a command line parameter for intelmqctl so that it will only fetch data from a specific feed. For example:

[code]

Thank you!

[2015-10-07 11:52] aaronkaplan commented on #276
Tomas, we need the DCU bot for us. Why was it simply removed?

[2015-10-07 11:53] sebix commented on #363
There's no intelmqcli in this repository, you want to create this issue at @certat

[2015-10-07 11:54] aaronkaplan commented on #292
any news on this? I'd be willing to test the RSS bots.

[2015-10-07 11:56] aaronkaplan commented on #363
oh yeah, sorry... "ctl" looks like "cli" ;-)

[2015-10-07 11:56] #363 closed

[2015-10-07 14:44] aaronkaplan opened #364 "BUG: for all bots, make sure that timestamps are parsed and added properly"
We need to go over all bots-parsers and make sure that whenever they parse data, they add the available info on timestamps properly as good as they can. This is paramount for sending out the data correctly.

[2015-10-07 15:55] aaronkaplan opened #365 "ENH: passwords are stored in cleartext and shown in cleartext in intelmq-manager"
We need to come up with a better way to store the authentication tokens needed for the config files.

[2015-10-07 16:13] aaronkaplan opened #366 "BUG: http(s)?_proxy ENV variables still seem to be needed (even if specified in defaults.conf)"
So, I noticed that when you restart a bot or the botnet via intelmqctl , you need to have the $http_proxy and $https_proxy env variables set, otherwise it will not use the proxy.
This even happens when the settings are entered into etc/defaults.conf .

IMHO the proxy settings from etc/defaults.conf should be used in any case.

[2015-10-07 16:21] aaronkaplan opened #367 "ENH: log file rotation"
Usually in *nix we have nice tools for log file rotation such as logrotate(1)

Here is a proposal for a logroate.d/intelmq could look like:

[code]

**Note**: this is far from perfect. In fact, if you use this, it will copy over each file to a $file.1 and then later compress it with gzip. However, in the meantime, intelmq-manager will try to open the new (empty) file and will complain.
The python

[2015-10-07 18:36] sebix commented on #365
Save them symmetrically encrypted and the password is asked by intelmqctl/intelmq-manager when the bot starts?

IMHO the sysadmins have to ensure that the configuration files have to be protected. intelmq is not special in any other way, the same applies for all other server-software including web-applications and credentials for databases, mail servers and credentials for lookup mechanisms, priva

[2015-10-07 19:15] aaronkaplan commented on #365
---
Mobile

Nahhh. Also not good.
As said I am not sure what's the best way.

I know. But seeing an unencrypted pwd over http:// in intelmq-manager is - disappointing :)

Anyway. Not a prio right now. But I documented it so that we don't forget.

[2015-10-08 18:37] SYNchroACK opened #368 "Where bot configs should be stored in repo?"

[2015-10-08 20:17] sebix commented on #368
I assume this question arose as the docs are now centralized in a separate combined file?

[2015-10-09 16:05] SYNchroACK commented on #368
The following information represents an example of what we discussed

**Modify Expert Bot**
* * *
**Files location in repository:**

* bot documentation: intelmq/bots/experts/modify/modify.md
* bot config: intelmq/bots/experts/modify/modify.conf

**Files location in installation folder:**

* bot documentation: /opt/intelmq/docs/bots/modify.md
* bot config: /opt/intelmq/conf/bots/modify.conf

Is it

[2015-10-09 16:08] SYNchroACK commented on #367
As we discussed, we should use logrotate and that procedure should be documented in User-Guide

Regarding file handler, we agreed that logging from intelmq should be prepared (need code changes) to behave normally even with log rotation.

[2015-10-09 16:12] #366 closed

[2015-10-09 16:23] SYNchroACK commented on #357
The following information represents an example for runtime configuration:

**Runtime configuration**
* * *
**File location in repository:** intelmq/conf/examples/runtime.conf
**File location in installation folder:** /opt/intelmq/conf/examples/runtime.conf

Is it ok?

[2015-10-09 16:27] SYNchroACK commented on #343
+1 os.environ['INTELMQ_PYTHON']

Lets solve it... :)

[2015-10-09 16:30] #289 closed

[2015-10-09 16:35] SYNchroACK commented on #288
its done, right?

[2015-10-09 16:37] SYNchroACK commented on #283
this issue is not correct. CleanMX didnt change the format.

[2015-10-09 16:37] #283 closed

[2015-10-09 16:40] SYNchroACK commented on #276
It was removed because its a private feed. We need to define between us the policy for that kind of feeds. If you think its better to put here, its ok, but it will give possibility to foreign entities understand which private feeds you are using since you used your account to commit the code.

[2015-10-09 17:19] SYNchroACK commented on #212
The current version already solves this issue

[2015-10-09 17:19] #212 closed

[2015-10-09 17:20] SYNchroACK commented on #209
this issue is deprecated right?

[2015-10-09 17:22] SYNchroACK commented on #174
this issue is already solved with new documentation and checks.

[2015-10-09 17:22] #174 closed

[2015-10-10 08:54] sebix commented on #288
No, where's the coverage test?

[2015-10-10 08:59] sebix commented on #276
We already have some bots requiring special rights/granted permissions: Alienvault OTX, Fraunhofer DGA, MalwarePatrol Dans Guardian, MaxMind GeoIP, PhishTank, Spamhaus Cert

[2015-10-10 11:08] aaronkaplan commented on #276
Tomas, sorry that's not true. DCU is on github (see CIRCL). So, no it is not private. The password for access is private. Please put it back, thank you.

[2015-10-10 22:53] SYNchroACK commented on #276
In that case, it will give the possibility to foreign entities to understand which private feeds you are using since you used your account to commit the code.

If you dont have any problem with that, please convert the bot to new version and merge it. Its fine ;)

[2015-10-13 07:18] sebix commented on #368
Yes, I'm fine with it.

[2015-10-13 07:28] sebix commented on #367
There are some possibilities given by the logrotate handlers: https://docs.python.org/2/library/logging.handlers.html

- WatchedFileHandler, appropriate in a logrotate setup

- RotatingFileHandler

- TimedRotatingFileHandler

- SysLogHandler

[2015-10-13 07:43] sebix commented on #283
I thought you want to change from CSV: http://support.clean-mx.de/clean-mx/xmlphishing?response=alive&format=csv to XML: http://support.clean-mx.de/clean-mx/xmlphishing?response=alive&format=xml
And the same for viruses.

[2015-10-13 09:31] sebix opened #369 "FQDN with trailing dot or not?"
The current implementation allows bots variants, with and without the trailing dot for the root zone. Sanitize does not add or remove it.

    True

    True

    u'foobar.example'

    u'foobar.example.'

This can potentially lead to duplicates.

Which variant do you prefer?

[2015-10-13 09:42] sebix commented on #343
I implemented this in 538a5bd8df502812b88b9fc63bd87f88eaaa351a. How can this feature be used by intelmq-manager @mauroasilva, could you document it?

[2015-10-13 09:47] SYNchroACK commented on #369
'foobar.example'

[2015-10-20 11:07] zurgutt commented on #231
Having installers in separate repository serves no good purpose at all, lets have them in main repo.

[2015-10-20 12:35] sebix commented on #356
Can we just use the evolving config of our internal setup?

[2015-10-20 12:35] robcza commented on #369
Talking of indicators of compromise I think foobar.example and foobar.example. carry exactly the same information. As I would expect from IntelMQ, that the output is normalized I prefer the variant, when sanitization always produces fqdn without trailing dot.

[2015-10-20 13:13] SYNchroACK opened #371 "intelmqdump error when no parameters"
[code]

I think it should show the help instructions.

[2015-10-20 13:21] sebix commented on #371
The error is that there are no dumps. Will fix that soon today.

[2015-10-20 15:12] sebix commented on #369
@aaronkaplan What do you think here?

[2015-10-20 15:13] aaronkaplan commented on #369
Robert’s proposal is fine for me.
It’s easy to rtrim(‘\.’) at the end.

[2015-10-20 15:18] sebix commented on #369
Ok, we have a consensus here. Trailing dot is not allowed and will be removed in sanitation.

[2015-10-20 15:25] aaronkaplan commented on #369
Yes

[2015-10-20 18:08] #343 closed

[2015-10-20 18:08] #369 closed

[2015-10-20 18:08] #371 closed

[2015-10-22 12:47] SYNchroACK commented on #185
Include also:
* include a default intelmq Event message in JSON format

[2015-10-22 12:47] SYNchroACK commented on #250
moved to: https://github.com/certtools/intelmq/issues/185

[2015-10-22 12:47] #250 closed

[2015-10-22 13:03] robcza opened #373 "BOT: DNS lookup"
We are considering a bot to do a DNS lookup for events, where only fqdn is included. Except the performance issues that will be the same as in the case of reverse_dns expert bot, we have encountered another issue. Forward lookup could return more than one IP address for the domain, what to do with the result?
- split the event in more events and fill the source.ip with the results of the dns looku

[2015-10-22 13:16] aaronkaplan commented on #373
hmm, good question.

I guess that depends on the event.

an array?

Can you give us an example of such an event?

[2015-10-22 13:39] robcza commented on #373
Array is an obvious solution, and although I'm not a fan of adding new attributes, I don't think we should split an event into more. The logic behind the event is "this fqdn is bad" and splitting the event would be misleading on the output. My opinion is - we should add new array attribute.

I do not have any particular event example, but any domain with more IPs will do, sorry google:
[code]

[2015-10-22 13:42] e3rd commented on #373
What about 'forward_dns' to be the name? Note that 'reverse_dns' exists just for the opposite case.

[2015-10-22 14:00] robcza opened #374 "BUG: parser dismissing whole report on exception"
I have a trouble with hphosts-parser for several days now. First record in the list is ```127.0.0.1	-ads.avast.dwnldfr.com``` which is obviously malformed fqdn and parser raises an exception. So far that is an expected behavior.
The think is, I would expect parser to continue with following lines and not to purge the rest of the report. I would suggest parser to catch the sanitization exception an

[2015-10-22 14:08] aaronkaplan commented on #373
Got it. Okay, I came across the same problem once when thinking about pDNS.
So, if we have an array, then potentially we have a very large array.
Still I prefer an array to splitting the event.

[2015-10-22 14:08] aaronkaplan commented on #373
Makes sense for me as well.

[2015-10-22 17:13] sebix commented on #374
Expected behavior. The message (report) is dumped (default config). To process it again, use the intelmqdump tool.

But the bot will fail again of course. Parsers need to skip this one line (dump it) and continue. The current behavior works only for experts and output bots.

[2015-10-23 07:38] robcza commented on #374
Do you think the fix could possibly happen on the lib level or does this mean modification of all parsers?

[2015-10-27 04:53] SYNchroACK opened #375 "unittest: config"
Need some help to understand the following behavior (im trying to catch the unittest developments):

When I change the following value (https://github.com/certtools/intelmq/blob/master/intelmq/lib/test.py#L33) nothing change. I found that I need to change also in https://github.com/certtools/intelmq/blob/master/intelmq/tests/lib/test_bot.py#L41

This happens because intelmq/lib/test.py is just a t

[2015-10-27 06:18] SYNchroACK commented on #326
#376

[2015-10-27 06:20] SYNchroACK commented on #316
pull req #376 fixes this issue

[2015-10-27 06:26] SYNchroACK opened #377 "MISP Expert Bot"
Documentation: http://www.circl.lu/assets/files/PyMISP.pdf

[code]

[2015-10-27 10:10] sebix commented on #375
- `intelmq/tests/lib/test_bot.py` tests the bot class itself
- `intelmq/lib/test.py` is the template for the bot-tests

They are similar but not equal, though they could share more they have in common.

[2015-10-27 10:32] sebix commented on #374
Two possibilities:

1. The parsers can dump individual lines (in case of csv and similar) or values (in case of json and similar) so they can be inspected with intelmqdump afterwards
2. The parser skips datasets (lines) in case of essential invalid values like the FQDN.

In both cases the parsers need to be touched.

[2015-10-27 14:19] SYNchroACK commented on #374
This approach was already proposed by others and we found that it will break the simplicity of IntelMQ. We need to be really careful when we decide to add this kind of features. So, it will depend of the technical solution but i will probably not support this change.

[2015-10-27 14:20] sebix commented on #374
Yeah, I'm aware of this. What would be another valid solution for this problem?

[2015-10-27 15:30] aaronkaplan opened #378 "n6 STOMP bot needed"
Integrate the n6 STOMP protocol bot

[2015-10-27 17:03] SYNchroACK commented on #378
I would change to milestone v1.1 because we really need to finish the v1.0 in terms of core changes. Whats your opinion @aaronkaplan ?

I think we have a lot to do to finish the v1.0:
https://github.com/certtools/intelmq/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22Release+1+-+v1.0%22

[2015-10-27 17:21] SYNchroACK commented on #374
In fact, I dont have a good answer. :(
My current approach is to keep the simplicity and "send" the error fix procedure to "human side" (intelmq sysadmin). I know... its not the best solution... but i'm afraid that new "expert" feature of parsers will kill the simplicity for new users.... dont know.... :S

[2015-10-27 19:09] SYNchroACK opened #379 "Branch: aaronkaplan-patch-1"
https://github.com/certtools/intelmq/tree/aaronkaplan-patch-1

Hi @aaronkaplan ,

The changes in aaronkaplan-patch-1 was already merged? Can we remove the branch from main repository?

Regards

[2015-10-27 20:13] aaronkaplan commented on #378
I have it nearly finished and for us it’s part of v1.0 :)
Anyway, I’ll contribute it. That’s why the issue was assigned to myself :)

[2015-10-27 22:53] SYNchroACK commented on #378
ok Aaron. Agreed ;)

[2015-10-29 16:30] robcza commented on #362
To associate the malware name is necessary to know the source feed. The feed.code could be helpful, however there are no codes set yet. I see two possible solutions here:

1. adjust the parser to set the malware.name according to the feed.code
2. add malware.name attribute to the report and inherit it to the events in the parser

Option #1 works for me, however depends on properly set feed.code at

[2015-10-30 04:30] SYNchroACK opened #384 "Contribute: Feeds List"
If you want to **contribute** creating some bots in order to collect more information, pick one of these feeds:
- [ ] ~~1d4                   https://1d4.us/archive/~~ offline
- [ ] Abuse.ch (RSS)        https://sslbl.abuse.ch/blacklist/
- [x] Abuse.ch (RSS)        https://feodotracker.abuse.ch/blocklist/
- [x] ~~Abuse.ch (RSS)        https://palevotracker.abuse.ch/blocklists.php~~ discontinued
-

[2015-10-30 13:09] robcza commented on #374
The only solution I see, where parsers do not have to be touched is a following one:
 - adding new attribute to the Event class ```self.erroneous = False```
 - sanititzation error would result in operation ```self.erroneous = True``` on the Event level, but the processing goes on
 - ```self.send_message(event)``` would check ```event.erroneous``` state and dump it if True

Parser does not have to

[2015-10-30 15:25] aaronkaplan opened #385 "dga collector downloads its data too often under certain conditions"
I noticed with the DGA collector bot that a weird error condition can occur:
1. the collector bot will download the data (it is a lot of data!)
2. the disk is full -> redis will have a pipeline error
3. the bot will through a stack trace and retry in error_retry_delay (= 15 sec by default) again.
4. goto 1.

-> therefore the collector bot will create a huge load on the source feed's site and downl

[2015-10-30 17:18] SYNchroACK commented on #374
@robcza how should bot catch the exception?

[2015-10-30 17:27] robcza commented on #374
Is it necessary to raise the exception on the ```Message``` level? I mean during sanitation, you can just set the error flag here https://github.com/robcza/intelmq/blob/master/intelmq/lib/message.py#L121

Maybe even save the exception to dump it later during send_message(event), but keep the bot going.

[2015-10-30 18:07] SYNchroACK commented on #374
hum... i will describe a little bit just to give context to my perspective:

a. In parsers you define the `def process():`.
b. Imagine in the middle of the report processing, something crash due a bad line in the middle of report.
c. In the current version, it will raise an exception because the bot cant understand which kind of line it is and, in `def start()` method at bot.py, the exception will

[2015-10-30 18:30] aaronkaplan commented on #374
---
Mobile

I think you are addressing the problem at the wrong level here. IMHO the task of the parser is to guarantee that a) either a line is valid or b) that it's invalid and in that case it might get logged or ignored. But a parser must never crash. It has a regexp or context free grammar that will deterministcally guarantee a maximum running time and a clear output (valid or invalid). And no

[2015-10-30 19:12] robcza commented on #374
Check this: https://github.com/robcza/intelmq/commit/2cb321d2f230fbfc28fe6e9db201703d181f33e4
Just tested and works (meaning "parsers are not stopped on malformed line, sanitized events are processed").
- e.g.: ```exception``` could be actually a list filled with all the exceptions encountered throughout the event creation and processing
- I'm not sure whether I haven't affected other part of Inte

[2015-10-30 21:24] SYNchroACK commented on #374
@aaronkaplan , look, I just describe the current behavior of any bot types, including parsers. In the current situation, if a report is a csv but some line is broken, bot will crash but since we have try:except , error handling procedure will keep bot running in order to try process the same report again. So, this is the current behavior.

If we start talking about the perfect concept for bot beha

[2015-10-30 21:37] robcza commented on #374
This is the behavior of my solution proposed earlier
[code]

[2015-10-30 21:40] SYNchroACK commented on #374
@robcza , I think your solution solves part of problem, yes... and I think with some improvements is actually one of the best approaches that I see. So, we agree. ;)

but... when I started discuss this issue, I always think in other kind of situation like the following:

OpenBL Parser Bot (https://github.com/certtools/intelmq/blob/master/intelmq/bots/parsers/openbl/parser.py):
[code]

Report sampl

[2015-10-30 22:13] robcza commented on #374
thank you for the summary @SYNchroACK
Though it seems to me this particular example won't crash the parser, I got your point. I think there are two levels of what could go wrong:
- malformed data type (incomplete records, unsupported characters/format, etc.)
  - that is why we do the sanitation and anyone working on a parser should just rely on the sanitation process without having to check the re

[2015-10-30 22:35] SYNchroACK commented on #374
@robcza excellent comment!!! I agree with your perspective. We need to evaluate an approach to handle 'malformed report'. ;)
Lets continue discussing and present some technical approaches.

[2015-10-31 01:26] #316 closed

[2015-10-31 01:26] #326 closed

[2015-10-31 11:37] robcza commented on #316
Thank you @synchroack :)

[2015-10-31 19:17] SYNchroACK commented on #379
@aaronkaplan I will remove the branch since I merged your fix in postgresql documentation (5642b6e41f80f2dd79acd13137eb056fb5c8e90f)

Your fix:
[code]

[2015-10-31 19:17] #379 closed

[2015-11-02 20:05] e3rd commented on #373
I've been trying to implement this, however, when configuring forward_dns in harmonization.conf, I am unable to set the type as "list". I'd like to put it as "list of IPAddress" but this seems to not be possible.
I have to set forward_dns as String and join the list of IPs to the signle String.

There is no "list" type option in harmonization, or am I blind?

[2015-11-03 09:14] sebix commented on #373
@e3rd Yes this is correct. We had a discussion on a similar problem concerning email addresses (abuse contact), see #185. But this is a different case, as data is derived from IP addresses, but not from abuse contacts.

Alternative to lists: Clone the event and create duplicates for each address. I prefer this variant as I see severe issues when saving multiple IPs per event. Small example: Given

[2015-11-03 09:43] sebix commented on #362
What about using the Feed URLs? The feed code is for (pseudo-) anonymization of feeds as far as I understood. So, it's not relevant for intelmq at all, only afterwards in databases and can be set arbitrarily. @aaronkaplan can you give your comment here?

[2015-11-03 10:39] aaronkaplan commented on #385
solution: go through all bots in BOTS and define meaningful ```error_retry_delay``` values **and** have proper monitoring if bots crash

[2015-11-03 10:48] aaronkaplan commented on #367
@mauroasilva , @robcza, @SYNchroACK , @e3rd: would it be OK for you all if we change the logger to use syslog **by default** (and of course provide example rsyslogd.conf and logrotate.d/intelmq config examples in a contrib/ subdirectory)?

Let me and @sebix know please what you think.

Our reasoning is that syslog is a standard tool for unix. We should integrate with standard tools and therefore m

[2015-11-03 11:32] aaronkaplan commented on #362
@sebix: you mean ```feed.url``` ? Yes, also OK. But I think we need in general more info (feed.name, feed.url, feed.code, ...)  in the abuse.ch bots for the intelmqcli tool afterwards.

[2015-11-03 11:46] robcza commented on #367
:+1: for me, had some troubles with the recent logging, would manage syslog easier

[2015-11-03 12:54] robcza commented on #362
Should be successfully implemented https://github.com/certtools/intelmq/pull/387

[2015-11-03 13:00] aaronkaplan opened #388 ""time.source" field is not filled up with some bots"
We have a problem with some bots which don't provide a ```time.source``` field. At the recipient (ISP, network operator ) side, there is no way someone can find such an IP address in large log files without a timestamp (and time zone)!

Hence we have a few options:
  1. we provide time info via ```time.observation``` (i.e. when we found the event in some blocklist etc) **and** provide a way to ver

[2015-11-03 13:33] robcza commented on #388
I can not agree with this proposal, I'll try to explain my reason. I see these three types of events:

1. "seen first" stated and used as time.source, however no information regarding "seen last"
  - it is obvious when it started, you have to guess, when it ends
2. "seen first" and "seen last" both published by the feed, "seen first" used as time.source
  - start and end both obvious
3. no informa

[2015-11-03 13:38] aaronkaplan commented on #388
@robcza : I agree with you! Actually, after some internal discussions, I had to correct my original issue report. It seems the situation is a bit more complex (as you also noted as well).

We'll think about it some more...

[2015-11-03 13:57] aaronkaplan opened #389 "bug: intelmqctl tool does not properly list queues"
How to repeat:

```sudo -Eu intelmq /opt/intelmq/bin/intelmqctl -s queues```
-> no output

```sudo -Eu intelmq /opt/intelmq/bin/intelmqctl -s queues --type json ```
-> meaningful output

[2015-11-03 14:41] aaronkaplan commented on #388
@robcza : do you know if we can add a timestamp field to the turris feed? That's still needed. Then we can set ```time.source``` to the feeds' time stamp field.

[2015-11-03 15:01] sebix commented on #388
For the record, these feeds (parsers) do not provide a time.source: Turris, Blocklist.de, abuse.ch, fraunhofer dga

Actually, exactly these have been tested, so the list is far from complete.

[2015-11-03 16:03] aaronkaplan commented on #389
@sebix could not reproduce this. Weird... I have a standard setup

[2015-11-03 17:04] aaronkaplan opened #390 "bug: drg parser stack trace"
The DRG VNC parser can not deal with a value "NA" for ```source.asn```.
I believe we should gently ignore this error.

[code]

[2015-11-03 20:39] sebix opened #391 "Packaging and distribution"
As we come closer to a final stable version, we need to think more about distribution and packaging.

I want to address some topics:
- Remove support for old `setup.py` in favor of pip. setup.py has many disadvantages. See e.g. the numpy-discussion list: [[Numpy-discussion] Proposal: stop supporting 'setup.py install'; start requiring 'pip install .' instead](https://mail.scipy.org/pipermail/numpy

[2015-11-03 21:05] seamustuohy opened #392 "Missing gnutls/gnutls.h on Debian 8 due to missing libgnutls28-dev"
I was installing intelmq on a headless Debian 8 machine following the Python3 instructions when I encountered an error in my install. After typing in ```pip3 install -r REQUIREMENTS```  in the [installation instructions](https://github.com/certtools/intelmq/blob/master/docs/User-Guide.md#python-34-recommended-1) I encountered an fatal error that stated that I was missing ```gnutls/gnutls.h:```

It

[2015-11-03 21:18] sebix commented on #392
Which package requires the `gnutls.h`? I suspect zmq as it is the only package which needs to be compiled.

On Ubuntu 14.04 the package `libcurl4-gnutls-dev` (mentioned as requirement) depends on `libgnutls-dev`. Does a package `libgnutls-dev` exist on Debian 8 as virtual package for `libgnutls28-dev`? Would make the installation instructions a bit easier to read.

[2015-11-03 21:23] aaronkaplan commented on #391
Ahm… I know for sure that at certat we’ll have to deal with debian packages. Otherwise our ops folks will slice us up into small tiny pieces ;)

Is there a way to have both pip and .deb packages?

[2015-11-03 22:10] elationfoundation commented on #392
The error occurs when pip is building the pycurl extension. ```src/pycurl.h:164:30``` has the fatal error because of the line ```#include <gnutls/gnutls.h>. It looks like there is a libgnutls-dev. I just grabbed libgnutls28-dev because apt-file pointed at that package as the one with gnutls.h.

[2015-11-04 20:16] helderfernandes1279 opened #393 "Exception in file utils.py - function reverse_readline - python 3"
When using python 3.4, when someone try to see the logs in intelmq-manager the following exception occurs in the function reverse_readline in file utils.py:

[code]

Since python 3.2 that these arguments are not possible to use in the function seek, I've changed the code of the function and this fix works, here's the code:

[code]

Regards

[2015-11-04 22:11] helderfernandes1279 commented on #393
The code can be improved with the var names,  for example the var "number" can be replaced with "offset", this var store the value of the first possible char of a line in the range totalfilesize-buffersize

[2015-11-04 23:23] helderfernandes1279 commented on #384
OMG!! So much juice.......!!!!!!

Tomas i'm wondering, how can we evaluate the false positives or false negatives with this huge amount of  intel.....this kind of stuff makes me think that the event record structure should have some kind of field that would represent the level of trust the collected info.....

[2015-11-05 02:04] SYNchroACK commented on #384
I think @mauroasilva is one step ahead heheh :)

https://github.com/certtools/intelmq/pull/381

[2015-11-05 10:08] helderfernandes1279 commented on #384
Always late hehehe:)

[2015-11-05 12:07] helderfernandes1279 commented on #393
There's a line missing in the code, the var number must be defined outside the "if".
Here's the code with the missing line:

def reverse_readline(filename, buf_size=8192):
----with open(filename) as qfile:
--------qfile.seek(0, os.SEEK_END)
--------position = totalsize = qfile.tell()
--------line = ''
--------number=0
--------if buf_size < position:
------------qfile.seek(totalsize-buf_size-1)
---

[2015-11-05 18:52] mauroasilva commented on #389
@aaronkaplan you are right. When intelmqctl is run with the ```--type json``` flag, the result is printed into stdout, if no flag is given the result is printed into the intelmqctl log file. Should the default be to print to stdout? If yes, should we add something like ```--output log|stdout``` to choose where the information is written to?

[2015-11-05 18:54] aaronkaplan commented on #389
yes.
I think it needs to be consistent :)
And yes, as a user I would expect the parameter to show me output on stdout.

IMHO stdout is enough.

My 2 cents,
a.

[2015-11-05 19:02] mauroasilva commented on #389
@sebix you changed the intelmqctl based on an issue #218, does it make sense to have an ```--output```  flag so the user can control the output?

[2015-11-05 20:16] sebix commented on #389
Do you want another output-type to only write the result to the log file? I would just fix the bug that the result is not printed to stdout/stderr.

[2015-11-06 09:27] mauroasilva commented on #389
Hmm... so you mean write both to log and stdout?

[2015-11-06 10:37] aaronkaplan commented on #389
anything :) As long as it's on stdout.

[2015-11-06 20:36] robcza commented on #389
+1 for stdout flag

[2015-11-09 19:51] aaronkaplan opened #394 "missing info in the harmonization file: hash.md5, hash.sha1, etc."
There is a problem with assuming the implicit declaration of hash functions by prefixing them with $1$ etc . in the events table / data harmonization config file:
- assume you are given a hash (sha1) of a piece of malware and you want to find it in the events table.
  However, you only stored the md5 since that is what you received even though the sender sent you both fields (sha1 and md4 - such a

[2015-11-09 20:04] sebix commented on #394
The next field where we can possible have multiple values...

[2015-11-09 22:43] aaronkaplan commented on #394
True but multiple values might be OK for JSON (-> array of values) but not so much for a SQL DB.

[2015-11-10 09:48] sebix commented on #389
@mauroasilva @robcza does `intelmqctl -s queues` does show output for you? Can't think of a possibility why `-s queues` does not give an output and all others work. Except the `bin/intelmqctl` file is modified of course.

[2015-11-10 10:09] sebix commented on #393
* The variable `buffersize` is assigned but never used.
* Your code adds an empty line at the end.
* Your code does not work if `buf_size` is smaller than the required amount of lines. It does not load the next buffer if needed.

Feel free to submit a pull request with a working code and ideally some unittests.

[2015-11-10 10:27] mauroasilva commented on #389
@sebix the reason ```list_queues``` doesn't print and ```list_bots``` does is because the ```list_queues``` is calling the ```log_list_queues``` method which right now is only printing to log, but ```list_bots``` is calling ```print``` directly.

All bot/botnet related methods also just print to log file unless you call it with the json flag.

[2015-11-10 10:37] mauroasilva commented on #394
Yeah... this is something we are always fighting with... the problem is that we are trying to have a multivalue world while supporting singlevalue formats (like relational tables). One could argue that you could always split into multiple events whenever you are converting to a singlevalue reality but if you have multiple fields with multiple values, how do you pair them together?

I think in the

[2015-11-10 10:39] sebix commented on #389
Where's the problem? `log_list_queues` calls `logger.info`. logger is defined in `IntelMQContoller.__init__` as `logger = utils.log('intelmqctl', log_level='DEBUG')`. Ok, let's look at `utils.log`. There we find `if stream is None: console_handler = logging.StreamHandler(sys.stderr)` and `None` is default for `stream`. So by default the logger also prints to stderr.

[2015-11-10 10:43] sebix commented on #391
I don't know an argument against it.

[2015-11-10 10:45] mauroasilva commented on #389
Hmm... maybe you have a change in the intelmqctl we don't because if you look here: https://github.com/certtools/intelmq/blob/master/intelmq/lib/utils.py#L223 there is no ```if stream is None```

[2015-11-10 10:52] sebix commented on #389
Oh yes, that fix is only in my current dev branch since end of october.
https://github.com/sebix/intelmq/blob/bugfixes/intelmq/lib/utils.py#L224
Will do a PR at the end of the day.

[2015-11-10 10:54] aaronkaplan commented on #391
okay, —verbose:
Is there a tool which can generate / supports both formats ? Or is it all done manually?

[2015-11-10 10:59] mauroasilva commented on #389
Ok, great ;)

[2015-11-10 11:28] helderfernandes1279 commented on #393
The variable buffersize is assigned but never used:
    - You are right, I miss that
Your code does not work if buf_size is smaller than the required amount of lines. It does not load the next buffer if needed.
   - The main objective is to load the last part of the logs with the size of 8192, intelmq log files grows a lot, if you want to load the logs in the file, just remove all the code bellow

[2015-11-10 13:43] elationfoundation commented on #391
I was just looking into this for another project and the best explanation of the "proper" way to do this that I found was in this stack-overflow post. https://askubuntu.com/questions/327543/how-can-a-debian-package-install-python-modules-from-pypi

[2015-11-10 14:06] sebix commented on #392
Interesting that `libgnutls28-dev` is not necessary on all platforms, I committed a documentation fix, should get merged today or tomorrow.

[2015-11-11 00:30] aaronkaplan opened #396 "intelmqdump: keyboard input error"
1. Start intelmqdump on a bot which has some dump file.
2. simply press enter. Result:
[code]

This is a minor thing but a useability issue.

[2015-11-11 13:26] SYNchroACK commented on #394
IMHO:
* v1.0 should follow the current format (singlevalue formats - relational tables)
* v1.1 should moved to multivalue format because in the current days is a real requirement. Since the begging of the project I tried to stick to the singlevalue but with all harmonization issues I think we need to move to the next step (multivalue). For me, is a MUST in v1.1.

[2015-11-11 13:27] aaronkaplan commented on #394
TBD… I think this is a major discussion involving multiple projects (not just intelmq)

[2015-11-17 10:13] #375 closed

[2015-11-17 10:13] #390 closed

[2015-11-17 10:13] #396 closed

[2015-11-17 10:30] #389 closed

[2015-11-17 10:33] sebix commented on #389
Fixed by #395: https://github.com/certtools/intelmq/blob/master/intelmq/lib/utils.py#L227

[2015-11-17 16:01] #378 closed

[2015-11-17 17:26] aaronkaplan opened #401 "make sure everything is IPv6 ready"
Yeah... it's coming :)

Seriously, actually we do have a few events, which contain IPv6 addresses. Hence the whole pipeline and all bots needs to be able to process IPv6.

So that task at hand is to create a test case for all bots with an IPv6 address.

[2015-11-17 17:31] sebix commented on #401
Duplicate of #306

[2015-11-17 17:31] #401 closed

[2015-11-17 17:40] aaronkaplan commented on #306
okay, forgot that we already discussed this in August. Yes #401 can be closed.
Anyway, needs to be done.

[2015-11-17 18:07] aaronkaplan opened #402 "need to fix default processing behaviour: no stopping on failures of individual events"
(this is related to Tomas' PR)

As discussed today with @sebix we need to change the default behaviour of intelmq bots:

  1. a parser but **MUST** accept only those events that he can parse. Everything else gets dumped (logged) (for potential analysis and later re-injection via the dumptool). After an event got sucessfully parsed, the later bots (experts , output) can rely on valid data. But they

[2015-11-17 18:12] aaronkaplan opened #403 "merge certat repo with certtools"
As discussed today - it makes more sense to combine the certat/intelmq github repo with the main certtools/intelmq repo. Please let's have the certat specific bots added under for example contrib/.
Also a README.md for each of them - to explain that they are certat specific but can serve as an example for other users might make sense.

This way other users can at least discover it.