[2021-04-16 12:04] wagner-certat commented on #1869
8df0305af871dbfca380518aca8543eca38f9d70 (PR #1840) contains a fix for this

[2021-04-16 12:05] wagner-certat commented on #1869
And the logger issue will be fixed by f3c4ee91d68743220694fb5fd1f69e31ceb926e5 (same PR)

[2021-04-16 12:15] vetsolution commented on #1869
patch works, thank

[2021-04-16 12:20] vetsolution commented on #1869
Hello,
Sorry to re-open the Issue. But the fix cause another problem. I cannot start nor stop bots  :s

[code]

[2021-04-16 12:28] wagner-certat commented on #1869
While it's clear that the develop branch is not stable and some bugs exists, that behaviour is weird. We did not change anything related to the "module" item in the configuration. Can you share the `URL-Fetcher-Vuln`-part of the runtime conf? (censored, of course)

[2021-04-16 12:48] vetsolution commented on #1869
[code]
`intelmqctl restart URL-Fetcher-Vuln` works fine
`/opt/dev_intelmq/intelmq/bots/collectors/http/collector_http.py` exists

But `intelmqctl restart global` fail.

So I suppose that intelmqctl try to acces module key of global "bot" but it does not exists.

Thank for your help

[2021-04-16 12:50] wagner-certat commented on #1869
Ah, understood. `intelmqctl (re)start` needs to ignore global as well. `intelmqctl restart global` is not valid.

[2021-04-19 07:02] #1869 closed

[2021-04-19 07:19] wagner-certat commented on #1869
@vetsolution can you please re-test with current develop? PR#1872 will then contain some more fixes regarding similar issues

[2021-04-19 10:57] #1782 closed

[2021-04-19 10:57] #1822 closed

[2021-04-19 15:04] #1862 closed

[2021-04-19 16:20] wagner-certat opened #1875 "AMQP pipeline: arguments are ignored"
https://github.com/certtools/intelmq/blob/e54b47027a2100b37f7fe415433dfe2001171ce1/intelmq/lib/pipeline.py#L436-L457

The amqp class accesses `self` to get the parameters, while the redis class uses `self.pipeline_args`. The amqp pipeline does not receive any parameters because of that bug.

[2021-04-21 07:37] #1868 closed

[2021-04-21 14:17] wagner-certat opened #1882 "intelmqctl check tries to read runtime as JSON"
The runtime is loaded with json, but should be loaded with ruamel:
https://github.com/certtools/intelmq/blob/d64ddd637bd24cbfa13b7584e7b78b4647a00667/intelmq/bin/intelmqctl.py#L1425-L1431
[code]

[2021-04-21 14:26] wagner-certat opened #1883 "non-existing "parameters" field in runtime causes exceptions"
If a bot has no "parameters" field in the runtime configuration, some code fragments fail as they depend on its existence, e.g.:
https://github.com/certtools/intelmq/blob/d64ddd637bd24cbfa13b7584e7b78b4647a00667/intelmq/bin/intelmqctl.py#L1263

currently  nothing checks for the existence of "parameters". Either we treat this as an error, so we need to check for it, or we allow it, then we need to

[2021-04-21 14:27] wagner-certat commented on #1883
And having an empty parameters section results in:
[code]

[2021-04-21 18:21] wagner-certat commented on #1817
Thanks for your offer, but apparently the idea did not gain traction or attention among the community. Closing here.

[2021-04-21 18:21] #1817 closed

[2021-04-22 07:06] wagner-certat commented on #1839
Solved by https://github.com/certtools/ieps

[2021-04-22 07:06] #1839 closed

[2021-04-22 08:29] wagner-certat opened #1886 "gethostbyname can't handle null for parameter gaierrors_to_ignore"
If parameter `gaierrors_to_ignore` is null:
[code]
Should be handled gracefully

[2021-04-22 09:23] wagner-certat opened #1887 "RDAP expert: HTTP status code for erros not evaluated"
The status code is not evaluated. E.g. in case of 400, or other 4xx we cannot expect `entities` to exist.

[2021-04-22 09:26] wagner-certat opened #1888 "RDAP expert: querying subdomains leads to errors"
If `source.fqdn` contains a domain with subdomains, the RDAP Server returns an error.

Public example: www.4mal4.versicherung returns 400

[2021-04-22 15:59] #1882 closed

[2021-04-22 17:35] wagner-certat opened #1889 "develop: `intelmqctl log` raises exception"
[code]

[2021-04-22 18:12] wagner-certat commented on #1888
fixed by #1891

[2021-04-22 18:12] #1888 closed

[2021-04-22 18:33] wagner-certat opened #1893 "rdap expert: status code 404 should be treated gracefully"
404 means the domain does not exist. -> skip the event

[2021-04-22 21:15] MarcosxDeveloper opened #1894 "Skip Files That Have Already Read In File Collector"
I am currently getting a lot of files from a disk to run through intelmq and I wanted to know if there is any way for file bot collector to skip files that have already been read before how Logstash work with File input: sincedb.

[2021-04-23 08:38] wagner-certat commented on #1894
I see currently two possibilities without coding:
* Delete the input files after processing, see docs: https://intelmq.readthedocs.io/en/latest/user/bots.html#fileinput
* Use a deduplicator expert afterwards. E.g. with filter_type=whitelist and filter_keys=extra.file_name

With coding:
* add (optional) caching for file names to the collector
* implement moving files after processing, see #1576 (or

[2021-04-23 08:50] #1886 closed

[2021-04-23 13:42] MarcosxDeveloper commented on #1894
Hello @wagner-certat,

Files cant delete for organization porpuses and i need persist file processed not in memory cache.

For solve this issue i  create a file table in **PostgreSQL Database** and added a **Generic-DB-Lookup-Expert** to add value in field when file already processes and then use a **Filter-Expert** for clean or **SQL-Output** to add.

let me know your opinion.

[2021-04-23 13:48] wagner-certat commented on #1894
redis can also be persistent, if you enable that feature (also described and recommended in the intelmq docs).

You approach works. But there is one corner case: If the data is between the lookup step and the insert step, the data is "invisible" for the following data. In case you encounter that race condition, you may end up with duplicated data.

[2021-04-23 21:24] MarcosxDeveloper commented on #1894
thankyou @wagner-certat,

I didn't know that deduplicator had the option enabled to persist to disk with redis as well.

but i need something like [https://www.elastic.co/guide/en/logstash/current/plugins-inputs-file.html](Logstash FileInput)

I updated the collector's python code to look for files in subdirectories and persist the processed files in sqlite so as not to get them into the intelmq e

[2021-04-25 17:25] MarcosxDeveloper commented on #1894
@wagner-certat i need your help for upload this.

With coding:

* add (optional) caching for file names to the collector => i already added sqlite db in the collector for this purposes.
* implement moving files after processing, see #1576 (or #1568) => someone already working on this issue for added it to my PR?

Extra:

* added method for search files in subdirectories.

[2021-04-26 13:20] #1889 closed

[2021-04-26 13:24] #1847 closed

[2021-04-26 15:28] wagner-certat commented on #1894
You can find the upstream redis documentation here: https://redis.io/topics/persistence

Read mode or ttail mode?

We'd greatly appreciate your contribution, yes! It also makes maintenance for you easier, as you don't need to resolve (merge) conflicts in your fork.

Regarding the code: Using pathlib's `Path.glob` with `for file in Path(self.path, "**/*.{self.posfix}"):` could be shorter (untested)

[2021-04-26 18:09] MarcosxDeveloper opened #1904 "Added Bot Support to Sucuri Audit Trails"
Hello!

I made a Python Script for get IoCs of our Web Application Firewall [in this case Sucuri] and send to the organization SIEM.

Currently in my organization we are migrating all the tools so that everything enters through intelmq.

so I would like to ask your help to migrate my tool to intelmq bots.

Sucuri Example:

- https://blog.sucuri.net/2017/04/using-free-splunk-with-sucuri-audit-trail

[2021-04-26 18:41] MarcosxDeveloper commented on #1894
Thank you @wagner-certat.

I read about persisting the redis data, but in my case I have a folder with thousands of files so it is better that the File Collector itself is in charge of registering the data it processes in a db and filtering it to avoid adding unnecessary files in the queue.

As for logstash, I was referring to the functionality of sincedb to not repeat file events and the option t

[2021-04-26 20:06] MarcosxDeveloper opened #1905 "Added Filename In Log Errors From Generic-CSV-Parser"
I see that the bot detects several problems when trying to parse some lines of my files. but it doesn't tell me which files are giving problems.

[2021-04-27 09:06] wagner-certat commented on #1823
fixed in - or at least made better - in 8ea92909a688012afc22bc0dff6bf5b648ab3d82 by @mariuskarotkis

[2021-04-27 09:06] #1823 closed

[2021-04-27 09:48] wagner-certat commented on #1904
Hi,

I'd split this into two problems, the sucuri input and the output to SIEM. And first, I propose to focus on the first. Your second link says, that there's an API for downloading the Audit Trails and the URL is `https://waf.sucuri.net/api?v2&k=$API_KEY&s=$API_SECRET&a=audit_trails&date=${1}`, so a HTTP collector seems fine here. For the date you make make use of the `http_url_formatting` param

[2021-04-27 09:49] wagner-certat commented on #1905
What error are you seeing?

[2021-04-27 09:50] wagner-certat commented on #1905
Inspecting the errors with intelmqdump shows you all fields and also the source of the data (feed.url for web-based data, extra.file_name for file-based sources).

[2021-04-27 13:12] MarcosxDeveloper commented on #1904
Hi Wagner

I already tried to use the Sucuri API using only the http collector. but as advanced logic is needed to get all the events, it is necessary to make a custom bot where the pagination parameters are handled.

to complete the integration with Sucuri I think it only necessary to make the collector (inheriting from URL fetcher) and a parser (inheriting from JSON parsers)

Regards

[2021-04-27 14:06] wagner-certat commented on #1904
If it's only about pagination, I think we can implement this in the generic http collector as well. That gives the advantage that we can use all the other existing features (including it's well-tested error-handling).

Do you know of a public example of the data somewhere?

[2021-04-27 14:16] wagner-certat commented on #1894
The deduplicator would only save (a hash of) the filenames, not the complete events or files.

Yes, the sqlite write-ahead log (WAL) is a separate file next to the actual database. So when opening sqlite databases in write-mode, write permission on the directory are necessary. One way to configure such a "memory" would be to extend the existing cache to make it flexible on the backend. Currently w

[2021-04-27 14:33] MarcosxDeveloper commented on #1904
you're right,

I thought about adding that paging functionality to the URL Fetcher, but personally I think that would only work in some cases.

You can see an example of the Sucuri Web API here:

https://sucuri.net/demo/firewall/settings-api/#audit-trails

[2021-04-27 14:44] MarcosxDeveloper commented on #1894
you're right, I currently have my script running with a local sqlite db.

but I will update the code so that everything runs on redis and thus no more dependencies are added to the intelmq project.

[2021-04-29 08:31] wagner-certat commented on #1894
Thank you for the contribution! Can you please create a pull request so that we can review the code in detail?

[2021-04-29 11:22] wagner-certat commented on #1752
The conclusion on the ML was:

[2021-04-30 09:23] wagner-certat opened #1919 "Trusted Introducers Team Lookup Expert"
TI provides a JSON-formatted list of all listed teams at https://www.trusted-introducer.org/directory/teams.json

Write an expert which:
- [x] Downloads the database on initialization
- [ ] A parameter `constituency_filter` restrains the used team entries (field `constituency.types` of each list entry). Default value: 'national'
- [x] For each event:
  - [x] Select the best matching team based on

[2021-04-30 10:25] wagner-certat opened #1920 "More verbose message counter log message for filtering"
Currently, the message counter logs for the filter expert look like this:
[code]
These 500 messages are messages which matched and not matched *combined*. So the logging is not very useful. The reason behind the behavior is, that also non-matches are sent, to the special path. The bot does not determine, if there was actually a queue defined for that path.

We could do:
[code]
Which should be easy

[2021-04-30 14:32] wagner-certat opened #1921 "Redis output: Common output parameters missing: single_key, hierarchical_output, keep_raw_field, with_type"
Several output bots support these parameters via the `OutputBot.export_event` method, but the redis output is missing this functionality:

- single_key
- hierarchical_output
- keep_raw_field
- with_type

[2021-04-30 14:52] wagner-certat opened #1922 "Redis output: Write using SET and TTL"
Currently the Redis output can only write to queues (lists) using LPUSH.

Having the possibility to use [SET](https://redis.io/commands/set) in conjunction with setting a TTL would enable IntelMQ to generate blacklists and alike

For that purpose, add a new optional parameter for setting the TTL. If the `queue_name` is not given, the SET-mode is activated. However, SET-mode is only useful for the

[2021-05-03 10:28] waldbauer-certat opened #1924 "Add output intelmqctl list bots without --type json"
Currently `intelmqctl list bots` sends no output to stdout nor stderr. Change behaviour & print all bots :)

[2021-05-03 15:26] wagner-certat opened #1925 "HTTP Mixin: Broken authentication"
https://github.com/certtools/intelmq/blob/16e2c939fb05774c5b9277d9cec4e583222d2950/intelmq/lib/mixins/http.py#L69

[2021-05-03 17:13] wagner-certat opened #1927 "Database update routines of experts raise error with global parameters"
[code]

We need to handle missing modules or ignore the global namespace

[2021-05-04 06:58] #1925 closed

[2021-05-04 07:09] #1752 closed

[2021-05-04 08:39] #1927 closed

[2021-05-04 11:39] #1853 closed

[2021-05-04 14:18] wagner-certat opened #1931 "Docker image build action fails in forks"
https://github.com/wagner-certat/intelmq/runs/2501171812?check_suite_focus=true#step:9:7

The docker login of the docker image build action fails in forks as the secrets are not available:

[code]
This step should be skipped if the credentials are not provided

[2021-05-06 09:09] #1924 closed

[2021-05-06 09:15] #1931 closed

[2021-05-06 09:23] schacht-certat opened #1935 "intelmqctl log non-existing-bot gives misleading error message"
The command
[code]
says:
[code]
This might be misleading for users - it should probably say that there is not such bot configured.

[2021-05-06 09:26] wagner-certat commented on #1935
The same logic as for the management commands (start/stop/status/restart/reload) could be used.

[2021-05-06 09:31] schacht-certat opened #1936 "intelmqctl run subcommands should be subparagraphs of intelmqctl run paragrap"
In the documentation of the `intelmqctl` command the `intelmqctl run conole`, `intelmqctl run messsage` and `intelmqctl run process` are at the same level as `intelmqctl run` - they should probably be on level below, as they are subcommands

[2021-05-06 09:34] schacht-certat opened #1937 "harmonization field names does not contain the harmonziation field name table"
On https://intelmq.readthedocs.io/en/latest/dev/harmonization-fields.html there should be a table of harmonization fields like on https://intelmq.readthedocs.io/en/maintenance/dev/harmonization-fields.html - this table seems to have disappeared in the `develop` branch of the documentation.

[2021-05-06 10:34] wagner-certat commented on #1936
You mean https://intelmq.readthedocs.io/en/latest/user/intelmqctl.html#run?

[2021-05-06 10:35] schacht-certat commented on #1936
exactly

[2021-05-06 11:06] wagner-certat commented on #1937
I wonder where that comes from, the autogen.py does not differ between the two branches. Maybe there is a content-related error during the sphinx-build which causes the table to be ignored?

[2021-05-10 08:09] #1887 closed

[2021-05-10 08:09] #1893 closed

[2021-05-10 10:36] schacht-certat opened #1938 "Update Feodo Tracker Feed"
The feodo tracker feed change the name of the CC to `source.asn_name` - this should be changed in the feeds documentation and there should be an upgrade function

[2021-05-11 07:11] wagner-certat opened #1942 "RDAP expert: Handle null value in entities"
The RDAP expert should handle null values in the entities object like these by ignoring it:
[code]
Plus a test case (can be a modified existing one instead of a new one)

[2021-05-12 05:57] #1937 closed

[2021-05-16 12:36] #1942 closed

[2021-05-17 08:21] waldbauer-certat commented on #1810
Merged.

[2021-05-17 08:21] #1810 closed

[2021-05-17 11:20] #1938 closed

[2021-05-18 05:27] #1936 closed

[2021-05-20 09:18] #1633 closed

[2021-05-25 06:14] #1935 closed

[2021-05-26 08:43] chorsley opened #1964 "Changes to Shadowserver feeds on 1 June 2021"
I've been trying to ascertain if any necessary Shadowserver feed bot parser updates to handle the [changes to feeds announced by Shadowserver](https://www.shadowserver.org/news/changes-in-sinkhole-and-honeypot-report-types-and-formats/) are already ongoing for IntelMQ at this point.

I found the mention of this change at https://github.com/certtools/intelmq/blob/develop/NEWS.md#shadowserver, but c

[2021-05-26 08:49] wagner-certat commented on #1964
The same question has been raised on the ML at the beginning of May and we welcomed contributions from other parties, but sadly yet no-one cared to do that yet :/ We (CERT.at) only had time to add the mappings of the feeds which we need in particular, see below.

The mappings are in `intelmq/bots/parsers/shadowserver/_config.py`. (see also https://intelmq.readthedocs.io/en/latest/user/bots.html#sh

[2021-05-26 08:51] schacht-certat commented on #1964
Some of those were implemented in 32bdb73d3b56490a0d8f192f05b2a1cd940f67b8, b7bfd66972c15f7d79576275ec2a5410e248bbb3, d33de328bd0d396b9c56281e1308523cf5dffb67 and c2d19d302f18ce2b0ae9828fe883ba98506fb30b and merged into the `maintenance` branch. I'm not sure if we will have enough timecycles in the next week to do the rest.
Testing would be highly appreciated, I think it should be enough to replac

[2021-05-26 09:26] chorsley commented on #1964
Many thanks all - will examine what's been done so far and add any further comments / tests / fixes.

[2021-05-28 07:50] wagner-certat opened #1972 "License headers in Markdown files visible"
In Markdown-formatted files having a copyright/license header, the text is visible in the rendered output as the syntax is only suitable for RST.

We could either
- transform all MD files to RST
- or use this syntax:
[code]

(not urgent)

[2021-05-30 09:30] mert-38 opened #1973 "Internal Server Error when trying to obtain config file properly"
Hello,

for a study project we need to setup IntelMQ. No one of us has experience with Linux and IntelMQ.

What we did
- installed Apache
- installed IntelMQ with the Developer Guide
- installed IntelMQ API & Manager both with home:sebix:intelmq manually

When we open the localhost/intelmq-manager and try to open the Configuration in the IntelMQ Manager, then we're getting the following error:
Int

[2021-05-31 06:21] schacht-certat commented on #1973
Apparently your `sudo` installation is not correctly set up. This should not be a problem if you install `intelmq` using the packages we provide.  What does your `/etc/sudoers.d/01_intelmq-api` look like?

[2021-05-31 08:40] #1972 closed

[2021-06-01 06:39] mert-38 commented on #1973
On my friends device it looks like this:
![01_intelmq_api](https://user-images.githubusercontent.com/46819294/120276695-5111fd00-c2b3-11eb-984b-da786e9ff43c.png)

I also tried with the native packages for xUbuntu 20.04 but there I get the "Internal Server Error", too. I have attached the log snippet of my apache2 error log file.
![apache2 error log](https://user-images.githubusercontent.com/468192

[2021-06-01 06:54] schacht-certat commented on #1973
That looks correct. What does your `/etc/intelmq/api-config.json` look like?

I recommend you start again and *only* use the packages we prepared for Ubuntu- mixing a development setup and packages that are for production systems makes debugging and finding bugs way harder.

The error message says that the authentication database for the IntelMQ-API coudl not be found on the system. The path to th

[2021-06-06 09:17] mert-38 commented on #1973
My friend has decided to continue working with the tutorial environment.

I no longer receive an error message after removing `session_store`

Thank you!

Is there a tutorial if you want to continue working with `session_store`? I could not find anything

[2021-06-07 06:28] schacht-certat commented on #1973
You will have to create a session store for your intelmq-api installation. As I've mentioned, that should happen automatically when you install the prepared `intelmq-api` Debian package. If you prefer to do that by hand, you can use the `intelmq-api-adduser` to create the database- just add one user and the command creates the database in the configured path. You will have to make sure the `sessio

[2021-06-09 16:51] wagner-certat opened #1984 "Shadowserver Parser can't differentiate between "Accessible HTTP" and "Vulnerable HTTP""
See https://github.com/certtools/intelmq/pull/1971#issue-654792490 and https://github.com/certtools/intelmq/pull/1971#discussion_r647551806

The two feeds [Accessible HTTP Report](https://www.shadowserver.org/what-we-do/network-reporting/accessible-http-report/) and [Vulnerable HTTP Report](https://www.shadowserver.org/what-we-do/network-reporting/vulnerable-http-report/) use the same file name `s

[2021-06-09 16:58] monoidic commented on #1984
Slight correction:

You can match by feed name as well, and if this is done, then they are differentiated. This is only a problem if the feeds are matched by filename.

[2021-06-10 12:25] monoidic opened #1986 "API collector bot: failure on reload"
When reloading the collector bot, it seems that the shutdown procedures in `shutdown` are insufficient, as the IO loop is not properly closed. The result is an unresponsive collector, accepting connections, but not responding.

[code]

[2021-06-11 05:38] wagner-certat opened #1988 "Filter expert docs: better explain parameter filter_regex"
https://intelmq.readthedocs.io/en/latest/user/bots.html#filter

Currently the docs say:

It is not clear from this text, that the "search" function is `re.search` and what it implies (as opposed to `re.match`) and what it means if `filter_regex` is false (exact match without regular expressions). Some examples may be useful.

And there's another FIXME in the description:

[2021-06-17 15:24] wagner-certat commented on #1048
fixed by #1844

[2021-06-17 15:24] #1048 closed

[2021-06-17 15:25] wagner-certat commented on #1047
fixed by #1789 and #1811

[2021-06-17 15:25] #1047 closed

[2021-06-17 15:25] wagner-certat commented on #1613
fixed by #1992

[2021-06-17 15:25] #1613 closed

[2021-06-17 15:28] #1424 closed

[2021-06-17 15:29] wagner-certat commented on #1521
IEP04 has been postponed as we reached no consensus, moving to 4.0

[2021-06-17 15:31] wagner-certat commented on #1541
reminder @aaronkaplan you assigned this to you

btw, we have an aggregate expert #1959 it might solve this issue

[2021-06-17 15:34] wagner-certat commented on #1791
already fixed

[2021-06-17 15:34] #1791 closed

[2021-06-17 15:35] wagner-certat commented on #1845
fixed

[2021-06-17 15:35] #1845 closed

[2021-06-17 15:36] wagner-certat commented on #1919
fixed in #1978

[2021-06-17 15:36] #1919 closed

[2021-06-17 15:46] #1986 closed

[2021-06-17 19:07] wagner-certat commented on #1516
@aaronkaplan You are assigned to this issue, are you working on this one or planning so?

[2021-06-17 19:16] wagner-certat commented on #1964
Solved by various PRs

[2021-06-17 19:16] #1964 closed

[2021-06-17 19:39] wagner-certat commented on #1185
Obsoleted by HTTP Mixin

[2021-06-17 19:39] #1185 closed

[2021-06-17 19:42] wagner-certat commented on #570
We have YAML now and reduced the number of configuration files to just two

[2021-06-17 19:42] #570 closed

[2021-06-17 19:44] wagner-certat commented on #377
We have a MISP Expert now: #1475

[2021-06-17 19:44] #377 closed

[2021-06-17 19:45] wagner-certat commented on #120
unclear what needs to be done here, no feedback

[2021-06-17 19:45] #120 closed

[2021-06-21 07:09] #1404 closed

[2021-06-21 07:09] #1875 closed

[2021-06-23 06:30] wagner-certat opened #1999 "load_configuration does not support JSON files with tab whitespace because of ruamel loader"
For the switch to YAML in configuration files, we switched to the ruamel.yaml loader, which supports JSON and YAML:
https://github.com/certtools/intelmq/blob/cf87d90ceb928676d80974972fcb5af8dc8dc11c/intelmq/lib/utils.py#L201-L216
However, ruamel does not support JSON files with tabs as whitespace, because _YAML_ does not support tabs. As this routine is used to load various JSON files, which can b

[2021-06-24 13:11] oscarliz opened #2001 "hug -m intelmq_api.serve"
Loading config from /etc/intelmq/api-config.json
Traceback (most recent call last):
  File "/usr/local/bin/hug", line 8, in <module>
    sys.exit(development_runner.hug.interface.cli())
  File "/usr/local/lib/python3.8/dist-packages/hug/interface.py", line 650, in __call__
    raise exception
  File "/usr/local/lib/python3.8/dist-packages/hug/interface.py", line 646, in __call__
    result = self.

[2021-06-25 15:39] ghost opened #2003 "ruamel.yaml loader and dumper: human readability / support for comments"
277f72d019eab234501a3e91176186e673b880ba fixed the issue that comments where not preserved.
However when the runtime configuration is loaded with the default loader, as it was with the comment, and then dumped afterwards, the resulting file is formatted uglily:
[code]
Therefore I reverted the commit with 9a6946120c16505c1440081e850196415bb23ade, which brings back a human readable and better struct

[2021-06-26 11:52] wagner-certat opened #2004 "Existing contact should not be overwritten and new data be appended"

[2021-06-26 14:44] wagner-certat opened #2005 "Wait expert: Test `test_dummy` fails frequently"
Has been a problem in the Build Service tests already, now also in [GH Actions Python 3.6 full](https://github.com/certtools/intelmq/pull/1857/checks?check_run_id=2920927992):
[code]
Maybe better check the logging line instead of the timing? Ignore on GH Actions as well?

[2021-06-28 07:22] #1409 closed

[2021-06-28 07:22] #1856 closed

[2021-06-28 07:22] #2005 closed

[2021-06-28 16:58] wagner-certat commented on #2003
Maybe we use the dump-method wrongly?

[2021-06-30 09:27] wagner-certat opened #2008 "Microsoft CTIP parser: TLP value "UNKNOWN" raises exception"
[code]

[2021-06-30 15:36] wagner-certat opened #2011 "Documentation warnings on generation"
Some of them cause actual problem, sone are irrelevant
[code]
[code]

[2021-06-30 15:49] #2008 closed

[2021-07-02 15:59] wagner-certat opened #2013 "CentOS 7: logging.warn deprecated? Causes test fail"
On CentOS 7 with Python 3.6:
[code]
That caused the test case to fail as this is a WARNING in the logs.

`logging.warn` is not even documented https://docs.python.org/3/library/logging.html

Python devs are not sure if it should stay or not: https://bugs.python.org/issue44543

[2021-07-02 19:46] wagner-certat opened #2014 "RDAP expert tests fail on OBS because of an ERROR"
The RDAP expert tests are failing on OBS on all plattforms, but not locally:

[code]

[code]

[2021-07-02 20:25] wagner-certat commented on #2014
The problem is missing redis, as the RDAP expert uses the cache, but the test case does not declare it. Worked locally, as a redis instance was running.

[2021-07-05 06:43] RobKuiters opened #2015 "apt install intelmq on Ubuntu 20.04 fails"
I tried to install IntelMQ on Ubuntu 20.04 but it requires libjs-sphinxdoc (>= 2.4.3-5~) where libjs-sphinxdoc_1.8.5-7 is the only supported version on Ubuntu 20.04.

[code]

[2021-07-05 07:09] #2013 closed

[2021-07-05 07:09] #2014 closed

[2021-07-05 08:51] wagner-certat commented on #2015
Did you probably add the repo for Ubuntu 20.10 instead of Ubuntu 20.04?

[2021-07-05 09:14] RobKuiters commented on #2015
Yes, how stupid of me. Shouldn't be installing stuff with not enough sleep and no coffee. Thanks wagner-certat!

[2021-07-05 09:38] wagner-certat commented on #2015
If only all issues could be resolved as easily ... :)

[2021-07-05 09:38] #2015 closed

[2021-07-06 14:56] wagner-certat opened #2016 "Bot database update scripts: Be quiet by default in cron scripts"
Currently, the bot database update scripts print this on every call if nothing is done:

[code]

I think a good default would be to be quiet by default on the cron runs, e.g. by setting a `--quiet` flag. If the user wants to have verbose information, it can always be turned on.

Or: honour the logging level as defined for the bot. With the configuration overhaul, this should now be easier to do on

[2021-07-09 15:31] wagner-certat opened #2017 "Trusted introducer expert: Missing doc on processed fields"
https://github.com/certtools/intelmq/pull/1978#pullrequestreview-678110190

Still missing. Please submit to maintenance.

[2021-07-12 13:09] wagner-certat opened #2018 "SMTP output bot: add Content-Disposition MIME header"
The CSV attachments sent by the SMTP output bot are not recognized as CSV by MS Outlook.

Probably the SMTP output needs to add an additional MIME header to the attachment in the mail, so that Microsoft Outlook interprets the attachment as CSV-file.

So this:
Content-Disposition: attachment; filename="somefeed.csv"
needs to be added using
https://docs.python.org/3/library/email.compat32-message.ht

[2021-07-14 00:37] chorsley commented on #1964
Looking at some more new feeds, there were two more feed changes made on June 8 which replace the existing Microsoft Sinkhole report:

https://www.shadowserver.org/what-we-do/network-reporting/microsoft-sinkhole-events-report/
https://www.shadowserver.org/what-we-do/network-reporting/microsoft-sinkhole-http-events-report/

Looking at the report and the mapping at https://github.com/certtools/intel

[2021-07-16 13:49] wagner-certat opened #2019 "Shadowserver feeds: Microsoft Sinkhole report split"
Looking at some more new feeds, there were two more feed changes made on June 8 which replace the existing Microsoft Sinkhole report:

https://www.shadowserver.org/what-we-do/network-reporting/microsoft-sinkhole-events-report/
https://www.shadowserver.org/what-we-do/network-reporting/microsoft-sinkhole-http-events-report/

Looking at the report and the mapping at https://github.com/certtools/intel

[2021-07-30 07:28] wagner-certat commented on #569
the sieve bot can cover all of them. `!=` can be done with paths -> Closing here. If you think that something should still be implemented, please reopen here or another issue.

[2021-07-30 07:28] #569 closed

[2021-07-30 13:38] bernhardreiter commented on #1247
Instead of  a signal, it maybe easier to o look at something else and if there is a stop information, stop. This could be a file in the filesystem specific per bot, which existence is checked after or during processing.

If you are using a signal handler to trigger a gracefull restart, you'll have to do the same in the handler: note somewhere that procssing should stop, then return to the processi

[2021-08-02 19:09] wagner-certat commented on #1247
Is accessing the file system after every process-method efficient? (If that's covered by the caches, I assume it is)

Python threading offers [Threading Events](https://docs.python.org/3/library/threading.html#event-objects) for this purpose, in use for example here: https://github.com/certtools/intelmq/blob/343432f7aea7a59a578762aa961b635a032a5922/intelmq/lib/bot.py#L171-L174

[2021-08-03 07:23] bernhardreiter commented on #1247
This is probably worth a try by a small example. I would also guess that the caches would take care of this.
There maybe a difference if you just try to open a specific file or just check if it exists.

[2021-08-04 18:31] wagner-certat opened #2022 "CTIP Parser always overwrites feed.name"
The CTIP Parser always sets `feed.name` to what is found in the data:
https://github.com/certtools/intelmq/blob/e098e5ef2fd25215de90138553d85f9aa4aafe5e/intelmq/bots/parsers/microsoft/parser_ctip.py#L85
https://github.com/certtools/intelmq/blob/e098e5ef2fd25215de90138553d85f9aa4aafe5e/intelmq/bots/parsers/microsoft/parser_ctip.py#L287-L288
This field should be left as is, if not explicitly require

[2021-08-06 10:34] wagner-certat opened #2024 "Remove malwaredomains.com feed"
The website malwaredomains.com no longer exists, but we still list it as feed and have a parser

- [ ] remove entry in feeds documentation
- [ ] add check to upgrade functions, warning the user about the dead feed
- [ ] remove the parser
- [ ] document the removal in changelog and news file

[2021-08-06 14:43] #1988 closed

[2021-08-09 09:04] schacht-certat opened #2025 "Should list bots output yaml?"
The documentation says:
[code]

One the one hand `intelmqctl --type json list bots` is not indented, thus not really usable for humans. On the other hand we are now using yaml. Should `list bots` get a `--yaml` switch?

[2021-08-09 09:55] wagner-certat commented on #2025
That was actually only true partially, as the user still needed to extract the relevant parts from the huge JSON-structure. And I see no real purpose in doing so unless we have a good and complete workflow which actually helps user in configuring bots using cli-tools only (that would also require to show get individual bot-configuration templates, not *all* available ones in a row etc.)

So, I pro

[2021-08-11 09:10] #2016 closed

[2021-08-12 05:41] #2024 closed

[2021-08-12 11:51] YeomansM opened #2038 "Connecting Intelmq Manager with User database (IntelMQv3)"
Good Afternoon Guys,

CSIRTMalta is trying to install on a blank system (Ubuntu Server 20.04) the new version of IntelMQ v3. Downloaded and installed only through repository packages. ( Preamble Intelmqctl worked only after _rwamel.yaml_ was installed through pip3.)

Summary of the problem is that the intelmq manager cannot call and/or connect with the SQLite DB.

* We followed the notes for the P

[2021-08-13 07:51] norbertbonnici opened #2039 "Default password in docker image"
Can someone please indicate the default credentials used in the provided docker image: https://github.com/certat/intelmq-docker.git

[2021-08-13 07:52] #2039 closed

[2021-08-13 08:23] wagner-certat commented on #2038
The stable repositories contain version 2.3.3 - so if you installed version 3.0.0, you used the unstable repository (`http://download.opensuse.org/repositories/home:/sebix:/intelmq:/unstable/Debian_10/`') additionally, I assume?

And the 3.0.0 version depends on ruamel:
[code]

2.3.3 from stable does intentionally _not_ depend on it, as it doesn't use the library.

Version 3.0.1 coming end of Augu

[2021-08-13 18:09] #1984 closed

[2021-08-16 06:08] #2019 closed

[2021-08-18 10:17] #2025 closed

[2021-08-19 08:30] schacht-certat opened #2053 "Move from `set_request_parameters` to HttpMixin"
The following files still use th `set_request_parameters` method from `intelmq.lib.bot`:
[code]
If we update those to use the `intelmq.lib.mixins.HttpMixin` we could finally remove the `set_request_parameters` method from the bot class.

[2021-08-19 19:01] #2018 closed

[2021-08-20 08:16] wagner-certat commented on #1973
Closing because of inactivity. Please reopen if needed.

[2021-08-20 08:16] #1973 closed

[2021-08-20 13:09] wagner-certat commented on #424
Closing because of inactivity. Please reopen if needed.

[2021-08-20 13:09] #424 closed

[2021-08-20 13:10] wagner-certat commented on #487
Closing because of inactivity. Please reopen if needed.

[2021-08-20 13:10] #487 closed

[2021-08-20 13:18] wagner-certat commented on #543
The idea of Multiple values (IEP03) has been rejected. Linking events (IEP04) may be possible.

[2021-08-20 13:19] wagner-certat commented on #554
Closing because of inactivity. Please reopen if needed.

[2021-08-20 13:19] #554 closed

[2021-08-20 13:20] wagner-certat commented on #632
IEP01 / IntelMQ 3.0.0 solved that

[2021-08-20 13:20] #632 closed

[2021-08-20 13:22] wagner-certat commented on #662
We also have the Sieve expert in the meantime which solves most of the issues raised here. Therefore, I think we can finally close this issue.

[2021-08-20 13:23] wagner-certat commented on #696
Unless someone wants to do this, I close here. All programs have help pages and we now also have nice docs on readthedocs

[2021-08-20 13:23] #696 closed

[2021-08-20 13:25] wagner-certat commented on #734
https://intelmq.readthedocs.io/en/maintenance/user/abuse-contacts.html guides through various abuse contact-lookup approaches
IntelMQ supports multiple ways to lookup that data now

[2021-08-20 13:25] #734 closed

[2021-08-20 13:26] wagner-certat commented on #751
This will be solved as part of IEP04

[2021-08-20 13:28] wagner-certat commented on #901
Will be solved as part of IEP04

[2021-08-20 13:32] wagner-certat commented on #1061
Closing because of inactivity. Please reopen if needed.

[2021-08-20 13:32] #1061 closed

[2021-08-20 13:35] wagner-certat commented on #1441
Closing because of inactivity. Please reopen if needed.

[2021-08-20 13:35] #1441 closed

[2021-08-20 13:35] wagner-certat commented on #1466
Solved by the usage of MISP, we have two MISP output bots to push data into it.

[2021-08-20 13:35] #1466 closed

[2021-08-20 13:37] wagner-certat commented on #1495
I think this is resolved by https://github.com/certat/intelmq-docker/pull/3
Please reopen if I understood it wrongly.

[2021-08-20 13:37] #1495 closed

[2021-08-20 13:38] wagner-certat commented on #1488
If we get rid of HTTP in the name, e.g. rename it to `tls_verify` or similar, it is more intuitive for other protocols, like imap, smtp etc as well.

[2021-08-20 13:39] wagner-certat commented on #1541
Please check if the aggregate expert solves your problem: https://intelmq.readthedocs.io/en/latest/user/bots.html#aggregate
Otherwise please reopen the issue.

[2021-08-20 13:39] #1541 closed

[2021-08-20 13:42] wagner-certat commented on #1594
`create_request_session` in utils uses the global parameters: https://github.com/certtools/intelmq/blob/e489beed6fd76a1d7b99a618dd3d2092c0a8f659/intelmq/lib/utils.py#L768
And the HTTPMixin as well of course: https://github.com/certtools/intelmq/blob/develop/intelmq/lib/mixins/http.py

-> Solved

[2021-08-20 13:42] #1594 closed

[2021-08-20 13:43] wagner-certat commented on #1615
Closing because of inactivity. Please reopen if needed.

[2021-08-20 13:43] #1615 closed

[2021-08-20 13:44] wagner-certat commented on #1715
Closing because of inactivity. Please reopen if needed.

[2021-08-20 13:44] #1715 closed

[2021-08-20 13:47] wagner-certat commented on #1820
Closing because of inactivity. Please reopen if needed.

[2021-08-20 13:47] #1820 closed

[2021-08-20 15:17] wagner-certat commented on #1834
This issue is tracked as certat/intelmq-docker#4, closing here

[2021-08-20 15:17] #1834 closed

[2021-08-23 12:55] #1807 closed

[2021-08-23 14:17] wagner-certat opened #2063 "intelmqctl does not handle environment parameters"
https://github.com/certtools/intelmq/blob/16240fb7dc38c3e84e0e50e9a1d3b9cf20322fee/intelmq/bin/intelmqctl.py#L1016-L1027

Is missing the environment parameter handling like here:

https://github.com/certtools/intelmq/blob/16240fb7dc38c3e84e0e50e9a1d3b9cf20322fee/intelmq/lib/bot.py#L770-L783

the old workaround is not needed any more and should be removed

[2021-08-23 15:58] wagner-certat opened #2064 "intelmqsetup: Support for intelmq-manager"
https://github.com/certtools/intelmq/blob/develop/intelmq/bin/intelmqsetup.py currently supports the IntelMQ Core and the API. Support for the Manager shall be added.

The installation of the Manager is currently tricky and has flaws.
- On wheel/sdist build, the HTML files are generated, the files also contain the sources
- pip can't install the html files to the correct location, they land in `/u

[2021-08-23 22:35] yemraj commented on #1800
![IMG_20210810_023824-removebg-preview (1)](https://user-images.githubusercontent.com/83758209/130527561-fdddeb97-3ff4-4f4a-84e2-628bb4b8b7ee.png)

[2021-08-23 22:36] yemraj commented on #1800
![IMG_20210820_004236](https://user-images.githubusercontent.com/83758209/130528201-312aaebf-f6c4-4ee1-835b-19f23394ecf3.jpg)
![Screenshot_20210818_100655](https://user-images.githubusercontent.com/83758209/130528202-f85914cd-55e0-4471-9934-7a8056431345.jpg)

[2021-08-24 08:14] ghost opened #2066 "Bot configuration examples use JSON instead of YAML"
There are numerous configuration examples in `docs/user/bots.rst` (and in some other documentation files) which are still in json format - they should be converted to yaml (this would then also fix the `Could not lex literal_block as "json".` warnings)

[2021-08-25 11:59] #2017 closed

[2021-08-25 12:00] wagner-certat commented on #2063
fixed by https://github.com/certtools/intelmq/pull/2068 / 9c7359952fc368ebc8aaf4b6a695874f8761ec9c but was not automatically closed due to a typo

[2021-08-25 12:00] #2063 closed

[2021-08-26 08:33] aaronkaplan opened #2071 "Wishlist for IntelMQ 4.x"
- [ ] all CLI components could highly benefit from using [typer](https://typer.tiangolo.com/tutorial/first-steps/)
- [ ] support redis streams
- [ ] LDAP enrichment bot (which must also be compatible with AD)
- [ ] Full Splunk support: interface the [Splunk API](https://docs.splunk.com/Documentation/Splunk/8.2.2/RESTUM/RESTusing)
- [ ] VT API enrichtment bot
- [ ] Support Jira as ticket system
- [

[2021-08-27 07:38] wagner-certat opened #2072 "gethostbyname expert: numeric value for parameter "gaierrors_to_ignore" crashes bot"
If the configuration for the gethostbyname expert contains
[code]

or if you enter a (single) numeric value in the manager, which automatically saves it as integer, not as string, the bot does not start with:
[code]
A workaround is to encapsulate the value in quotes.

[2021-08-27 08:08] wagner-certat opened #2074 "filter expert: unable to handle empyt-string parameters not_after & not_before"
If the `not_after` or `not_before` parameter is an empty string instead of null or non-existing, an error like this is raised:

[code]

The reason is the `is not None` check, which does not cover empty strings. Empty strings are set by the manager of empty values.

[2021-08-30 07:31] schacht-certat opened #2078 "Fix `intelmqct run bot-id message get`"
[code]

[2021-08-30 07:45] #2072 closed

[2021-08-30 07:45] #2074 closed

[2021-08-30 07:46] schacht-certat commented on #2078
fixed by 9d2f96f

[2021-08-30 07:46] #2078 closed

[2021-08-31 05:39] schacht-certat opened #2082 "v300_pipeline_file_removal fails"
Not sure why this wasn't caught by the vagrant tests - this happens when running `intelmqctl upgrade-config -u v300_pipeline_file_removal -f` with the `runtime.conf` and `pipeline.conf` from the ansible assets directory.
[code]

[2021-08-31 06:02] wagner-certat commented on #2082
I introduced the bug here: https://github.com/certtools/intelmq/commit/1fd640ecc98f7582436ae6a04cb250a4e18a740f#diff-7281e311c8af2ac97f67f28bec743b3f7b6dcc365f6aaa959ae27d5656b1895cR677 - so it only applies to the develop branch

[2021-08-31 06:16] wagner-certat opened #2084 "intelmqctl: 'IntelMQController' object has no attribute 'parameters'"
Using branch develop:
[code]

[2021-08-31 06:24] wagner-certat opened #2085 "intelmqctl: Starting groups raises exception"
On branch maintenance (and develop):
[code]

The "global" block has no group and needs to be skipped here.

[2021-08-31 06:27] #2082 closed

[2021-08-31 06:42] wagner-certat commented on #2084
https://github.com/certtools/intelmq/blob/344f6b9a89c0a5f0d641acac40f050dcd567ea34/intelmq/bin/intelmqctl.py#L395

[2021-08-31 07:16] wagner-certat opened #2088 "ASN Lookup expert database update fails after the 28th of each month"
[code]

haven't yet investigated the reasons

[2021-08-31 10:42] wagner-certat opened #2090 "`intelmqctl log` returns error for newly configured bots"
https://github.com/certtools/intelmq/blob/a87f3ca13dfb610d6ab81eb01de3f2eef2508847/intelmq/bin/intelmqctl.py#L765-L772

For newly added bots, no log file exists. That's no error. Instead, we could return a fake log entry 'INFO - No log file exists (yet)' to prevent an empty response.

[2021-08-31 15:36] #2084 closed

[2021-09-01 16:57] wagner-certat opened #2091 "intelmqctl: wrong default logging path"
https://github.com/certtools/intelmq/blob/cbf5335a8a785e6d4ab3ca54dbdb0234709a5fce/intelmq/bin/intelmqctl.py#L707

This should not be hardcoded, but `intelmq.DEFAULT_LOGGING_PATH`

[2021-09-01 17:15] wagner-certat commented on #2088
As @schacht-certat found out, the issue was that the server had an empty directory named "2021.09" yesterday. Today it works fine again. Should be handled though.

[2021-09-01 17:22] wagner-certat opened #2093 "CodeQL shows annotation for the workflow"
https://github.com/certtools/intelmq/actions/runs/1191112061

[2021-09-01 17:42] #2085 closed

[2021-09-01 17:42] #2091 closed

[2021-09-01 20:54] aaronkaplan commented on #2071
okay, but it should not be a big problem to bring it and package it for bullseye for example. So, yeah... not a blocker.
The question is - did you read the docs and would it make sense ? It looks really good for me, make the code very clean and lean and simple.

[2021-09-02 14:17] ghost opened #2094 "Bash completion scripts depend on old JSON-based configuration files"
`intelmqctl restart <tab>` accesses the `runtime.conf` and
`intelmqctl clear <tab>` accesses the `pipeline.conf`

the script could access intelmqctl directly for getting this information. or the API (if it caches the information, could be faster - if installed)

See also #1240

[2021-09-02 20:18] ghost opened #2095 "file output bot docs: missing parameter description of message_with_type"
the file output bot supports `message_with_type`, but the docs don't mention it.

All output bots using `OutputBot.export_event` support the same parameters, the docs could have a section on those and then these bots' docs just refer to the section

[2021-09-03 07:09] ghost opened #2096 "CSV Converter Expert: Support for more CSV options"
E.g.:
- CSV dialect
- Quoting
- Escaping

just the standard options of Python's CSV implementation

[2021-09-03 07:10] ghost opened #2097 "intelmqctl log: parsing syslog does not work"
[code]
is not detected correctly by the used regular expression

[2021-09-03 07:36] ghost commented on #2071
It also supports shell completion (https://typer.tiangolo.com/typer-cli/), which is a big pro (our current solutions some some issues, e.g. #1240 #1561 #2094 ).
Still, before going for typer I'd like to see a comparison of different solution to check if it matches our requirements best (could even also be an IEP). E.g. one other (even more) widespread cli-library is click.

[2021-09-03 08:14] ghost commented on #1905
Closing because of inactivity. Please reopen if needed.

[2021-09-03 08:14] #1905 closed

[2021-09-03 11:23] Narzhan opened #2098 "Slow performance on latest release in Docker"
I've tried to upgrade out intelmq setup to the major version 3.0.x and found that the whole processing was significantly slower. During troubleshooting I've found out that starting a bot and using the _intelmqctl_ utility takes longer than on the previous version.

1. The throughput of bot was on average half of the previously used version. Of all the bots experts and output were the slowest compa

[2021-09-03 14:58] ghost commented on #2098
Hi @Narzhan, thanks for the report. Which Docker images do you use in particular? Is "only" `intelmqctl` affected, or is also the performance of bots during their processing affected? I think we also need to differentiate between the startup of the processes and their "runtime".

[2021-09-05 23:49] aaronkaplan commented on #2071
+1 for IEP. But I am collecting ideas first in this issue :)

[2021-09-06 05:22] ghost opened #2099 "Bots' offline database update routine: skip, if no bot is enabled"
Several expert bots have the capability, to update their needed local copy of an external database. They update-routine currently checks, if any such bot is configured before starting actually:
https://github.com/certtools/intelmq/blob/9eb388e8f56b5844c86f9da9d1fe8acd8fecfa63/intelmq/bots/experts/tor_nodes/expert.py#L79-L90
This can be extended by checking if any such bot is actually enabled. If n

[2021-09-06 11:00] waldbauer-certat commented on #2098
Hey @Narzhan :)

Thanks for the report! We've updated the docker image `3.0.1` or `latest`. We're using the ruamel.yaml from aptitude instead of the pip package. We're still looking into detail to get further optimizations.

[2021-09-06 11:14] Narzhan commented on #2098
Hi,
we're building our own custom Docker image. In which we just install all the dependencies and build intelmq from source. Botnet is started via intelmqctl. No other black magix is present.

While starting the bot via `intelmqctl run 'bot'` the initialization of the bot took the longest, processing started instantly after the init was done, I can only guess that for queue listing the situation i

[2021-09-06 16:02] #2090 closed

[2021-09-07 08:14] ghost commented on #2071
maybe it makes sense to first define the problem(s) that should be solved

[2021-09-08 16:03] ghost opened #2103 "Bot statistics enabled by default cause performance drop, disabling them is not possible"
If the value of parameter `statistics_host` is `null`, the following exception is thrown:
[code]

null should be handled gracefully (i.e. no statistics be written)

[2021-09-09 08:13] waldbauer-certat commented on #2098
Hey, its me again :)

In the past couple of days, we investigated & hunted down the performance issue. So thats the outcome so far, described below.

**Startup performance**
The Startup performance has increased a bit, because of ruamel.yaml ( pyyaml fork ) instead of json. It is a very small amount, so there is no real impact

**Runtime performance**
We've noticed that the runtime performance has

[2021-09-09 13:10] MariusUrkis opened #2105 "Generic CSV parser: time conversion and time format"
When CSV parser parses the file and event line contains time format like %d-%m-%Y, fuzzy time conversion fails to guess correct time format. Example of the feed is http://benkow.cc/export.php
Fuzzy conversion works with such date entries:

'2021-12-08T00:00:00'
And correct with days >12 :

'2021-08-16T00:00:00'

Probably better option to use from_format:

'2021-08-12T00:00:00+00:00'

[2021-09-09 15:58] ghost commented on #2105
The parameter `time_format` of the CSV Parser could be extended for this purpose

[2021-09-09 16:01] ghost commented on #2098
We identified two issues:
- the collector bots loaded the harmonization file for every newly created report. that bug existed for 5 years, but now we are loading json with ruamel which much slower than loading it with json and that has opened a performance issue.
- the statistics were enabled by default

We'll do a hotfix 3.0.2 release, hopefully tomorrow.

[2021-09-09 16:05] ghost commented on #2103
With 3.0.1, the bot statistics are enabled by default and disabling them, is not possible due to this bug.

As the statistics cause a performance issue they should not be enabled by default (e.g. with host set to null) and this bug fixed all in one.

[2021-09-09 16:31] ghost commented on #2016
in the domain suffix expert, one line was missing (the `Database update skipped...`).

[2021-09-09 16:45] waldbauer-certat commented on #2098
To see the difference

Before the #2106 merge
![shodan_before](https://user-images.githubusercontent.com/72253507/132727889-ee85dd32-1897-45aa-9c94-25ba5be83505.png)

After the #2106 merge
![shodan_after](https://user-images.githubusercontent.com/72253507/132727923-cfb64ffd-ca48-49a2-8281-fc282f23a16e.png)

[2021-09-09 17:48] ghost opened #2108 "API collector: high CPU load even if no message are processed"
The API collector is consuming a lot of CPU, up to 100%, independent of the actual message load. strace shows, that the bot is always polling redis, for the stats (which are written after the `process` execution).

The problem is, that the bot declares
https://github.com/certtools/intelmq/blob/f2b07f6fb02f091e21bde0d83009aefbf42be93b/intelmq/bots/collectors/api/collector_api.py#L40
but this attrib

[2021-09-10 06:08] #2103 closed, assigned to nobody

[2021-09-10 06:16] Narzhan commented on #2098
I'll test the version `3.0.2` and get back to you with results.
If the situation is more or less the same I'll also post the Dockerfile for @waldbauer-certat .

[2021-09-10 13:42] aaronkaplan commented on #1827
you could also take a look at redis streams

[2021-09-10 13:56] ghost commented on #1827
Do redis streams already support atomic push+pop operations? If not, we can add them as optional broker, if consistency is not important, but not as replacement for the redis-list based approach.

[2021-09-10 14:43] #2098 closed, assigned to waldbauer-certat

[2021-09-10 14:43] #2108 closed, assigned to nobody

[2021-09-14 11:57] ghost opened #2110 "logrotate config: global options cause foreign files to be owned"
These options:
https://github.com/certtools/intelmq/blob/e3cfac71564deb016f256d76e9f3e7d0b2b05f3d/contrib/logrotate/intelmq#L1-L3
apply to all files handled by logrotate, not just the intelmq-ones. The effect is, that many unrelated logfiles get owned by intelmq.

[2021-09-16 16:54] #2110 closed, assigned to nobody

[2021-09-17 08:31] aaronkaplan commented on #1827
yes AFAIK

Take a look and read the docs, it's pretty amazing what it can do.

[2021-09-21 08:42] #2022 closed

[2021-09-27 06:06] #2064 closed

[2021-09-27 13:13] olekristoffer opened #2116 "Issues with a clean pip install of intelmq on RHEL 8"
Hi

We encounter some problems with installing intelmq using pip on rhel8 where there seems to be a mismatch between the pip installation and source available on github under the 3.0.x tag.

pip 9.0.3 from /usr/lib/python3.6/site-packages (python 3.6)
bash-4.4$ pip3 show intelmq
Name: intelmq
Version: 3.0.2
Summary: IntelMQ is a solution for IT security teams for collecting and processing security

[2021-09-27 14:05] ghost commented on #2116
I wonder why the two bots (`domain_valid` and `truncate_by_delimiter`) are at all in the PyPI package. Removing them is the correct workaround.

The `Incomplete installation` issues come from a failed pip installation. `pip install intelmq` needs to create the executables, that's nothing that intelmq can do itself. But I have no idea, why pip doesn't do that.

[2021-09-27 15:33] ghost commented on #2116
It looks like I need to `rm -r build/` before creating the packages for PyPI :/ I've re-uploaded the 3.0.2 sdist tarball with name `intelmq-3.0.2-post1.tar.gz` (I can't use the original name, PyPI prohibits that) without the two bots which shouldn't be there. Can you please re-try?

[2021-09-27 18:39] olekristoffer commented on #2116
I believe the Incomplete Installation may have the same root cause as the other two bots present from the develop tree. The bots with incomplete installation are not part of the 3.0.x release tags in github, but were present in the old 2.x version. I.e. They should ultimately not be present in the pip 3.0.2 package, and I suspect they fail to install due to the code being incompatible with the cha

[2021-09-27 20:10] ghost commented on #2116
Thanks for the feedback. I believe that removing the local `build/` folder before generating the release tarballs for PyPI prevents all of the described errors - the missing executables and bots which shouldn't be there - in the future (I've documented that for myself in 2da82cfa5c26cec613858d613f8e96f760b53f1f). I will also remove the bogus wheel package from PyPI tomorrow and replace it with a c

[2021-09-29 07:00] ghost commented on #2116
The release files on PyPI are fixed, so closing here.

[2021-09-29 07:00] #2116 closed, assigned to nobody

[2021-09-29 07:13] ghost commented on #2088
That fails at the end of every month. The monthly directories in http://archive.routeviews.org/route-views4/bgpdata/ are always created on the 28th of the previous month and thus our code fails on every 29th, 30th and 31st of each month.

[2021-09-29 07:45] ghost commented on #2038
Closing because of inactivity. Please reopen if needed.

[2021-09-29 07:45] #2038 closed

[2021-10-19 14:25] oencarnacion opened #2118 "load-data-problem"
Bot has found a problem.
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/intelmq/lib/bot.py", line 272, in start
    self.process()
  File "/usr/lib/python3/dist-packages/intelmq/lib/bot.py", line 1005, in process
    for line in self.parse(report):
  File "/usr/lib/python3/dist-packages/intelmq/bots/parsers/shadowserver/parser.py", line 80, in parse
    raise ValueError(

[2021-10-20 08:52] waldbauer-certat commented on #2118
Hey @oencarnacion

It seems that you havent configured the shadowserver parser yet. To configure it correctly, you can checkout the [documentation](https://intelmq.readthedocs.io/en/maintenance/user/bots.html#shadowserver).

Cheers,
Sebastian

[2021-10-20 23:16] oencarnacion opened #2119 "ElasticSearch output: Could not dynamically add mapping for field extra.source.sector"
[code]

[2021-10-20 23:16] oencarnacion commented on #2118
just restart the redis and it works as normal

[2021-10-20 23:16] #2118 closed, assigned to nobody

[2021-10-21 10:36] monoidic commented on #2119
I believe this is because one of your feeds has mapped `extra.source` to a text value, while others like Shadowserver and CTIP use values like `extra.source.sector` and `extra.source.connection_type`, which expect `extra.source` to be an object with subvalues.
I have not noticed such an issue before, and no bot in this repo seems to contain any explicit mapping to `extra.source`. Perhaps you could

[2021-10-26 11:10] gethvi commented on #1767
Please assign this issue to me, I will work on it when I have time.

[2021-10-26 11:37] gethvi opened #2122 "mail collector: Add option to delete old emails"
As we are running the IntelMQ for quite some time now, the mailbox gets really cluttered. It would be nice if the mail collector could also remove old emails. This could be in a form of a now configuration parameter such as `delete_older_than`. It would delete only old emails matching it's subject regex.

[2021-10-29 13:15] ghost commented on #2118
Although this issue is closed already I believe the circumstances were a bit different. It looks like you have ingested one of Shadowservers "special" reports into the shadowserver parser. As described in the shadowserver parser bot's documentation linked above by my colleague, the bot has two possibilities to detect how to parse a report: either the parameter "feedname" is set to one of the allow

[2021-11-18 08:33] sebix opened #2123 "GitHub Code Scanning result for Twitter collector, leads to check fail"
Pull Requests are marked with failing tests as there is still a CodeQL result for the Twitter collector:

![image](https://user-images.githubusercontent.com/199050/142379580-9bfa5de1-e533-4843-bb87-756ff258e0b1.png)
This line
https://github.com/certtools/intelmq/blob/d8ff6514c0b754b82665f60f5f3e83cbc22b3fa6/intelmq/bots/collectors/twitter/collector_twitter.py#L83-L83
should be refactored to parse

[2021-11-18 08:44] sebix commented on #2011
Some issues have been fixed by  #2065, but many are still open:
<details>
<summary> Click </summary>

[code]

</details>

[2021-11-22 12:56] creideiki commented on #536
There is a further wrinkle concerning this, which is that while the RPM packages depend on `termstyle`:
[code]
`setup.py` says it depends on `python-termstyle`: https://github.com/certtools/intelmq/blob/7ebb8e16d821c372a44b077dd18a151c07f75807/setup.py#L18

[termstyle](https://pypi.org/project/termstyle/) and [python-termstyle](https://pypi.org/project/python-termstyle/) are similar enough that th

[2021-11-22 19:54] sebix commented on #536
Good point, I wonder why this didn't cause problems earlier

[2021-11-27 14:22] sebix opened #2125 "Missing commas in SQL query for separate Events table"
E.g.
https://github.com/certtools/intelmq/blob/7ebb8e16d821c372a44b077dd18a151c07f75807/contrib/eventdb/separate-raws-table.sql#L30
and various following lines
Found by https://app.codacy.com/gh/sebix/intelmq/file/63957271537/issues/source?bid=26598467&fileBranchId=26598467#l31

[2021-11-30 11:57] sebix opened #2127 "Docker Action fails with: cannot remove 'html'"
The action "Build and upload docker image" fails since about two months with
[code]

[2021-11-30 13:49] aaronkaplan opened #2128 "race condition in filecollector line 75"
https://github.com/certtools/intelmq/blob/74c5a6435c1c629ace1ae66f67636207e87fc6a1/intelmq/bots/collectors/file/collector_file.py#L75

Has a race condition. Two bots may open the same file twice , this would then result in duplicated reports . Bug.

[2021-11-30 17:27] sebix commented on #2128
possible duplicate of #1631

[2021-12-01 13:03] #2088 closed

[2021-12-21 11:11] YeomansM opened #2131 "Log4j - Collector & Parser"
Dear All,

May i ask whether you were thinking to add Log4j for shadowserver feeds within its collector api and parser?

Perhaps we can be of assistance?

Regards
Matthew

[2021-12-21 11:27] sebix commented on #2131
The Shadowserver Reports API collector is able to fetch all feeds, just the parser is missing the mapping.

Here's some public information: https://www.shadowserver.org/what-we-do/network-reporting/vulnerable-log4j-servers-special-report/
Looks easy to do (if the documentation does not deviate from the actually used format)

[2021-12-27 13:13] YeomansM commented on #2131
That is a good point, all what is missing is the parser.

Unless other people already volunteered,  I would love to give it a try.

Thanks
Matthew

[2021-12-28 16:47] sebix commented on #2131
I haven't noticed any attempt yet, so feel free. If you need any help, ping me.

[2021-12-29 11:29] monoidic opened #2132 "Cymru whois expert: handle strange ASN symbols better"
I discovered a slight issue with the Cymru whois expert bot with some strange AS names. For instance, AS266522.
[code]
`\226\128\143`, in unicode, decodes to u+200f, the right-to-left mark. When the IMQ bot attempts to decode it with `result['as_name'] = items[4].encode('latin1').decode('utf8')`, it runs into this issue:
`UnicodeEncodeError: 'latin-1' codec can't encode character '\u200f' in posit

[2021-12-29 20:42] G0meisa opened #2133 "Generic-DB-lookup bot is still using SQLBOT"
from changelog:

but it seems like that generic db lookup code was not updated completely.
line 61: `elif self.cur.rowcount == 1 or (self.cur.rowcount == -1 and self.engine == SQLBot.SQLITE):`
line 65: `elif self.cur.rowcount == -1 and self.engine == SQLBot.SQLITE:`

[2021-12-30 11:36] sebix commented on #2132
I had some fun with the encoding issues in AS names in the past already (https://github.com/certtools/intelmq/commit/fff0b6e5f3998ee6621350f270c95e5c3bd15111#diff-016f562585e3b1dd9bbc46a808574681f44f9f1f522890f9a8740182ea61e81f https://github.com/certtools/intelmq/commit/3f0983dcdca9a87f784195e9cbc71bd053caf764#diff-016f562585e3b1dd9bbc46a808574681f44f9f1f522890f9a8740182ea61e81f https://github.co

[2022-01-14 22:23] sebix opened #2138 "Inefficient regular expression"
Found by CodeQL:
https://github.com/certtools/intelmq/blob/6991597278b7286099212e9469f7b097af238adf/intelmq/bots/parsers/sucuri/parser.py#L25-L25

Tracking issue for:
- [ ] https://github.com/certtools/intelmq/security/code-scanning/3

[2022-01-18 07:37] motok commented on #1499
intelmq 3.0.1 seems still have this issue.
[code]
[code]

[2022-01-18 08:54] sebix commented on #1499
Yes, it's the case for all bots which have specific additional requirements.

[2022-01-25 15:10] oencarnacion opened #2140 "Problem running Twitter Bot"
Complete all the steps mentioned in the documentation of the bot configuration.

**Logs:**

[code]

[2022-01-25 16:43] sebix commented on #2140
It looks like you are calling `intelmqctl log <some instance of a twitter collector>`? And that fails because something is not logged in valid UTF-8. So there are two errors, one that `intelmqctl log` doesn't handle bogus encodings safely and the other being the actual bug in the bot, which also cause the error message in the log.
To fix any of them, an example log entry is helpful/needed.
And as

[2022-01-25 17:44] oencarnacion commented on #2140
**I am confused with your answer. In the bot I have manually completed the following fields:**

- access_token_key
- access_token_secret
- consumer_key
- consumer_key
- supplier
- target_timelines

[2022-01-25 18:57] sebix commented on #2140
How did you get the stacktrace posted above?

[2022-01-25 19:02] oencarnacion commented on #2140
@sebix just run the bot and then go check the logs

[2022-01-27 11:27] monoidic commented on #2138
Would this work?
[code]

[2022-01-27 12:05] sebix commented on #2138
Maybe even `""` works by preventing the ambiguity of the first and the other alternative matches, but the `re.DOTALL` approach definitely is smarter :)

[2022-01-31 09:21] sebix commented on #2127
The full traceback is actually:
[code]

[2022-02-01 11:40] waldbauer-certat commented on #2127
Fixed with latest push to intelmq-docker

[2022-02-01 11:40] #2127 closed, assigned to waldbauer-certat

[2022-02-01 13:44] sebix commented on #2127
Thanks!

[2022-02-01 14:30] waldbauer-certat commented on #2123
Has been fixed within PR #1754

[2022-02-01 14:30] #2123 closed, assigned to nobody

[2022-02-02 08:16] #2138 closed, assigned to nobody

[2022-02-02 08:19] sebix commented on #2128
Duplicate of #1631

[2022-02-02 08:19] #2128 closed, assigned to nobody

[2022-02-03 12:02] waldbauer-certat commented on #1827
I tried fixing that issue, but I've seen that redis-py had some bugs <= 4.1.2 with blmove, its fixed in the latest release https://github.com/redis/redis-py/issues/1776. https://github.com/redis/redis-py/releases/tag/v4.1.2

Btw. I like their release design :D looks sooo pretty

[2022-02-03 16:10] frank9524 opened #2150 "Custom headers ignored in HTTPCollectorBot"
# The problem
When using the `HTTPCollectorBot`, it is possible to provide custom headers in the bot's configuration using the `http_header` variable. However, when running the bot, these custom headers are ignored, i.e. not passed on in the request.

# Probable cause
The `HTTPCollectorBot` uses the `HttpMixin` class. This class contains a [line](https://github.com/certtools/intelmq/blob/8d1c926ad

[2022-02-03 19:14] sebix commented on #2150
See also #2137

[2022-02-06 08:49] sebix commented on #2140
I see two issues here. The bot itself is inoperable with the normal API keys. Elevated access is required. Upstream issue at the twitter API: https://github.com/bear/python-twitter/issues/699
[code]
The other problem is the inability of `intelmqctl` to read the bot's log

[2022-02-06 09:21] sebix commented on #2140
cc the author/maintainer of the collector @hugeox

[2022-02-07 14:48] oencarnacion commented on #2140
@sebix I will be reviewing the API privileges provided by twitter

[2022-02-07 16:15] sebix commented on #2140
I'm experimenting with [tweepy](https://pypi.org/project/tweepy) which looks like a usable replacement, it supports the v2 better than [twitter](https://pypi.org/project/twitter/) and [python-twitter](https://pypi.org/project/python-twitter)

[2022-02-16 13:26] oencarnacion opened #2156 "Redis-To-ELK"
Hi,

@sebix  I would like to know if on any occasion you have been able to index the feeds coming from Shadowserver to ELK converting the data from String to Geopoint Type for the creation of a map. Currently I am trying it with logstash but it does not work for me, below I show you my logstash configuration file:

![image](https://user-images.githubusercontent.com/87453279/154273928-5496d1a3-a91c

[2022-02-17 15:42] sebix opened #2157 "Action "Building Docker image" fails in forks of this repo"
The docker action fails if the credentials are not available:
[code]

Expected behaviour:
- The action does not fail just passes if the creds are not given

[2022-02-18 12:41] waldbauer-certat commented on #2157
I'd suggest to keep this message, because it seems that there is something weird going on. It only runs in this repository, so we should keep track of pushing updates to dockerhub.

[2022-02-18 16:35] sebix commented on #2157
Yes, but impossible to fix for all contributors except you. But all contributors get the error in their own forks / PRs.

It also runs in all forks.

[2022-02-19 23:49] oencarnacion commented on #2140
the solution to the problem was to request a higher access to the API

[2022-02-19 23:49] #2140 closed, assigned to nobody

[2022-02-22 10:35] waldbauer-certat commented on #2157
I cant either, only @aaronkaplan is able to setup secrets in this repository.

Strange, repository.name is set to `certtools/intelmq`, have to check if github changed such behaviour in the latest changes.

[2022-02-22 10:45] sebix commented on #2157
This issue does not appear in certtools/intelmq, but in forks of it.
E.g. https://github.com/sebix/intelmq/runs/5234591929?check_suite_focus=true
[code]

See above.

[2022-03-08 11:38] dipenpatel235 opened #2159 "time.observation is not changed"
Hello Team,
i have started all feeds and getting all feed data with the same time observation.
what is the issue?
where need to do change?
i am doing daily index generation.

![image](https://user-images.githubusercontent.com/8135097/157230954-2f02be52-0982-4187-ad6b-8055b5274258.png)

[2022-03-09 17:51] sebix commented on #2159
`time.observation` is the time when the data was fetched. All the data rows of the that data fetched has the identical `time.observation`. In the case of the VXVault feed, the `time.source` looks identical to the observation time (see http://vxvault.net/URL_List.php second line), but the source does not provide anything more :/

[2022-03-10 11:10] dipenpatel235 commented on #2159
@sebix thanks for the reply. but it is the same for other feeds as well
see some sample screenshots of that
![image](https://user-images.githubusercontent.com/8135097/157649720-0a1355e3-fa8e-48c3-9988-b551727dd35d.png)

![image](https://user-images.githubusercontent.com/8135097/157649881-2ac4761c-4f87-41fa-b1f1-930a5708a837.png)

![image](https://user-images.githubusercontent.com/8135097/157650018

[2022-03-10 11:54] sebix commented on #2159
I don't see an issue here. As I said, `time.observation is the time when the data was fetched. For example, your netlab collector was running at 14:49. `time.source` is a timestamp given by the source. If the source does not provide any time information, the collection time is used.

See also https://intelmq.readthedocs.io/en/maintenance/dev/harmonization-fields.html

Do you see any difference bet

[2022-03-24 10:36] gethvi opened #2162 "Autoshun feed changed/dead"
Autoshun (by RiskAnalytics) seems to have changed. Autoshun Collector fails because the feed URL returns 404.

From their website:

_We have merged AutoShun and Malware Domains, and have integrated those technologies into ShadowNet.  Through ShadowNet we are able to identify the latest threat intel gathered from around the globe, share learnings and best practices from our network of clients and p

[2022-04-12 15:34] gethvi opened #2164 "CSV Parser: allow skip_header to contain number"
Feature request:

Implement skip_header as `Union[bool, int]`. Then:

- If False, skip zero lines.
- If True, skip one line.
- If Int skip fixed number of N lines.

[2022-04-14 09:28] gethvi opened #2165 "Spamhaus CERT parser uses wrong field"
I believe this should be using `source.port`:

https://github.com/certtools/intelmq/blob/ce60fd4bf65b0ca2d98ac05c4db658890dbac1a3/intelmq/bots/parsers/spamhaus/parser_cert.py#L168

[2022-04-15 17:31] sebix commented on #2165
Do you have an example for it?
The header of the file says "local_port". If in doubt, we can just ask them.

[2022-04-15 17:32] sebix commented on #2164
Good idea, yes!

[2022-04-15 17:35] sebix commented on #2162
Thanks.

Aside from removing the code, we also need an upgrade function which warns the users about the removal. There are already some of these functions in lib/upgrades

[2022-04-19 08:57] aaronkaplan opened #2166 "the .ova image still uses buster"
upadte to bullseye

[2022-04-19 10:59] sebix commented on #2166
Did you mean the VM of https://github.com/certtools/intelmq-tutorial/ ?

[2022-04-20 14:16] ClevenL opened #2167 "Turris greylist has been updated"
It seems that this morning the Turris graylist has been updated. The CSV file location has been changed from `https://project.turris.cz/greylist-data/greylist-latest.csv` to `https://view.sentinel.turris.cz/greylist-data/greylist-latest.csv`.

`http_url` parameter in `bots.collectors.http.collector_http` bot should be changed to `https://view.sentinel.turris.cz/greylist-data/greylist-latest.csv` t

[2022-04-21 07:40] gethvi commented on #2165
[code]

When the event describes a connection (src -> dst), I always assumed that `source.port` means local_port. Is that wrong?

[2022-04-21 20:19] gethvi commented on #2071
### Extending format based on classification.type.

Example 1:
`classification.type: "phishing"`

Optional additional fields:
`phishing.brand`: "Big-Bank-Name"
`phishing.screenshot` (maybe base64 data?)
`phishing.sector`: "banking"
`phishing.language`: EN
etc

Example 2:
`classification.type: "system-compromise"`

Optional additional fields:
`system-compromise.commands`: ["wget evil-url", "./evil-

[2022-04-22 21:14] sebix commented on #2165
Depends on the meaning of local port. If, e.g. you make an connection to a remote service, the local port is some high-range port, more or less used just used internally at the host, not really useful on the outside. In that terms, it is local, yes.
The second thing is source vs destination which is very tricky in IntelMQ, because the data format uses these terms for historical reasons but with a

[2022-04-24 19:43] sebix commented on #2167
Thanks for the report.

That requires a few updates in IntelMQ. Additionally to what you already mentioned, we also need updated docs and upgrade instructions. And an automated upgrade for changing the URL (lib/upgrades.py).

[2022-04-26 09:10] aaronkaplan commented on #2071
@gethvi good additions, thanks! Agree, they could be elaborated but this list is there to collect ideas :) so, spot on. No idea is too half-baked for this issue :)

[2022-04-26 20:05] gethvi opened #2168 "Kafka Collector: possible bug"
While searching the source code for something else, I noticed Kafka Collector uses `self._Bot__bot_id` which was deprecated I believe.

https://github.com/certtools/intelmq/blob/651d0733f719579e96ec4b063a260023ebeadc50/intelmq/bots/collectors/kafka/collector.py#L41

Sorry if this is a bogus issue, I currently don't have time to investigate deeper (but I don't want to overlook it either).

[2022-04-27 13:06] ClevenL opened #2169 "Cymru parser_cap_program invalid hostname filtering"
In some Team-Cymru payloads the `optional_information` entry includes `hostname: ` parameter with an IP address. This is parsed in `intelmq.bots.parsers.cymru.parser_cap_program` bot into `source.fqdn` field, which does not allow IP entries.

There should be check to filter out IP hostnames, since we already have that data included in `source.ip` field.

The fix can be equivalent to PR #2144. Incl

[2022-04-27 14:26] gethvi commented on #2169
Perhaps cleaner way:
[code]

[2022-04-29 06:27] sebix commented on #2168
My knowledge of Kafka is limited, but if that `group_id` is some required internal identifier for the consumer, it doesn't look wrong. What I don't know is if each thread needs its own identifier, then `self._Bot__bot_id_full` would be correct.

[2022-04-29 06:36] sebix commented on #2169
But that could possibly hide other errors as well (e.g. other kind of data, wrong parsing, etc.)

So I prefer @ClevenL's solution.

[2022-04-29 15:10] gethvi commented on #2168
I ment that `self._Bot__bot_id` attribute is not assigned anywhere to my knowledge.

https://github.com/certtools/intelmq/search?q=_Bot__bot_id

I belive this code would fail on `AttributeError: 'KafkaCollectorBot' object has no attribute '_Bot__bot_id'`.

I only know of these (note the lowercase names) being assigned:
https://github.com/certtools/intelmq/blob/d686fff5f1b8cd2d646bab9f8a8016f130af7

[2022-04-29 17:09] sebix commented on #2168
`__bot_id` is a private variable of the `Bot` class (starts with `__`). In derived classes these private variables are accessible as `_$orginatingclass__$variablename`. See https://docs.python.org/3/tutorial/classes.html#tut-private

[2022-04-29 17:21] gethvi commented on #2168
I didn't know this. Now it makes sense to me. Sorry about the bogus issue and for wasting your time. Thank you very much for the explanation, you helped me learn something new!

[2022-04-29 17:21] #2168 closed, assigned to nobody

[2022-05-02 11:41] RomainSm opened #2170 "Misp Expert - Crash if misp event already exist"
Hello,

We have an instance of intelMQ with MISP correlation.
We ingest from MISP-collector (and a lot of other sources) data and we have an expert to correlate information from MISP in the case of data come from other sources.

Problem is : We have a crash of the MISP-Expert when an event come with the misp.event.uuid is not NULL/Empty.

This is something known or something you can fix ?

Thank i

[2022-05-05 07:13] ClevenL commented on #2167
It seems that Turris changed the graylist again by adding a comment in the beginning of the CSV file.
I modified `bots.parsers.turris.parser` to skip the first two lines(comment and header) with next() function.

I wrote something like this (included `ignore_lines` list for readability):

[code]

[2022-05-05 08:12] sebix commented on #2167
Instead of calling `next()` I proposed to use a csv parser with headers and ignore all lines starting with `#`. If the tags-column wouldn't contain multiple strings, we could use the generic csv parser.
Also, these two lines (or, if using the csv parser with headers, just the first one), should be added to `self.tempdata` so that the raw-data is correct (especially relevant if the parser is failin

[2022-05-05 12:56] gutsohnCERT commented on #2122
Hey!

Really good idea! I am working on it :)

[2022-05-05 14:13] gethvi commented on #2169
Would it make sense to modify the `add` function with logging the error instead of just returning False?

https://github.com/certtools/intelmq/blob/6e1c1bf07b733e5ea3365a74e23105cc613450f9/intelmq/lib/message.py#L259-L264

[2022-05-05 16:02] gethvi opened #2174 "For discussion: define a recommended minimum requirements and (dis)allowed fields for each classification type"
### What?
I know there are [general recommendations](https://intelmq.readthedocs.io/en/maintenance/dev/data-format.html#id17) in the docs.

However I am proposing to create a definition of:
- required fields for each classification type
- disallowed fields for each classification type

It would be somewhat of an extension to [this docs page](https://intelmq.readthedocs.io/en/maintenance/dev/data-f

[2022-05-13 08:57] sebix opened #2175 "intelmqsetup: should install a default state file"
Currently, `intelmqsetup` calls `intelmq upgrade-config` also on new installations. This results in a lot of "nothing to do" migrations:
[code]
and so on.

Instead, for new installations, an "empty" `state.conf` file should be created, like we do it with the packages: https://build.opensuse.org/package/view_file/home:sebix:intelmq/intelmq/state.json?expand=1

Before
https://github.com/certtools/in

[2022-05-17 09:12] wagner-intevation opened #2176 "intelmqctl create log file before dropping privileges"
Preconditions:
- No log file `$logdir/intelmqctl.log` exists

`intelmqctl` is called as root instead of user intelmq, e.g. in setup scripts or by user error.
The initialization of `intelmqctl` is able to degrade its permissions to user intelmq, but first it creates the logging file:

https://github.com/certtools/intelmq/blob/0221a2507b05dcccaea9ac239bb9e13fa48ce4bc/intelmq/bin/intelmqctl.py#L103-L

[2022-05-17 10:00] wagner-intevation opened #2177 "SyntaxError in bots causes `intelmqctl check` to crash"
`intelmqctl check` tries to import all bots to check if they exists and some other checks:
https://github.com/certtools/intelmq/blob/0221a2507b05dcccaea9ac239bb9e13fa48ce4bc/intelmq/bin/intelmqctl.py#L923-L929

However, if the bot has a syntax error, this causes `intelmqctl check` to crash itself with an uncaught `SyntaxError`. In these cases the manager won't display anything useful.

This kind o

[2022-05-17 11:34] wagner-intevation opened #2178 "malc0de feed is offline"
The malc0de feed (https://malc0de.com/bl/BOOT and https://malc0de.com/bl/ZONES and https://malc0de.com/bl/IP_Blacklist.txt) seems to be discontinued. Website does no longer exist.

- remove `intelmq.bots.parsers.malc0de.parser`
- remove collector and parser from the default configuration
- add an upgrade function warning if these bots exist in the current configuration
- remove the entry from the

[2022-05-18 11:52] gethvi commented on #2165
Could we introduce `source.ephemeral_port` and `destination.ephemeral_port` which would make it clear where the connection originated?

Example:
`destination.ephemeral_port` -> `source.port` (connection made from "destination" host)
`source.ephemeral_port` -> `destination.port` (connection made from "source" host)

I would not consider this information "not really useful". When we send an abuse no

[2022-05-23 05:41] #2133 closed, assigned to waldbauer-certat

[2022-05-23 05:44] sebix commented on #2156
No, sorry. I don't yet have experience with these components.

[2022-05-23 05:51] sebix opened #2183 "Docker workflow fails because of missing valid authentication details"
Additionally and independent of #2157 the docker action also fails in certtools itself now: https://github.com/certtools/intelmq/actions/runs/2369229111

[code]

This is a result of the deletion of my cert.at-account at dockerhub (https://hub.docker.com/r/certat/) as we used these credentials in GitHub.

@waldbauer-certat Please create new tokens and pass them on to @aaronkaplan for saving them in

[2022-05-26 06:03] sebix opened #2185 "all bot test fail on Ubuntu 22.04 because of differing python version string"
for example:
[code]
applies to all bot tests of course
`( \\[GCC\\])?` needs to be extend to also hold the gcc version (or a non-greedy catch-all)

[2022-05-31 09:10] wagner-intevation opened #2188 "intelmqdump crashes on getting bot status"
[code]

[2022-05-31 09:10] wagner-intevation commented on #2188
Very likely a result of https://github.com/certtools/intelmq/pull/2067

[2022-05-31 10:28] #2188 closed, assigned to nobody

[2022-06-28 14:15] wagner-intevation opened #2195 "Installation documentation: obsolete docker environment variables?"
These three environment variables seem to have no effect:
https://github.com/certtools/intelmq/blob/79cae294a74ab77f09b1f371a19f04ad65abab12/docs/user/installation.rst#L190
https://github.com/certtools/intelmq/blob/79cae294a74ab77f09b1f371a19f04ad65abab12/docs/user/installation.rst#L192
https://github.com/certtools/intelmq/blob/79cae294a74ab77f09b1f371a19f04ad65abab12/docs/user/installation.rst#L1

[2022-06-29 06:40] NaSangWon opened #2196 "How to login to the IntelMQ manager?"
What is username and password for login?

I'm using ubuntu.

[2022-06-29 07:48] waldbauer-certat commented on #2196
Hey @NaSangWon,

you have to create a user first to be able to login, see [docs](https://intelmq.readthedocs.io/en/maintenance/user/intelmq-api.html#adding-a-user)

After you've added an account, you're able to login using the button in the upper right :)

Regards,

[2022-06-29 08:14] NaSangWon commented on #2196
I see,

but I'm getting error with intelmq api, when I run
`hug -m intelmq_api.serve`
It return
sqlite3.OperationalError: unable to open database file

I think my api config is wrong.
on docs, it says

which I don't have, any thoughts on this? thanks.

[2022-06-29 08:41] waldbauer-certat commented on #2196
Hey @NaSangWon :)

According to the docs

 SQLite does not only need write access to the database itself, but also the folder the database file is located in. Please check that the webserver has write permissions to the folder the session file is located in.

Have you used pip or rpm/deb packages to install the intelmq-api?

[2022-06-29 10:05] NaSangWon commented on #2196
rpm/deb packages. on ubuntu vm machine.

Maybe I didn't set redis work properly?

[2022-06-29 10:11] waldbauer-certat commented on #2196
@NaSangWon

Are you able to share your `api-config.json` file?

Open your `api-config.json` and do `ls -al <session_store>` (replace <session_store> with the path from `api-config.json`)

It looks like your webserver is not able to write to the folder where the session file is located in ( permission errors )

Redis is not used in this process, as the intelmq-manager does intelmq-api calls, which

[2022-06-29 12:24] sebix commented on #2196
Which Ubuntu version?

At the installation you have been asked to enter a username and password for the API/Manager.

There's no need to start the interfaces by hand. You installed with deb/rpm packages and apache was already configured for you automatically. Go to http://localhost/intelmq-manager/ and login with the credentials that you entered during the installation.

[2022-06-29 12:54] wagner-intevation opened #2197 "intelmqsetup accesses version of intelmq_api wrongly leading to crash"
https://github.com/certtools/intelmq/blob/79cae294a74ab77f09b1f371a19f04ad65abab12/intelmq/bin/intelmqsetup.py#L323=
The variable `intelmq_api.version` does not exist. `intelmqsetup` fails with this error:
[code]

[2022-06-30 01:09] NaSangWon commented on #2196
@waldbauer-certat

Here's my `api-config.json` file. on `/etc/intelmq/api-config.json`

        "intelmq_ctl_cmd": ["sudo", "-u", "intelmq", "intelmqctl"],
        "allowed_path": "/opt/intelmq/var/lib/bots/",
        "session_store": "/var/lib/dbconfig-common/sqlite3/intelmq-api/intelmqapi",
        "session_duration": 86400,
        "allow_origins": ["*"]
}

Again, default "session_store" path i

[2022-06-30 01:13] NaSangWon commented on #2196
@sebix

20.04.4 LTS

On installing intelmq-api, yes. I have entered username and password.
But somehow I can't login intelMQ manager with that.

[2022-06-30 06:45] sebix commented on #2196
Can you please run
[code]
and show the output (excluding your password of course). That command should (re-)create the file `/var/lib/dbconfig-common/sqlite3/intelmq-api/intelmqapi`, so maybe it shows us an error message.

[2022-06-30 07:14] NaSangWon commented on #2196
root@ubuntu:~# sudo apt-get --reinstall intelmq-api
E: Command line option --reinstall is not understood in combination with the other options

Did you mean `sudo apt-get install --reinstall intelmq-api`?

[2022-06-30 07:18] sebix commented on #2196
Yeah, whatever apt's parameters work :)

[2022-06-30 07:34] NaSangWon commented on #2196
I did `sudo apt-get install --reinstall intelmq-api` multiple times and this is what I finally get.

Reading package lists... Done
Building dependency tree
Reading state information... Done
0 upgraded, 0 newly installed, 1 reinstalled, 0 to remove and 67 not upgraded.
1 not fully installed or removed.
After this operation, 0 B of additional disk space will be used.
E: Internal Error, No file name

[2022-06-30 10:18] sebix commented on #2196
`1 not fully installed or removed.` and `Internal Error` doesn't look that good.
Please show `sudo dpkg -l | grep ^..R`
You also try `apt-get install -f` and `sudo dpkg --configure -a` to fix apt/dpkg problems on your machine.

[2022-06-30 10:39] NaSangWon commented on #2196
`sudo dpkg -l | grep ^..R` show nothing.

both `apt-get install -f` and `sudo dpkg --configure -a` return same error.

dbconfig-common: writing config to /etc/dbconfig-common/intelmq-api.conf
Loading config from /etc/intelmq/api-config.json
Traceback (most recent call last):
  File "/usr/bin/intelmq-api-adduser", line 27, in <module>
    session_store = intelmq_api.session.SessionStore(str(api_con

[2022-07-01 10:15] wagner-intevation opened #2200 "Postgres Output (SQL Mixin): not re-connecting on connection issues"
If the server restarts while the bot is running, it does not properly reconnect by itself after
[code]
though it correctly logs
[code]

Working on a fix right now

[2022-07-01 19:12] sebix commented on #2131
@elsif2 I think you PR closes this issue

[2022-07-01 19:13] sebix commented on #1832
@elsif2 maybe you want to pick up this proposal?

[2022-07-01 19:13] sebix commented on #1829
@elsif2

[2022-07-01 19:14] sebix commented on #1763
@elsif2 can you check if this issue is still present?

[2022-07-01 19:14] sebix commented on #1727
cc @elsif2

[2022-07-01 19:14] elsif2 commented on #2131
Yes, that is correct.

[2022-07-01 19:15] sebix commented on #1688
cc @elsif2

[2022-07-01 19:17] elsif2 commented on #1829
All supported report types will be added with https://github.com/certtools/intelmq/pull/2143.

[2022-07-01 19:19] elsif2 commented on #1763
The 'drone' report type is no longer supported.  This issue can be closed.

[2022-07-01 19:23] elsif2 commented on #1727
Once https://github.com/certtools/intelmq/pull/2143
 is merged, all supported Shadowserver report types will have a parser.  New parsers will be added as new types are announced.

[2022-07-01 19:24] sebix commented on #2196
I have no idea in what state dpkg is in your system. Normally the package creates the database in dpkg's `postinst` step and asks you for the credentials after that. For whatever reason the database can't be created?
*Maybe* the directory permissions got messed up? `ls -la /var/lib/dbconfig-common/sqlite3/intelmq-api/`

You could also try to purge the package before re-installing it.

[2022-07-01 19:32] elsif2 commented on #1832
Sure, please assign it to me (I can't assign it).

[2022-07-01 19:47] sebix commented on #1832
It looks like I can only assign you an issue after you posted a comment in that issue. Otherwise I can't select your account in the form :roll_eyes:

[2022-07-02 01:08] NaSangWon commented on #2196
I updated dpkg, purged and reinstalled intelmq-api.

I logged in! thank you so much @sebix.

Problem solved.

[2022-07-02 01:16] #2196 closed, assigned to nobody

[2022-07-02 06:08] sebix commented on #2196
Phew, finally :) Sorry for the troubles, but I unfortunately I don't know what caused that situation.

[2022-07-04 10:59] sebix opened #2202 "intelmq_psql_initdb does not work for SQLite"
The SQL output bot documentation says, the SQLite database can be initialized with the intelmq_psql_initdb's initdb.sql:
https://github.com/certtools/intelmq/blob/79cae294a74ab77f09b1f371a19f04ad65abab12/docs/user/bots.rst#L4089-L4094

However, that does not work:
[code]

[2022-07-04 17:02] wagner-intevation opened #2203 "PostgreSQL Output: Issue with Nullbytes in JSON-Data"
Nullbytes in JSON-Data (in the field `extra`) can cause troubles:
[code]
A problematic extra-value can look like:
[code]
Source: Microsoft CTIP

While the `json` type in postgres allows (encoded) Nullbytes in principle, some systems have a problem with that. I have not found out yet, what causes some Postgres-Systems to throw an error here, while others work.
Tested with PostgreSQL 14.4. Works fin

[2022-07-04 19:37] sebix opened #2204 "Using deprecated method of dnspython"
Changelog of version 2.0.0:

`dns.resolver.query()` is used here:

https://github.com/certtools/intelmq/blob/651d0733f719579e96ec4b063a260023ebeadc50/intelmq/lib/harmonization.py#L705=

https://github.com/certtools/intelmq/blob/0c6b3269ac480e47c62c9c31ff8685ba90d91f55/intelmq/bots/experts/abusix/_lib.py#L29=
https://github.com/certtools/intelmq/blob/3bbf1201ad783664985f00be4ba7a44ce5b05e8d/intelmq

[2022-07-05 08:23] GKJoker98 opened #2205 "RabbitMQ Peer-Connection"
Hello folks,

im am using AMQP (RabbitMQ) for our IntelMQ solution. During development I noticed, that the bots losing connection to RabbitMQ after short time.  In my comprehension I think it is because of the short heartbeat parameter set in the pipeline.py.

It says, that the connection should timeout after 10 seconds. I think there was a misunderstanding by that (probably the developer thought

[2022-07-05 12:15] wagner-intevation opened #2206 "TestReverseDnsExpertBot.test_invalid_ptr fails because of DNS entry change"
[code]

Finding a replacement IP address is probably very hard, so the only choice we have is to remove the test or to mock the DNS query.

[2022-07-05 16:50] wagner-intevation opened #2207 "Threshold Expert test uses hardcoded Redis host"
https://github.com/certtools/intelmq/blob/79cae294a74ab77f09b1f371a19f04ad65abab12/intelmq/tests/bots/experts/threshold/test_expert.py#L38
Instead of using 127.0.0.1, `INTELMQ_PIPELINE_HOST` should be used, as done by other tests, to support running tests with redis on different hosts, e.g. in docker setups

[2022-07-05 19:17] sebix commented on #2205
Hi @GKJoker98,

It's been four years that I wrote that code (https://github.com/certtools/intelmq/commit/fb3037f140#diff-3961e0dc13579648a826949be69464abb176e3323cd4b85ae10dc58c166b00e0R344) so I don't remember my exact thoughts any more, but your assumption may be correct :)

That makes sense. OTOH if there's a good default value which works, we don't need an extra parameter.

Did you test which

[2022-07-06 09:29] #2206 closed, assigned to wagner-intevation

[2022-07-07 13:18] #2197 closed, assigned to wagner-intevation

[2022-07-13 12:11] aaronkaplan commented on #2202
okay, so would it need an `intelmq_sqlite_initdb` then?

[2022-07-13 13:58] sebix commented on #2202
Or a generic command, and a parameter to switch between databases, e.g. `intelmq.bots.outputs.sql.output --generate-initdb --sqlite`.

[2022-07-14 12:55] waldbauer-certat commented on #1499
This doesnt seems like a bug to me, because the error message should be clear enough. Maybe add some better error handling in intelmqctl and intelmq-manager if the error is MissingDependencyError.

Would remove the bug label, as its not a bug. @sebix

[2022-07-14 13:35] waldbauer-certat commented on #2183
Fixed, thanks @aaronkaplan

[2022-07-14 13:35] #2183 closed, assigned to aaronkaplan, waldbauer-certat

[2022-07-14 14:02] waldbauer-certat commented on #2195
@wagner-intevation

INTELMQ_PIPELINE_HOST is being used, but `INTELMQ_SOURCE_PIPELINE_BROKER`, `INTELMQ_DESTIONATION_PIPELINE_BROKER`, `INTELMQ_SOURCE_PIPELINE_HOST`, `INTELMQ_DESTINATION_PIPELINE_HOST` and `INTELMQ_REDIS_CACHE_HOST` are not used.

PR is on the way

[2022-07-14 14:57] aaronkaplan commented on #2183
welcome

[2022-07-15 08:15] #2200 closed, assigned to wagner-intevation

[2022-07-15 09:07] #2169 closed, assigned to waldbauer-certat

[2022-07-15 09:08] sebix opened #2218 "Documentation page of Turris Greylist broken syntax"
https://intelmq.readthedocs.io/en/latest/user/feeds.html#greylist-with-pgp-signature-verification
The markup syntax for the PGP key does not work:
![image](https://user-images.githubusercontent.com/199050/179192172-aff5de41-ecc2-4aa4-af4e-4dcab4fb4bc6.png)

[2022-07-15 13:20] sebix commented on #1499
It's definitely bad usability. IIRC the reason I labelled this as bug was that this particular bot is part of the standard botnet. In other words: The default installation does not work without installing further dependencies. If you disagree, feel free to remove the label.

https://github.com/certtools/intelmq/blob/469dc4951a0d39c1b3f62bee156c2b371f7d1c0c/intelmq/etc/runtime.yaml#L60-L65

[2022-07-21 07:55] waldbauer-certat opened #2221 "Remove redis-server as required package on rpm/dep packages"
There are some redis drop-in replacements like keydb. So we might wanna change the required-dependency to optional.

https://build.opensuse.org/package/view_file/home:sebix:intelmq/intelmq/intelmq.spec?expand=1

[2022-07-21 08:08] sebix commented on #2221
Is it somewhere documented how to use other pipelines as replacement for redis? Including some information what works (well).

Changing the requirement from requires to recommends also means that for systems, which do not install recommended packages (e.g. minimal installations, including many docker image) do not end up with a working IntelMQ instance after installing the package.

I'd rather pre

[2022-07-22 06:08] waldbauer-certat opened #2222 "Add documentation for redis & drop-in replacements"
As redis is a nice in-memory database and field-tested, there are some competitors out there working on more advanced solutions to solve issues redis is currently having.

Some of them are:
- https://docs.keydb.dev/ ( Also field-tested, faster processing because of its internal architecture (multi-threaded) )
- https://github.com/ideawu/ssdb ( Not tested yet, but is built from scratch )
- https://

[2022-07-22 06:08] waldbauer-certat commented on #2221
As of now lets leave as it is, new ticket for more advanced configuration is available at #2222

[2022-07-25 10:29] sebix opened #2224 "Docs build fail"
Building docs currently fails with
[code]

upstream issues:
- https://github.com/sphinx-doc/sphinx/issues/10613
- https://github.com/sphinx-doc/sphinx/issues/10701

[2022-07-25 12:48] #2224 closed, assigned to nobody

[2022-07-25 13:25] #2162 closed, assigned to waldbauer-certat

[2022-07-25 13:42] #1549 closed

[2022-07-25 13:53] #2156 closed, assigned to nobody

[2022-07-25 13:55] sebix commented on #2159
Closing because of inactivity. Please reopen if needed.

[2022-07-25 13:55] #2159 closed, assigned to nobody

[2022-07-25 13:55] #1827 closed

[2022-07-29 08:38] ClevenL opened #2228 "Shadowserver NTP Version Report parsing issue"
It seems like last week there was a change in Shadowserver NTP Version Report's `jitter` field type.
The clock jitter was previously represented by a float e.g. `0.976`, the change included `sys_` - becoming `sys_0.976`. The parser errors could be resolved by modifying the parser `config.py` file:
In `ntp_version` object
[code]
-->
[code]
But this solution could create problems down the pipeline w

[2022-07-29 09:28] ClevenL commented on #2228
Another solution if value type preservation is preferred:
Include an additional definition that extracts `sys_`:
[code]
and use it:
[code]

[2022-08-01 07:35] #2203 closed, assigned to wagner-intevation

[2022-08-01 20:04] sebix commented on #2228
I don't know the intent of Shadowserver changing the type/content here, but removing the prefix `sys_` looks cleaner to me. Except if there will be other prefixes in the future.
@elsif2 do you know more on this?

[2022-08-01 23:46] elsif2 commented on #2228
The `sys_` prefix was added inadvertently by an upstream update to our scanning tool.  The prefix will not appear going forward from 2022-08-02.

[2022-08-01 23:46] #2228 closed, assigned to elsif2

[2022-08-02 14:15] sebix opened #2229 "Codecov in GitHub Actions fails"
All "full" unittest workflows fail currently in the codecov step with:

[code]

[2022-08-02 14:22] #2178 closed, assigned to nobody

[2022-08-03 07:50] #2185 closed, assigned to waldbauer-certat

[2022-08-08 09:25] sebix commented on #1850
fixed by #2192

[2022-08-08 09:26] #1850 closed

[2022-08-08 09:27] #1763 closed

[2022-08-08 09:29] #2207 closed, assigned to wagner-intevation

[2022-08-08 15:05] wagner-intevation opened #2233 "BLMOVE is also used with clients not supporting it, resulting in broken pipeline"
[code]

Server version is 7.0.2, but the python library is 3.3.11. BLMOVE is first available in 4.0.0 (and 4.1.2 fixed a major bug https://github.com/redis/redis-py/issues/1776).

[2022-08-16 16:45] sebix commented on #2229
That currently prevents merges, as the unittest check is required.

[2022-08-22 14:14] elsif2 commented on #1829
All Shadowserver reports are now supported in the current develop branch and will be included in the 3.1.0 release.

[2022-08-22 14:14] #1829 closed

[2022-09-05 07:48] sebix commented on #2131
Fixed by #2227

[2022-09-05 07:48] #2131 closed, assigned to elsif2

[2022-09-07 01:07] elsif2 commented on #1727
All existing Shadowserver report types are supported in the develop branch.

Support for new reports will be added as they are deployed to consumers.

[2022-09-07 01:07] #1727 closed

[2022-09-20 16:23] sebix opened #2245 "Shadowserver database upgrade statements are erroneous"
For example the first entry:
[code]
The identifier for this feed was previously `accessible-adb` and is still `accessible-adb`. Why should the values in the database be changed to `open-adb` now?

Same with other entries.

@elsif2

[2022-09-20 16:28] elsif2 commented on #2245
The database updates were included in the original merge request and should have been reversed when I reworked the schema to maintain the original names.  I can remove these in the shadowserver-20220909 branch I have open for a few other updates.

[2022-09-20 16:32] sebix commented on #2245
ok. That would have prevented some work regarding backwards-compatibility on my side.

Yes, please remove these wrong statements and replace them with a note, that if users already executed them, they need to revert.

[2022-09-20 17:06] elsif2 commented on #2245
Included in https://github.com/certtools/intelmq/commit/8880e0955c2c93b5b3ab9bef03f87e895cdbf267

[2022-10-04 23:00] elsif2 commented on #2245
Fix included in https://github.com/certtools/intelmq/pull/2246

[2022-10-11 07:19] sebix commented on #2168
You're welcome :)Message ID:
***@***.***>

[2022-10-11 07:44] aaronkaplan commented on #2202
Also fine. Whatever works.

[2022-10-12 11:59] mariuskarotkis opened #2248 "IntelMQ manager/API from intelmq_api.serve import __hug_wsgi__"
Can't login to IntelMQ manager

`Ubuntu 20.04.5 LTS`

Installed from: https://download.opensuse.org/repositories/home:/sebix:/intelmq/xUbuntu_20.04/all/intelmq_3.0.2-1_all.deb

![image](https://user-images.githubusercontent.com/3322571/195336527-b00405d1-f01e-4bdf-97b0-d76d01fa552d.png)

`/var/log/apache2/error.log`
[code]

`hug -m intelmq_api.serve`
[code]

[2022-10-12 15:03] sebix commented on #2248
In https://github.com/certtools/intelmq/discussions/2243 a similar error was reported

[2022-10-18 12:04] mariuskarotkis commented on #2248
@sebix
https://software.opensuse.org/download.html?project=home:sebix:intelmq&package=intelmq

`Ubuntu 20.04`

[code]

[code]

[2022-10-19 12:07] ndnikolaev opened #2249 "Problem using RT-Output bot"
I have intelMQ - 3.0.2 installed on Ubuntu 20.04.
I am trying to auto create ticket from intelMQ to RT but I get error in /var/logs/intelmq/RT-Output-2.dump

 "source_queue": "RT-Output-2-queue",
        "traceback": [
            "Traceback (most recent call last):\n",
            "  File \"/usr/lib/python3/dist-packages/intelmq/lib/bot.py\", line 310, in start\n    self.process()\n",

[2022-10-21 08:17] sebix commented on #2249
How did you install the rt library?

https://pypi.org/project/rt/

[2022-10-21 12:21] ndnikolaev commented on #2249
I install it with "pip install rt"

[2022-10-21 13:28] sebix commented on #2249
Is your `pip` Python 3?

[2022-10-25 05:57] ndnikolaev commented on #2249
It is Python3

pip show rt
Name: rt
Version: 3.0.3
Summary: Python interface to Request Tracker API
Home-page: None
Author: None
Author-email: Georges Toth <georges.toth@govcert.etat.lu>
License: GNU General Public License v3 (GPLv3)
Location: /usr/local/lib/python3.8/dist-packages
Requires: requests-toolbelt, requests

Base on documentation that @sebix provided I changed /intelmq/bots/outputs/rt/

[2022-10-26 13:37] qasidali861 opened #2250 "How to rotate event file?"
How can I configure the event file rotating policy.

[2022-10-29 20:34] sebix commented on #2250
In `/etc/logrotate.d/intelmq`

[2022-10-30 15:31] qasidali861 commented on #2250
Thanks Sebix for this
I unable to find the intelmq file in logrotate.d
I need to create new one, if need to create new one so what will be the format of that file.

Thanks

[2022-10-30 16:51] sebix commented on #2250
How did you install IntelMQ?

This is the expected content: https://github.com/certtools/intelmq/blob/develop/contrib/logrotate/intelmq

[2022-10-30 17:33] qasidali861 commented on #2250
Thankx Sebix

[2022-10-31 07:11] qasidali861 commented on #2250
Hi Sebix

I have tried but I am getting error

[code]

intelmq file is above in logrotate.d

When I check opt/intelmq

There is no such directory which exist.....

Also tried giving my local directory location but got the same error.

[2022-10-31 07:56] #2250 closed, assigned to nobody

[2022-11-04 08:58] ndnikolaev commented on #2248
Is there any chance key to be updated?

[2022-11-04 09:15] ndnikolaev commented on #2249
adding .rest1 on line 25 (import rt.rest1) and line 71 ( RT = rt.rest1.Rt(self.uri, verify_cert=self.verify_cert)) in file outputs/rt/output.py" do the trick.

Thanks

[2022-11-04 09:15] #2249 closed, assigned to nobody

[2022-11-04 10:42] sebix commented on #2248
@mariuskarotkis
The current key expires in two years:
[code]
You may need to re-import the key.

[2022-11-08 12:35] creideiki opened #2255 "Type error with SQL output bot's prepare_values returning list instead of tuple"
After rebasing our local branch onto mainline for the first time in way too long, our SQL output bots started crashing when inserting data into the database, with the following backtrace:
[code]
This seems to be because after #2223 all values going to the database now pass through the function `prepare_values()` in the SQL output bot: https://github.com/certtools/intelmq/blob/e411d4ff0150aeb7fc386

[2022-11-09 08:41] wagner-intevation commented on #2255
What about something like this? (untested)

[code]

[2022-11-09 09:02] creideiki commented on #2255
That looks like what I would try to do. But I also haven't tested it.

And I still don't understand why the type was changed to `list` in the first place, and how nobody but me has encountered that error.

[2022-11-09 09:38] kamil-certat opened #2257 "Development Guide updates for working with local user and all dependency services"
Currently, the development guide suggested working with globally installed `intelmq`. For lowering potential conflicts with the local machine, easier development and integrations with IDE, I'd propose a guide to develop using a virtual environment and local non-root user.

In addition, there are some missing information about commonly used local services and test packages. I'd like to propose guid

[2022-11-09 12:12] sebix commented on #2257
intelmq doesn't run as root, so the second part is already fulfilled. To run IntelMQ in venvs, you can try setting INTELMQ_ROOT env variable to use different paths (not / or /opt/intelmq). But it could be the case that you need to change some code too.

[2022-11-09 12:21] kamil-certat commented on #2257
Yes, yes. I want to switch from using a dedicated user to a local user (both non-root), for the development purposes.

So far, it looks working. I'd like to leave the configuration files where they are for now, but I agree, the best would be to make it configurable if it's possible. Will try with the env and see how it works.

[2022-11-09 12:29] sebix commented on #2257
using a user which is not `intelmq` should work as well. IntelMQ just rejects running as root:
https://github.com/certtools/intelmq/blob/122e3a386581688593878014cba457dd1c1e5599/intelmq/lib/utils.py#L682-L691

[2022-11-10 10:51] pierewoehl opened #2259 "Shardowserver JSON-Parser does not find config"
Rocky Linux 8,
IntelMQ - 3.0.2 installed via RPM
[code]

[2022-11-14 06:56] qasidali861 opened #2261 "12:54 AM 7נError loading bot log information: [31mLog path not found: /opt/intelmq/var/log/MongoDB-Output.log[0m"
I am using the MongoDB output bot. So getting this error.
I am getting the same error while using ELK and Files output bot.

[2022-11-14 10:55] kamil-certat opened #2262 "Python 3.6 full test fails to build due to pymssql wheel lack"
Yesterday, pymssql has uploaded a new version that lacks of wheel for Python 3.6. It stopped our tests to build on this platform.

They did not officially announce the drop of support for Python 3.6, so I've asked in the issue https://github.com/pymssql/pymssql/issues/787 if it was the plan. If no, we should wait for new wheel; if yes, then we should decide to pin the version or support building t

[2022-11-14 11:15] qasidali861 commented on #2261
@sebix @waldbauer-certat

[2022-11-14 11:17] sebix commented on #2261
Did these bots ever start? What does `intelmqctl start MongoDB-Output` show?

[2022-11-14 11:20] qasidali861 commented on #2261
The bot start and than that error start popping.

2022-11-14T11:19:11.727000	MongoDB-Output	INFO	MongoDBOutputBot initialized with id MongoDB-Output and intelmq 3.0.2 and python 3.9.2 (default, Feb 28 2021, 17:03:44) as process 75336.
2022-11-14T11:19:11.727000	MongoDB-Output	INFO	Bot is starting.

These are the logs.

[2022-11-14 11:21] sebix commented on #2261
Okay, we need a bit more information: `intelmqctl run --loglevel DEBUG MongoDB-Output`

[2022-11-14 11:23] qasidali861 commented on #2261
/opt/intelmq/var/log/MongoDB-Output.log

I have check manually and there is now such path exists.

[2022-11-14 11:25] sebix commented on #2262
If you have the resources (time) to do so, feel free. But it's also OK to just drop support for it, if upstream does not provide it.

Quickest solution is something like
[code]
in the requirements file

[2022-11-14 11:26] qasidali861 commented on #2261
intelmqctl run --loglevel DEBUG MongoDB-Output

Where I need to run this one?

[2022-11-14 11:31] sebix commented on #2261
Just on the command line, same as other `intelmqctl` commands

[2022-11-14 11:34] qasidali861 commented on #2261
intelmqctl run --loglevel DEBUG MongoDB-Output
intelmqctl: command not found

[2022-11-14 11:36] sebix commented on #2261
That is improbable. A few minutes ago, intelmqctl did exist.

[2022-11-14 11:37] qasidali861 commented on #2261
I am using intelMQ manager Docker-Compose.

[2022-11-14 11:38] sebix commented on #2261
Then execute it inside the container.

[2022-11-14 11:41] kamil-certat commented on #2262
Sure, will do it if pymssql answers that they intended to drop 3.6 :)

[2022-11-14 11:43] qasidali861 commented on #2261
2022-11-14 11:19:11,727 - MongoDB-Output - INFO - MongoDBOutputBot initialized with id MongoDB-Output and intelmq 3.0.2 and python 3.9.2 (default, Feb 28 2021, 17:03:44) as process 75336.
2022-11-14 11:19:11,727 - MongoDB-Output - INFO - Bot is starting.
2022-11-14 11:19:11,926 - MongoDB-Output - ERROR - Bot initialization failed.
Traceback (most recent call last):
  File "/etc/intelmq/intelmq/lib

[2022-11-14 11:44] qasidali861 commented on #2261
Are you looking for this?

I have also install pymongo already.

[2022-11-14 11:45] sebix commented on #2261
The bot tries to do `import pymongo` and that fails. If it didn't fail, then the error message would be different.

How and where did you install pymongo? inside the container?

[2022-11-14 11:46] sebix commented on #2261
However, the bot should have written logs with the error message, even with the missing dependency.

[2022-11-14 11:58] qasidali861 commented on #2261
I think so I have figure it out.
Can you just let me know how can I enter in my docker container?
and than how to install in docker container these packages.

[2022-11-14 12:00] sebix commented on #2261
look at `docker ps` and copy the container id.
then run `docker exec -ti $containerid bash`, you're inside the container.

Run `apt install python3-pymongo`.
Although, I don't know if that is persistent across container restarts. @waldbauer-certat ?

[2022-11-14 12:06] qasidali861 commented on #2261
Thanks I got this
I got permission denied. Than use sudo so it's asking for password.
What is the default intelmq password?

[2022-11-14 12:08] sebix commented on #2261
phew, no idea. In this case I also can only relay to @waldbauer-certat

[2022-11-14 12:09] qasidali861 commented on #2261
@waldbauer-certat ???
Thanks Sebix <3
For always helping me out whenever I stucked in some problems

[2022-11-14 12:35] waldbauer-certat commented on #2261
Installing packages after a container has been started is not the recommended solution, it fixes the problem temporary, so I would add pymongo to the Dockerfile instructions.

The default intelmq password can be set via environment variables, see [here](https://github.com/certat/intelmq-docker/blob/main/entrypoint.sh#L9-L10).

In case you dont wanna set them, the default will be intelmq:intelmq

[2022-11-14 12:38] qasidali861 commented on #2261
intelmq is not in the sudoers file.  This incident will be reported.

Thanks @waldbauer-certat for this
I tried this and got this error

[2022-11-14 12:39] waldbauer-certat commented on #2261
What are you trying to do within the docker container with sudo? Installing the package?

What commands have you executed?

[2022-11-14 12:41] qasidali861 commented on #2261
sudo apt install python3-pymongo

Yup installing package
I am trying to install pymongo

without sudo permission got denied

[2022-11-14 12:43] waldbauer-certat commented on #2261
Can you send me the command you're trying to execute?

[2022-11-14 12:44] qasidali861 commented on #2261
**sudo apt install python3-pymongo**

[2022-11-14 12:45] waldbauer-certat commented on #2261
I am not able to reproduce, tried it with the latest docker container & worked

[2022-11-14 12:45] qasidali861 commented on #2261
i am also using the latest docker container .....

[2022-11-14 12:46] waldbauer-certat commented on #2261
You're sure that you are executing the commands inside the docker container & not on your base system?

[2022-11-14 12:47] qasidali861 commented on #2261
@waldbauer-certat If you also add the ElasticSearch as a dependency also will be really appreciated.

[2022-11-14 12:49] qasidali861 commented on #2261
![Screenshot from 2022-11-14 17-48-08](https://user-images.githubusercontent.com/78258973/201664344-d07303ba-5075-4104-a967-a7688fb8fc19.png)

[2022-11-14 12:50] qasidali861 commented on #2261
I am inside the docker container.
Tried both of the command

[2022-11-14 12:52] waldbauer-certat commented on #2261
Ah, are you using the intelmq-full-dev image?

[2022-11-14 12:54] qasidali861 commented on #2261
Yup!!!!!

[2022-11-14 12:55] waldbauer-certat commented on #2261
Ah I see, thats a bug then. The intelmq-full-dev is a contribution & they're not adding intelmq to sudoers. In the CERT.at maintained version we are using root, so thats why i am confused. We also added intelmq to sudoers, so thats why I cant reproduce.

[2022-11-14 12:57] qasidali861 commented on #2261
Oooops.....
Any solution for me to continue work?

[2022-11-14 12:58] waldbauer-certat commented on #2261
Add the following to `./docker/intelmq-full-dev/Dockerfile`
[code]

to the Dockerfile & rebuild the container. Then it should work without any problem :)

[2022-11-14 13:31] qasidali861 commented on #2261
Thanks @waldbauer-certat
Will be looking through this in a while and also let you know. How it works. :)

[2022-11-14 13:36] qasidali861 commented on #2261
Also for @sebix and @waldbauer-certat
Any of you can reply

Where to find the config file of my configured bot's.
I tried a lot but did'nt find that. This will also be very helpful.
Because it takes my a lot time to configure again and again when ever I am working on different machine.
Suggest me the config file, either than copy and paste the IntelMQ Manager whole.

[2022-11-14 16:53] sebix commented on #2261
`./example_config/intelmq/etc/` outside the container is mapped to `/opt/intelmq/etc/` inside the container, where the config files reside.

Don't ask me why the directory has been named *example* config, IMO that's a bad name choice, as it's the *actual* config.

[2022-11-15 06:07] qasidali861 commented on #2261
HI @sebix @waldbauer-certat
I just tried again.
Just clone the latest repo and run the docker container. Got the same error again.

MongoDB Log's

2022-11-15 05:51:55,701 - MongoDB-Output - INFO - MongoDBOutputBot initialized with id MongoDB-Output and intelmq 3.0.2 and python 3.9.2 (default, Feb 28 2021, 17:03:44) as process 230.
2022-11-15 05:51:55,701 - MongoDB-Output - INFO - Bot is starting.

[2022-11-15 07:10] qasidali861 commented on #2261
Adding one thing more

I have checked the entrypoint.sh   **intelmq-full**

And the username and password are defualt intelmq

But I am wondering why it's is giving me wrong password notification.

[2022-11-15 07:11] sebix commented on #2261
That's a bug: https://github.com/certat/intelmq-docker/issues/17#issuecomment-1314318830

[2022-11-15 07:13] qasidali861 commented on #2261
@sebix
Any idea when it will be resolved? or merged?

[2022-11-15 08:50] qasidali861 commented on #2261
@sebix @waldbauer-certat

I have fixed this issue manually but

Again it's giving me wrong password try again
I am entering intelmq as password while installing manual package.

[2022-11-15 08:59] sebix commented on #2261
I'm not a maintainer of that repository.

Did you re-build the docker image?

[2022-11-15 09:02] qasidali861 commented on #2261
Yes I have rebuild the docker images.

[2022-11-15 19:58] sebix commented on #2262
I didn't remember [3.6 is already EOL](https://devguide.python.org/versions/), as pymyssql upstream pointed out. I'm absolutely OK dropping the support for it in IntelMQ. Needs communication to the community via the lists, some doc updates and some smaller cleanups in the code.

[2022-11-16 05:22] qasidali861 commented on #2261
@waldbauer-certat

[2022-11-16 08:38] kamil-certat commented on #2262
Okay, but I think it's another issue - could you please create it?

I've noticed that the DEB packages still refers to compat level 9 and Python 3.5. Do we have a clear policy about supported Python/Debian/etc. versions?

[2022-11-16 08:38] #2262 closed, assigned to nobody

[2022-11-16 15:35] gethvi opened #2269 "DShield Susipicious Domains feed is discontinued"
From the feed itself:

[code]

[2022-11-16 15:50] waldbauer-certat commented on #2261
I've tested the latest pushes to intelmq-docker & everything works now.

[2022-11-16 16:11] qasidali861 commented on #2261
@waldbauer-certat
Can you double check please
I also just tested the latest push.
I am getting the same errors.
1. intelmq -> while manually installing sudo not working as a password.
2. in mongodb logs getting same error python3-pymongo is not installed
3. I am using **intelmq-dev**

Here are the logs for Mongo

2022-11-16 16:05:30,921 - MongoDB-Output - INFO - MongoDBOutputBot initialized with i

[2022-11-16 16:13] qasidali861 commented on #2261
I am not using the intelmq-full-dev
Using the intelmq-full.

[2022-11-16 22:22] sebix commented on #2262
PRs welcome.

The reality is simple: If someone supports it, it's supported.
My guideline was: Is the Python/OS version EOL? Then drop it. Is it old and requires special attention/workarounds: Ask on the ML if someone else wants to maintain it, otherwise drop it. Do I need to support it (funded projects, partners, internal reasons): Support it. Everything else: Support it, if it works.
YMMV

[2022-11-17 01:49] qasidali861 commented on #2261
@waldbauer-certat I got this
I think their is some issue with my VM
Just tried locally it's run.

I just could not find how to run **intelmq-full-dev** I was reading 2 or 3 day's ago documentation but for now I could not find it out can you just give me a link will be appreciated.
@sebix

[2022-11-17 02:14] qasidali861 commented on #2261
@sebix @waldbauer-certat
Which version's of ElasticSearch are supported by IntelMQ. I just read that 7 will work.
I am using 7.10.0. Got connection refused.

Log's for ElasticSearch

2022-11-17 02:03:08,283 - Elasticsearch-Output - INFO - ElasticsearchOutputBot initialized with id Elasticsearch-Output and intelmq 3.0.2 and python 3.9.2 (default, Feb 28 2021, 17:03:44) as process 634.
2022-11-17 02

[2022-11-17 07:50] sebix commented on #2261
"connection refused" does not appear to be a compatibility issue, but rather a networking/configuration problem.

What I am doing is:

[code]
I don't know if that's the recommended way or not, but it kinda works.

[2022-11-17 09:01] qasidali861 commented on #2261
Hi
I got some idea about this.

I want to store the feed locally running ELK.
Guide me how can I do this.
@waldbauer-certat @sebix

[2022-11-17 09:11] waldbauer-certat commented on #1768
@gethvi kamil-certat is working on the issue now :) Just for your information

[2022-11-17 09:11] waldbauer-certat commented on #1768
Or do you still work on it?

[2022-11-17 09:58] sebix commented on #2261
You can find the documentation of the ES output bot here: https://intelmq.readthedocs.io/en/latest/user/bots.html#elasticsearch-output-bot

[2022-11-17 11:18] kamil-certat opened #2272 "Drop support for Python 3.6"
Python 3.6 is already EOL. We can drop support and update docs, requirements files and package definitions.

Before that, the question should be sent to the mailing list to be sure that no one needs/wants to maintain it.

Follow of #2262

[2022-11-17 13:26] qasidali861 commented on #2261
Hi @sebix @waldbauer-certat
I have made changes in in docker-compose.yml file
ElasticSearch is running fine but I am getting again the same error. Connection Refused
the logs are above

### ```
version: "3"
services:
    redis:
        image: redis:latest
        volumes:
            - ./example_config/redis/redis.conf:/usr/local/etc/redis/redis.conf
        command:
            - redis-server

[2022-11-17 14:12] gethvi commented on #1768
Nope, haven't event started yet. :-(

I am happy it will be implemented, thanks!

[2022-11-18 21:20] laciKE opened #2273 "IntelMQ 3.0.2 not installable from pip"
[Pip website](https://pypi.org/project/intelmq/3.0.2/) states that the current version of IntelMQ is 3.0.2 and also that we could install it with command: `pip install intelmq==3.0.2`, which results into the error:

[code]

In pip, the version is stated as 3.0.2.post1, which is also not installable, because there is an inconsistency in filename and metadata:
[code]

This means that command `pip in

[2022-11-19 08:16] laciKE commented on #2248
@sebix thanks, this helps. However, it uses home:sebix:intelmq:unstable repository, while the [documentation](https://intelmq.readthedocs.io/en/maintenance/user/installation.html#native-packages) still references the home:sebix:intelmq repository, which has the expired key:

[code]

[2022-11-19 08:49] sebix commented on #2248
I re-built a package to re-create the repository:
[code]
You may now get an update for package without any changes.

[2022-11-21 06:20] qasidali861 commented on #2261
Thanks to @sebix and @waldbauer-certat
Issue Resolved.

Just a one last query.
How can we change the default field names to our own field names?
I checked but didn't find out for this any expert.

[2022-11-21 11:37] kamil-certat commented on #2272
The email was sent.

For clean up:
the `harmonization.py` contains some compatibility code for Python lower than 3.6

[2022-11-21 12:13] waldbauer-certat commented on #2261
What do you mean by default field names? Are you talking about the IDF ( IntelMQ Data Format )?

It might be worth opening another issue/ask on the mailing list as this issue gets out of scope "Error loading bot log information"

[2022-11-21 12:14] qasidali861 commented on #2261
yes
Just like that
**feed.provider** so I just want to change it as **provider**

[2022-11-21 12:16] waldbauer-certat commented on #2261
Keep in mind, changing fields like that will break some bots in intelmq. The IDF is the IntelMQ internal data format, so bots will work as expected.

[2022-11-21 12:18] qasidali861 commented on #2261
and also need one more information.

**time.obesrvation** field is included while creating raw or it is created without including **time.obesrvation**.

[2022-11-21 12:18] qasidali861 commented on #2261
Sure Got it

[2022-11-21 12:20] sebix commented on #2261
raw is the original data from the data source. `time.source` is an information by the collector ("when the data was observed/fetched by IntelMQ"), so it's not in raw.

[2022-11-21 12:21] waldbauer-certat commented on #2261
The IDF is defined in the harmonization.conf and the time.observation is documented here https://github.com/certtools/intelmq/blob/develop/intelmq/etc/harmonization.conf#L354-L357.

[2022-11-21 12:23] sebix commented on #2261
We also have that information in the actual docs :) https://intelmq.readthedocs.io/en/maintenance/dev/harmonization-fields.html

[2022-11-21 12:33] qasidali861 commented on #2261
@sebix
I understand about both of them things.

I am confuse about the de duplicator   expert.

My question is that

On what basis raw is created in base64 encoding.
Are you processing the feeds extract from the Feed Provider or on what fields raw is depending or it's differentiating from one event to another event or how are you creating raw field.

[2022-11-21 12:51] sebix commented on #2261
raw is before parsing and it's never changed by any bot. you can put the `raw` data into the parser and you should always get the same event.
of course the raw differs for all you messages, otherwise they would be all identical.

for example with a csv file as input, the parser dumps the original comma-separated line in the raw field additionally to parsing the csv data. if the csv file had a head

[2022-11-21 12:52] gethvi opened #2275 "Taichung feed seems dicontinued"
The feed URL https://www.tc.edu.tw/net/netflow/lkout/recent/ returns 404. The website has completely changed (I remember the old looks). It is currently available only in Chinese, I tried searching for the feed using google translator but didn't find anything. The button for English language redirects to a completely different site.

I think we can safely assume the feed is dead.

[2022-11-21 13:00] qasidali861 commented on #2261
Okay so if I summarize.
It got attached to differentiate each event at own?

[2022-11-21 13:01] sebix commented on #2261
Sorry, I don't understand

[2022-11-21 13:10] qasidali861 commented on #2261
Let me explain you again.

raw is basically attached  to differentiate each event from one another?

Here let me give you another scenario.

If I run a bot on 6:00AM and  rate_limit is 3600. So it collected the all events from last 3600 second's.

So than I stop and run again bot. So is it able differentiate to filter the last extracted events. and also if we got the raw again same so it will be d

[2022-11-21 13:15] sebix commented on #2261
No, it's not meant for differentiation, the event data differs by itself anyway. If you don't need it, you can also remove it: https://intelmq.readthedocs.io/en/maintenance/user/FAQ.html#removing-raw-data-for-higher-performance-and-less-space-usage

Use the deduplicator expert after the parsers to remove these duplicates. the dedupliator should ignore the raw-field actually for hashing the events,

[2022-11-22 15:54] gethvi opened #2278 "Harmonization DateTime incorrect handling of naive time strings"
Considering this function of `DateTime` class:
https://github.com/certtools/intelmq/blob/122e3a386581688593878014cba457dd1c1e5599/intelmq/lib/harmonization.py#L421-L436

In particular the line:
[code]

This causes that naive time strings (without timezone information) are being considered as being in a timezone of the local computer. My computer is set to a UTC +01:00 timezone and this is the resu

[2022-11-22 16:00] gethvi commented on #2278
Also if we are phasing out Python 3.6 (https://github.com/certtools/intelmq/issues/2272) some additional functions can be dropped. Such as `DateTime.parse_utc_isoformat` can be replaced by built in `datetime.datetime.fromisoformat` (introduced in 3.7).

[2022-11-22 17:08] gethvi commented on #2278
I am wrong about `astimezone`, still investigating.

[2022-11-23 13:40] kamil-certat commented on #2273
@sebix Would you have a time to look at this?

[2022-11-23 13:53] kamil-certat commented on #2272
New reason for dropping: Github Action doesn't have Python 3.6 for the Ubuntu 22.04, which now is the `ubuntu-latest`. This means, our CI is at the moment blocked.

[2022-11-23 14:41] sebix commented on #2273
*sigh* pip/pypi is complicated.

However: How could we resolve the situation? Only by releasing a new version?

@laciKE Does `pip install intelmq==3.1.0rc1.post1` work?

[2022-11-23 15:01] kamil-certat commented on #2273
Yea, I think so. The 3.0.3 with the corresponding correct version in the package.

[2022-11-23 15:57] sebix commented on #2273
Or a post2 with consistent versions^^

[2022-11-23 22:39] laciKE commented on #2273
@sebix yes, `pip3 install intelmq==3.1.0rc1.post1` works, I have used it as a temporary workaround together with intelmq-api==3.1.0 and intelmq-manager==3.1.0rc1